<template>
	<div class="filter">
		<div class="grid_filter">
		<!-- 	<a @click="isActive= !isActive">
				<img src="../assets/smjestaj.svg" />
				<h5>SMJEŠTAJ</h5>
			</a>
			<a @click="isActive= !isActive">
				<img src="../assets/hrana.svg" />
				<h5>HRANA I PIĆE</h5>
			</a>
			<a @click="isActive= !isActive">
				<img src="../assets/kultura.svg" />
				<h5>KULTURA I ZABAVA</h5>
			</a>
			<a @click="isActive= !isActive">
				<img src="../assets/aktivni.svg" />
				<h5>AKTIVNI SADRŽAJI</h5>
			</a>
			<a @click="isActive= !isActive">
				<img src="../assets/zdravlje.svg" />
				<h5>ZDRAVLJE I NJEGA</h5>
			</a>
			<a @click="isActive= !isActive">
				<img src="../assets/izleti.svg" />
				<h5>IZLETI</h5>
			</a>

			<a @click="isActive= !isActive">
				<img src="../assets/priroda.svg" />
				<h5>PRIRODA</h5>
			</a>
			<a @click="isActive= !isActive">
				<img src="../assets/nautika.svg" />
				<h5>NAUTIKA</h5>
			</a>
			<a @click="isActive= !isActive">
				<img src="../assets/prijevoz.svg" />
				<h5>PRIJEVOZ</h5>
			</a>
			<a @click="isActive= !isActive">
				<img src="../assets/paket.svg" />
				<h5>PAKET ARANŽMANI</h5>
			</a>
			<a @click="isActive= !isActive">
				<img src="../assets/ostala.svg" />
				<h5>OSTALA PONUDA</h5>
			</a>
			<a @click="isActive= !isActive">
				<img src="../assets/vodici.svg" />
				<h5>VODIČI</h5>
			</a> -->
				<a @click="isActive = !isActive"
		          :key="index"
		          
		          v-on:click="klikni($event, index)"
		          v-for="(option, index) in options"
		        >
		         
		          <img :src="option.img" />
		          <h5>{{ option.title }}</h5>
		        </a>
		</div>


		<!--   <multiselect v-model="value" placeholder="" label="title" track-by="title" :options="options" :option-height="104" :custom-label="customLabel" :show-labels="false">
  <template @click="isActive= !isActive" slot="singleLabel" slot-scope="props">
  	<img class="option__image" :src="props.option.img" alt=""><span class="option__desc"><span class="option__title">{{ props.option.title }}</span></span></template>

  <template  slot="option" slot-scope="props"><img class="option__image" :src="props.option.img" alt="">
    <div class="option__desc"><span class="option__title">{{ props.option.title }}</span><span class="option__small">{{ props.option.desc }}</span></div>
  </template>
</multiselect>  -->

<ClientFilter2></ClientFilter2>

  <!-- <ClientFilterSub v-if="selected >= 0 && isActive"> </ClientFilterSub> -->

  <ClientFilterSub v-if="selected == 1 && isActive"> </ClientFilterSub>

 	 <div v-if="selected == 0 && isActive">testing</div> 

	</div>




</template>

<script>
// @ is an alias to /src
// import ClientQuery from '@/components/ClientQuery.vue'
import ClientFilterSub from '@/components/ClientFilterSub.vue'
// import Multiselect from "vue-multiselect";
import ClientFilter2 from '@/components/ClientFilter2.vue'

// register globally
// Vue.component('multiselect', Multiselect)

export default {
	name: "filter",
	components: {
		// Multiselect,
		ClientFilterSub,
		ClientFilter2
	},
	data() {
		return {
			isActive: false,
			selectedValue: [],
			message: "",
			selected: "",
			testing: "testing",
			options: [
				{
					title: "SMJEŠTAJ",

					img: require("../assets/smjestaj.svg")
				},
				{
					title: "HRANA I PIĆE",

					img: require("../assets/hrana.svg")
				},
				{
					title: "KULTURA I ZABAVA",

					img: require("../assets/kultura.svg")
				},
				{
					title: "AKTIVNI SADRŽAJI",

					img: require("../assets/aktivni.svg")
				},
				{
					title: "ZDRAVLJE I NJEGA",

					img: require("../assets/zdravlje.svg")
				},
				{
					title: "IZLETI",

					img: require("../assets/izleti.svg")
				},
				{
					title: "PRIRODA",

					img: require("../assets/priroda.svg")
				},
				{
					title: "NAUTIKA",

					img: require("../assets/nautika.svg")
				},
				{
					title: "PRIJEVOZ",

					img: require("../assets/prijevoz.svg")
				},
				{
					title: "PAKET ARANŽMANI",

					img: require("../assets/paket.svg")
				},
				{
					title: "OSTALA PONUDA",

					img: require("../assets/ostala.svg")
				},
				{
					title: "VODIČI",

					img: require("../assets/vodici.svg")
				}
			]
		};
	},
	methods: {
		klikni(ev, index) {
      console.log(ev); // this is the event
      console.log(index); // i is index of v-for
      this.selected = index;
     	
    }
		
	}
};
</script>

<!-- New step!
     Add Multiselect CSS. Can be added as a static asset or inside a component. -->
<!-- <style src="vue-multiselect/dist/vue-multiselect.min.css"></style> -->

<style scoped lang="scss">


//  RESPONZIVA ***********

 
@media only screen and (max-width: 768px) {
	div.grid_filter {
		display: none;
	}
	.filter div.multiselect__select {
		left: auto;
		z-index: 1;
	}
	div.filter {
	padding-bottom: 0rem; 
}
}
@media only screen and (min-width: 768px) {
	div.multiselect {
		display: none;
	}
}


@mixin hover-border-crvena($color: $plava) {
	&:hover {
		background: $color;
		border-bottom: 8px solid $color;
		color: #fff;
		img {
			filter: grayscale(1) brightness(100);
		}
		h5 {
			color: #fff;
		}
	}
}


//  GRID FILTER ***********

.grid_filter {
	display: grid;
	// grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	grid-gap: 3rem 2rem;

	margin: auto 100px;
	text-align: left;
	a {
		text-decoration: none;
		text-align: center;
		padding-top: 1rem;
		cursor: pointer;
		h5 {
			color: $plava;
			margin-bottom: 0.8rem;
		}
	}
	a:nth-child(1) {
		border-bottom: 8px solid $smjestaj;

		&:hover {
			@include hover-border-crvena($color: $smjestaj);
		}
	}
	a:nth-child(2) {
		border-bottom: 8px solid $hrana;
		&:hover {
			@include hover-border-crvena($color: $hrana);
		}
	}
	a:nth-child(3) {
		border-bottom: 8px solid $kultura;
		img {
			height: 61px;
		}
		&:hover {
			@include hover-border-crvena($color: $kultura);
		}
	}
	a:nth-child(4) {
		border-bottom: 8px solid $aktivni;
		&:hover {
			@include hover-border-crvena($color: $aktivni);
		}
	}
	a:nth-child(5) {
		border-bottom: 8px solid $zdravlje;
		img {
			height: 62px;
		}
		&:hover {
			@include hover-border-crvena($color: $zdravlje);
		}
	}
	a:nth-child(6) {
		border-bottom: 8px solid $izleti;
		img {
			height: 62px;
		}
		&:hover {
			@include hover-border-crvena($color: $izleti);
		}
	}
	a:nth-child(7) {
		border-bottom: 8px solid $priroda;
		&:hover {
			@include hover-border-crvena($color: $priroda);
		}
	}
	a:nth-child(8) {
		border-bottom: 8px solid $nautika;
		&:hover {
			@include hover-border-crvena($color: $nautika);
		}
	}
	a:nth-child(9) {
		border-bottom: 8px solid $prijevoz;
		&:hover {
			@include hover-border-crvena($color: $prijevoz);
		}
	}
	a:nth-child(10) {
		border-bottom: 8px solid $paket;
		&:hover {
			@include hover-border-crvena($color: $paket);
		}
	}
	a:nth-child(11) {
		border-bottom: 8px solid $ostalo;
		&:hover {
			@include hover-border-crvena($color: $ostalo);
		}
	}
	a:nth-child(12) {
		img {
			height: 86px;
		}
		border-bottom: 8px solid $vodici;
		&:hover {
			@include hover-border-crvena($color: $vodici);
		}
	}
}

img.option__image {
	height: 30px;
	padding-right: 10px;
}

.active {
	display: block;
}

.filter {
	padding-bottom: 2rem; 
}

// .filter{
// 	.multiselect__option {
// 	display: flex !important;
// 	// .option__title {
// 	//   font-weight: bold;
// 	//   color: $plava;
// 	//   font-size: 1.5rem;
// 	// }
// }
// li.multiselect__element {
// 	border: 1px solid #ccc;
// 	margin: 0.3rem;
// }

// .multiselect__single {
// 	.option__title {
// 		font-weight: bold;
// 	}
// }
// }

</style>
