<template>
  <div id="kategorije">
    <div class="content">
      <div class="categoriesHolder">
        <div class="catLink" v-for="(category, index) in categories" v-bind:key="index">
          <div
            class="catClick"
            @click="isActive = category.catID,setIndexAndActive($event, index)"
            v-bind:class="{active:(isActive == category.catID)}"
          >
            <img :src="category.imageName" />
            <h5>{{category.categoryName}}</h5>
            <span :class="'cat' + category.catID" class="colorBot"></span>
          </div>
        </div>
        <!--    <div class="flexEmpty"></div>
                            <div class="flexEmpty"></div>
                            <div class="flexEmpty"></div>
        <div class="flexEmpty"></div>-->
      </div>

      <!-- <ClientFilterMobile @setIndexAndActive="loadCatOffers"></ClientFilterMobile> -->
      <div class="dropdownSelect">
        <div @click="isActive = !isActive" class="dropdown">
          <div class="ifClicked">
            <div
              id="dropdownSelectDefault"
              v-if="selected == -1"
              placeholder="Odaberi vrstu ponude"
              :class="{selected: this.selected}"
            >
              <h4>Odaberi vrstu ponude</h4>
              <img class="strelica" src="../assets/arrow.svg" />
            </div>
            <div id="dropdownSelectPicked" v-else>
              <img class="ikona" v-bind:src="categories[selected].imageName" />
              <h4>{{ categories[selected].categoryName }}</h4>
              <img class="strelica" src="../assets/arrow.svg" />
            </div>
          </div>
        </div>
        <div v-bind:class="{ active: isActive }" class="dropdownContent">
          <div class="wrap">
            <!-- https://stackoverflow.com/questions/50188465/how-to-get-both-index-and-event-in-v-for-and-v-onclick -->
            <div
              class="dropdownContentWrap"
              @click="isActive = !isActive"
              v-bind:key="index"
              v-on:click="setIndexAndActive($event, index)"
              v-for="(category, index) in categories"
            >
              <!-- <pre>{{ option }}</pre>
              <pre>{{ index }}</pre>-->
              <img :src="category.imageName" />
              <h4>{{ category.categoryName }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// @ is an alias to /src

// import ClientFilterSub from "@/components/ClientFilterSub.vue";
// import ClientFilterMobile from "@/components/ClientFilterMobile.vue";

export default {
  name: "ClentFilter",
  components: {
    // ClientFilterSub,
    // ClientFilterMobile,
  },
  // props: ["options"],
  data() {
    return {
      isActive: false,
      selected: -1,
      active_el: "",
      categories: [
        {
          categoryName: "Smještaj",
          imageName: require("@/assets/smjestaj.svg"),
          catID: 1,
          subCat: [
            {
              name: "Hoteli",
              subSubCat: ["***", "****", "*****", "OMH"]
            },
            {
              name: "Privatni smještaj / OPG",
              subSubCat: ["Apartmani", "Kuće/Vile", "Sobe"]
            },
            {
              name: "Kampovi",
              subSubCat: []
            },
            {
              name: "Hosteli",
              subSubCat: []
            },
            {
              name: "Ostali smještaj",
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Hrana i piće",
          imageName: require("@/assets/hrana.svg"),
          catID: 2,
          subCat: [
            {
              name: "Restorani",
              subSubCat: []
            },
            {
              name: "Bistro/Caffe Barovi",
              subSubCat: []
            },
            {
              name: "Kušaonice",
              subSubCat: []
            },
            {
              name: "Ostalo",
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Kulturne atrakcije",
          imageName: require("@/assets/kultura.svg"),
          catID: 3,
          subCat: [
            {
              name: "Muzeji",
              subSubCat: []
            },
            {
              name: "Galerije",
              subSubCat: []
            },
            {
              name: "Kulturne znamenitosti",
              subSubCat: []
            },
            {
              name: "Događanja",
              subSubCat: []
            },
            {
              name: "Zabava",
              subSubCat: []
            },
            {
              name: "Ostalo",
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Aktivni odmor",
          imageName: require("@/assets/aktivni.svg"),
          catID: 4,
          subCat: [
            {
              name: "Šetanje i planinarenje",
              subSubCat: []
            },
            {
              name: "Rafting",
              subSubCat: []
            },
            {
              name: "Biciklizam",
              subSubCat: []
            },
            {
              name: "Zračni i vodeni sportovi",
              subSubCat: []
            },
            {
              name: "Događanja",
              subSubCat: []
            },
            {
              name: "Ostalo",
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Prirodne atrakcije",
          imageName: require("@/assets/priroda.svg"),
          catID: 5,
          subCat: [
            {
              name: "Parkovi",
              subSubCat: [
                "Nacionalni parkovi",
                "Parkovi prirode",
                "Ostali lokaliteti prirode"
              ]
            },
            {
              name: "Speleologija",
              subSubCat: []
            },
            {
              name: "Ostalo",
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Wellness i zdravlje",
          imageName: require("@/assets/zdravlje.svg"),
          catID: 6,
          subCat: [
            {
              name: "Wellness",
              subSubCat: []
            },
            {
              name: "Zdravstvene usluge",
              subSubCat: []
            },
            {
              name: "Lječilišta",
              subSubCat: []
            },
            {
              name: "Ostalo",
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Nautika",
          imageName: require("@/assets/nautika.svg"),
          catID: 7,
          subCat: []
        },
        {
          categoryName: "Izleti",
          imageName: require("@/assets/izleti.svg"),
          catID: 8,
          subCat: []
        },
        {
          categoryName: "Prijevoz",
          imageName: require("@/assets/prijevoz.svg"),
          catID: 9,
          subCat: [
            {
              name: "Kopneni promet",
              subSubCat: []
            },
            {
              name: "Zračni promet",
              subSubCat: []
            },
            {
              name: "Morski promet",
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Paket aranžmani",
          imageName: require("@/assets/paket.svg"),
          catID: 10,
          subCat: []
        },
        {
          categoryName: "Ruralni turizam",
          imageName: require("@/assets/ruralni.svg"),
          catID: 11,
          subCat: [
            {
              name: "Seoska domaćinstva",
              subSubCat: []
            },
            {
              name: "Degustacije i proizvodi",
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Ostale Ponude",
          imageName: require("@/assets/ostala.svg"),
          catID: 12,
          subCat: []
        }
      ]
    };
  },
  methods: {
    setIndexAndActive(ev, index) {
      //console.log(ev); // this is the event
      //console.log(index); // i is index of v-for

      //   selected: -1,
      //   active_el: "",

      if (index !== this.selected) {
        this.selected = index;
        this.active_el = index++;
        this.$emit("setIndexAndActive", index);
      } else {
        this.selected = -1;
        this.active_el = "";
        this.isActive = 0;
        index = 0;
        this.$emit("setIndexAndActive", index);
      }

      // this.selectedValue.push(index);
      // console.log(this.selectedValue)
      let self = this;
      window.addEventListener("click", function(e) {
        if (!self.$el.contains(e.target)) {
          // self.isActive = false
        }
      });
    }
  }
};
</script>
<style scoped lang="scss">
/*----------  RESPONZIVA ----------*/

@media only screen and (max-width: 768px) {
  div.filter {
    padding-bottom: 0rem;
  }
}

@media only screen and (min-width: 768px) {
  div.dropdownSelect {
    display: none;
  }
}

/*----------  NOVI DROPDOWN izbornik  ----------*/

.dropdown {
  position: relative;
  display: flex;

  h4 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    // padding-top:  0.9rem
    // padding: 0.3rem 8rem 0.3rem 4rem;
  }

  .strelica {
    padding: 0.6rem;
  }

  .ifClicked {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;

    #dropdownSelectPicked {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    img {
      height: 10px;
    }

    .ikona {
      height: 1.6rem;
      // padding-left: 3rem;
    }
  }
}

/*----------  DROPDOWN default - izaberi ponudu  ----------*/

#dropdownSelectDefault {
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 0.5rem;

  img {
    height: 20px;
  }

  .strelica {
    height: 0.6rem;
  }

  // h4 {

  //  padding: 0rem 8rem 0rem 4rem;
  // }
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  // padding: 12px 16px;
  z-index: 1;
  //centriranje
  margin-left: auto;
  margin-right: auto;
  left: 20px;
  right: 20px;
  //scroll
  height: 300px;
  overflow: scroll;

  img {
    width: 30px;
    padding-right: 0.5rem;
    height: 30px;
  }

  .wrap {
    .dropdownContentWrap {
      display: flex;
    }

    h4 {
      margin: 0 0.3rem;
      padding: 0.5rem 0;
      text-transform: uppercase;
    }

    div:nth-child(1) {
      border-bottom: 5px solid $smjestaj;
    }

    div:nth-child(2) {
      border-bottom: 5px solid $hrana;
    }

    div:nth-child(3) {
      border-bottom: 5px solid $kultura;
    }

    div:nth-child(4) {
      border-bottom: 5px solid $aktivni;
    }

    div:nth-child(5) {
      border-bottom: 5px solid $zdravlje;
    }

    div:nth-child(6) {
      border-bottom: 5px solid $izleti;
    }

    div:nth-child(7) {
      border-bottom: 5px solid $priroda;
    }

    div:nth-child(8) {
      border-bottom: 5px solid $nautika;
    }

    div:nth-child(9) {
      border-bottom: 5px solid $prijevoz;
    }

    div:nth-child(10) {
      border-bottom: 5px solid $paket;
    }

    div:nth-child(11) {
      border-bottom: 5px solid $ostalo;
    }

    div:nth-child(12) {
      border-bottom: 5px solid $vodici;
    }

    div {
      padding: 0.5rem;
      margin: 0.6rem;
      box-shadow: 1px 3px 3px #ccc;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.active {
  display: block;
}

/*----------  TRANZICIJE - fade  ----------*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
 {
  opacity: 0;
}

$cat01: #cf1f25;
$cat02: #d26a09;
$cat03: #fac401;
$cat04: #afc624;
$cat05: #829427;
$cat06: #43b17a;
$cat07: #419cd6;
$cat08: #283476;
$cat09: #55d6ff;
$cat10: #a8529a;
$cat11: #e84490;
$cat12: #dcdcdc;

.arrow::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("~@/assets/ArrowSvg-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 8px;
}

.arrow {
  cursor: pointer;
}

.subSub {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
}

.categoriesHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 30px;

  .flexEmpty {
    width: 23%;
    height: 1px;
    visibility: hidden;
  }
}

.catLink {
  width: 15%;
  margin: 40px 0px 0px;
  position: relative;

  img {
    height: 50px;
  }
}

.colorBot {
  height: 15px;
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.catClick {
  z-index: 1000;
  position: relative;
  display: block;
  cursor: pointer;

  & > .colorBot {
    transition: 0.3s ease-in-out;
  }

  & > img {
    filter: brightness(1) grayscale(0) contrast(1);
    transition: 0.14s;
  }

  & > h5 {
    transition: 0.14s;
    min-height: 42px;
    text-transform: uppercase;
  }

  &.active > .colorBot {
    height: 155px;
  }

  &.active > img {
    filter: brightness(5) grayscale(1) contrast(2);
  }

  &.active > h5 {
    color: white !important;
  }

  &:hover > .colorBot {
    height: 155px;
  }

  &:hover > img {
    filter: brightness(5) grayscale(1) contrast(2);
  }

  &:hover > h5 {
    color: white !important;
  }
}

.catSub {
  position: absolute;
  width: 100%;
  top: 94%;
  z-index: 99999999999999999;
  color: white;
  font-size: 16px;
  font-weight: normal;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);

  button {
    background-color: rgba(0, 0, 0, 0.08);
    border: none;
    color: white;
    outline: none;
    width: 100%;
    margin-bottom: 10px;

    img {
      transform: rotate(180deg);
      height: 13px;
      margin: 10px;
    }
  }

  div {
    padding: 8px 0px;
    text-transform: uppercase;

    hr {
      padding: 0px 0px;
      color: white;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      margin: 8px 0px 0px;
    }
  }
}

.cat1 {
  background-color: $cat01;
}

.cat2 {
  background-color: $cat02;
}

.cat3 {
  background-color: $cat03;
}

.cat4 {
  background-color: $cat04;
}

.cat5 {
  background-color: $cat05;
}

.cat6 {
  background-color: $cat06;
}

.cat7 {
  background-color: $cat07;
}

.cat8 {
  background-color: $cat08;
}

.cat9 {
  background-color: $cat09;
}

.cat10 {
  background-color: $cat10;
}

.cat11 {
  background-color: $cat11;
}

.cat12 {
  background-color: $cat12;
}

@media only screen and (max-width: 600px) {
  .catLink {
    width: 30%;

    img {
      height: 30px;
    }
  }

  .content h2 {
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 600px) {
  .catLink {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .categoriesHolder {
    display: none;
  }
}
</style>