<template>
  <div>
    
    <div class="header-slika">
      <img src="../assets/hvala.svg" />
    </div>
    <carousel :per-page="1" :autoplay= true>
      <slide> <img src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Obitelj-1.jpg" /><img class="dobrodosli" src="@/assets/hvala.svg" /></slide>
      <slide><img src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Cura-1.jpg" /><img class="dobrodosli" src="@/assets/hvala.svg" /></slide>
      <slide><img src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Stariji-par-Horizontalna-1.jpg" /><img class="dobrodosli" src="@/assets/hvala.svg" />  </slide>
      <slide><img src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Otac-i-sin-1.jpg" /><img class="dobrodosli" src="@/assets/hvala.svg" /></slide>
    </carousel>
  </div>
</template>

<script>
// @ is an alias to /src
// import ClientQuery from '@/components/ClientQuery.vue'
import { Carousel, Slide } from "vue-carousel";

export default {
  name: "ClientHeader",
  components: {
    Carousel,
    Slide
  },
  data: function() {
    return {};
  }
};
</script>
<style lang="scss" scoped>
.VueCarousel-pagination{
  display: none;
}
.VueCarousel-slide{
  position: relative;
}
.VueCarousel-pagination{
  display: none;
}
.VueCarousel-inner{
  // height: 39vh;
  padding-top: 3rem;
  img{
    width: 100%;
  }
  .dobrodosli {
    position: relative ;
    // top: 35%;
    // width: 35% !important;
    // z-index: 10;
    // /* margin: auto; */
    // left: 35%;
     margin-left: auto;
  margin-right: auto;
  width: 55%;
      top: -50%;
}
}
.header-slika {
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 37vh 0;
  background-image: url("~@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Obitelj-1.jpg");
  img {
    width: 80%;
    max-width: 600px;
  }
}
</style>

