/* eslint-disable */
<template>

	<div id="footer">
		<back-to-top>
				<button type="button" class="btn btn-info btn-to-top"><img style="width:20px;" src="@/assets/scrolltoTop.svg" /></button>
		</back-to-top>
		<div class="containerFooter">
			  <!-- 1 -->
			  <div class="slikeFooter">
			 <a href="http://croatia.hr/hr-HR/dozivi-hrvatsku/Puna-zivota"><img class="footerHtz" style="max-width: 175px;" src="@/assets/htz_logo.svg"></a> 
		
			  </div>
			  <!-- 2 -->
			  <div class="slikeFooter" style="margin-left:0;">
				 <a href="https://mint.gov.hr/"><img style="padding:0;height:90px;" src="@/assets/hrv_logo.svg"></a> 

			</div>
			  <!-- 3 -->
			  <div class="footer__mreze" >
				
				<a href="https://hr-hr.facebook.com/croatia.hr/" target="_blank"><img style="width:29px;" src="@/assets/fb_logo.svg" /> </a>
				<a href="https://www.youtube.com/user/croatia" target="_blank"><img src="@/assets/yt_logo.svg" /> </a> 
				<a href="https://twitter.com/croatia_hr" target="_blank"><img src="@/assets/tw_logo.svg" /> </a> 
				<a href="https://www.instagram.com/croatiafulloflife/" target="_blank"><img style="width:30px;" src="@/assets/ins_logo.svg" /></a> 
	
			  </div>
			  <!-- 4 -->

			<div class="prava">
				<p><router-link to="/uvjeti-koristenja">Uvjeti korištenja</router-link></p>
				<p><a style="cursor: pointer" @click="changehideCookieA">Postavke kolačića</a></p>
				<p><router-link to="/politika-kolacica"><span>Pravila kolačića</span></router-link></p>
				<p><router-link to="/pravila-i-uvjeti-sudjelovanja"><span>Opći uvjeti sudjelovanja</span></router-link></p>
			</div>
			
			 
	
		  </div>
		
		  <div class="row">
			<div><p class="copyright">Copyright &copy; 2020. Hrvatska turistička zajednica</p></div>
			<div><p class="copyright">Tel.: <a href="tel:+38514699353">01/ 4699 353</a>, <a href="tel:+38512092954">01/2092 954</a> i <a href="tel:+38514699356">01/ 4699 356</a> &nbsp;|&nbsp; E-mail: <a href="mailto:info@tjedanodmoravrijedan.hr">info@tjedanodmoravrijedan.hr</a></p></div>
		  </div>
	  </div>
</template>

<script>
// @ is an alias to /src
// import ClientQuery from '@/components/ClientQuery.vue'
import BackToTop from 'vue-backtotop'
export default {
	name: "ClientFooter",
	components: {BackToTop },

   methods: {
        changehideCookieA(){
           // console.log('test')
           console.log(this)
            // return this.$store.$state.hideCookie = false;
            this.$store.commit('changehideCookie', false)
        }
    }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

/*SCROLL TO TOP*/
/* in your css */
.btn-to-top {
     width: 39px;
    height: 40px;
    /* padding: 10px 16px; */
    border-radius: 8%;
    line-height: 22px;
    background: #CF1F25;
    border: none;
    outline: none;
    cursor: pointer;

}

#footer{
	background: $plava;
	font-weight:500;

}

.containerFooter{
  display: flex;
  flex-wrap: wrap;
  width:80%;
  margin:auto;
}



h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.slikeFooter{
  margin: auto;
  margin-left:10px;
  img{
    padding:35px;
    max-width: 225px;
  }
  
}

hr{
  border-bottom: 1px solid white;
  max-width: 85%;
  opacity: 30%;
}

.footer__mreze{
 
  display: flex;
  margin: auto;
  margin-left: 0;
  
  img{
    width:35px;  
  }
  a{
    padding:10px;
  }
}

.prava{
	
  text-align: left;
  padding: 25px 15px;
  line-height: 1.6;
  font-size: 0.8rem;
  p a{
	margin-bottom:0px;
	text-decoration: none;
	color:white;
  }

}

.copyright{
 margin:0px;
padding-bottom:15px;
font-size:12px;  
color:white;
width: 49vw;


a{
	text-decoration: none;
	color: white;
}





}

.row {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
	
	}

@media only screen and (max-width: 1200px) {
.containerFooter{
  width:90%;
}
.prava{
  text-align: center;
  display: flex;
  width:100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -15px;

  p{
    margin: 0;
    padding: 0.5rem;
  }
  
}
.footer__mreze{
	margin: auto;
}

}

@media only screen and (max-width: 850px) {
	div.row {
		justify-content: center;
	
	}
}

@media only screen and (max-width: 600px) {

.containerFooter{
  width:100%;
  
}
.slikeFooter{
  img{
    padding:20px;
    width:150px;
  }
}
.footer__mreze{
  margin:auto;
   margin-bottom:20px;
}
}

</style>
