<template>
  <div id="cookiePolicy">
    <div v-if="!this.$store.state.hideCookie" class="cookieBox">
      <!-- <div class="cookieAlert1"><img style="width: 100%" src="img/cookies.png"></div> -->
      <div v-if="!moreInfo" class="cookieAlert2">
        <h2>Tvoje postavke kolačića</h2>
        <p>
          Hrvatska turistička zajednica te traži suglasnost za korištenje kolačića u svrhu poboljšanja naše usluge, oglašavanja i korištenja društvenih mreža. Kolačići korišteni za oglašavanje i društvene mreže treće strane nude ti različiti izbor funkcija s društvenih mreža i oglasa sukladno tvojim osobnim interesima. Za više informacija ili unaprjeđenje tvojih postavki, odaberi gumb „Više“ ili "Postavke kolačića" koji se nalazi na dnu naše internetske stranice.
        </p>
        <p>Za više informacija o kolačićima i korištenju tvojih osobnih podataka, pročitaj naše <router-link to="/uvjeti-koristenja"><span>Uvjete korištenja</span></router-link> i <router-link to="/politika-kolacica"><span>Politiku kolačića</span></router-link></p>
        <p>Prihvaćaš li ove kolačiće i pristaješ li na korištenje tvojih osobnih podataka?
        </p>
     
      </div>
      <!-- //VIŠE -->
      <div v-if="moreInfo">
        <h3 class="cookieHeadline">Tvoje postavke kolačića</h3>
        <div class="cookieSection">
          <input id="functionalCookie" type="checkbox" checked class="cookieInput" disabled />
          <p>
            <label for="functionalCookie" class="cookieLabel">Funkcijski kolačići</label>
            <br />Ovi su kolačići potrebni radi osnovnih funkcionalnosti internetske stranice i samim time su uvijek omogućeni. To uključuje kolačiće koji omogućavaju spremanje određenih postavki sukladno tvojim interesima, dok ti pretražuješ Internet.
            <br />
          </p>
        </div>
        <div class="cookieSection">
          <input
            @change="checkPerformanceCookies(), checkPerformance = !checkPerformance"
            id="preformanceCookie"
            type="checkbox"
            class="cookieInput"
          />
          <p style>
            <label for="preformanceCookie" class="cookieLabel">Kolačići učinkovitosti</label>
            <br />Ovi nam kolačići omogućavaju unaprjeđenje radnih svojstava internetske stranice praćenjem njezine korištenosti. Također nam pomaže u unaprjeđenju iskustva pretraživanja internetske stranice koju planiramo izraditi u budućnosti.
            <br />
          </p>
        </div>
        <div class="cookieSection">
          <input
            @change="addSocial(), socialCookie = !socialCookie"
            id="socialCookie"
            type="checkbox"
            class="cookieInput"
          />
          <p style>
            <label for="socialCookie" class="cookieLabel">Kolačići korišteni za društvene mreže i oglašavanje</label>
            <br />Kolačići korišteni za društvene mreže nude ti mogućnost povezivanja s društvenim mrežama, kao i dijeljenje sadržaja s tvoje internetske stranice putem njih. Kolačići korišteni za oglašavanje (od treće strane) prikupljaju informacije kako bi prikazali oglase sukladno tvojim interesima, kako s internetske stranice Hrvatske turističke zajednice, tako i s drugih internetskih stranica. U nekim slučajevima ovi kolačići uključuju obradu tvojih osobnih podataka.
            <br />Za više informacija o obradi tvojih osobnih podataka, pogledaj naša Pravila o zaštiti osobnih podataka i Pravila o kolačićima. Ne prihvaćanje korištenja kolačića može rezultirati prikazom oglasa koji nisu u skladu s tvojim interesima, kao i nemogućnosti učinkovitog povezivanja s Facebookom, Twitterom ili drugim društvenim mrežama i/ili nemogućnosti dijeljenja sadržaja na društvenim mrežama.
          </p>
        </div>
        <div class="cookieSectionBot">
          <p>Svoje odabrane postavke uvijek možeš promijeniti odlaskom na „Postavke kolačića" koje se nalaze na dnu naše internetske stranice. Za više informacija o kolačićima i korištenju tvojih osobnih podataka, pročitaj naše <router-link to="/uvjeti-koristenja"><span>Uvjete korištenja</span></router-link> i <router-link to="/politika-kolacica"><span>Politiku kolačića</span></router-link></Za></p>
        </div>
      </div>
      <div class="cookie-cta">
        <div v-if="!moreInfo">
          <!-- onclick="SetAllStatus()" -->
          <button @click="SetAllStatus" class="cta-primary">PRIHVAĆAM</button>
          <!--  onclick="cookieSettings()" -->
          <button @click="moreInfoClick" class="cta-secondary">VIŠE</button>
        </div>
        <!-- onclick="checkBoxStatus()"  -->
        <div v-if="moreInfo">
          <button class="cta-primary" @click="checkBoxStatus">SPREMI</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>



// Vue.use(VueAnalytics, {
//   id: 'UA-103274080-10',
//   checkDuplicatedScript: true,
//   disableScriptLoader: true

// })




export default {
  name: "CookiePolicy",
  props: {
    msg: String
  },
  data() {
    return {
      moreInfo: false,
      socialCookie: false,
      checkPerformance: false,
      clickButton: false
    };
  },
  // https://matteogabriele.gitbooks.io/vue-analytics/content/docs/installation.html
  mounted() {
    // console.log('yooo')

    // From some method in one of your Vue components
    // this.$cookie.set('test', 'Hello world!', 4);

    //console.log(this.checkPerformance);
    // this.checkBoxStatus()

    // console.log(this.$cookie.get('cookiePolicyA'))

    // console.log(this.$cookie.get('cookiePolicyA'))

    this.checkCookie();
  },
  methods: {
    test() {
      console.log("test");
    },
    changeCookieState() {},
    moreInfoClick() {
      console.log("moreInfoClick");
      this.moreInfo = true;
    },
    checkPerformanceCookies() {
      console.log("checkPerformanceCookies");
      console.log(this.checkPerformance);

      if (this.checkPerformance === true) {
        //Makni analitiku ako maknemo gumb
        this.$cookie.delete("_gid", "Deleted", -365);
        this.$cookie.delete("_ga", "Deleted", -365);
        //require('./js/gtm.js');
          this.$loadScript("/js/gtm.js")
            .then(() => {
              // Script is loaded, do something
              console.log("dodan GTM")
            })
            .catch(() => {
              // Failed to fetch script
              console.log("greška")
            });
        this.$cookie.set("preformanceCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (this.checkPerformance === false) {
        this.$cookie.delete("preformanceCookie", "NO", 365);
        this.$cookie.delete("cookiePolicyA", "Accepted", 365);
      }
    },
    addSocial() {
      console.log("addSocial");

      // this.socialCookie = true
      console.log(this.socialCookie);
      if (this.socialCookie === true) {
        this.$cookie.set("socialCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (this.socialCookie === false) {
        this.$cookie.delete("socialCookie", "NO", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      // console.log(preformanceCookie)
    },
    // addGA() {
        
    // this.$ga.page({
    //   path: this.$router.path,
    //   name: this.$router.name,
    //   location: window.location.href
    // });
    // },

    removeGA() {
      console.log("removeGA");

      this.$cookie.delete("_gid", "Deleted", -365);
      this.$cookie.delete("_ga", "Deleted", -365);
      // this.$cookie.delete('_ga', 'Deleted', -365);
      console.log("script remove GA");
       this.$unloadScript("/js/gtm.js")
        .then(() => {
          // Script was unloaded successfully
          console.log("Unload GTM")
        })
        .catch(() => {
          console.log("greška unload ")
          // Script couldn't be found to unload; make sure it was loaded and that you passed the same URL
        });
    },
    removeSocial() {
      console.log("remove social");
    },
    checkCookie() {
      console.log("Check Cookie");

      var cookie = this.$cookie.get("cookiePolicyA");

      // var cookie = getCookie("cookiePolicyA");
      var preformance = this.$cookie.get("preformanceCookie");
      var social = this.$cookie.get("socialCookie");

      if (preformance == "YES") {
        // this.addGA();
        // this.$ga.enable();
        // ('Tracking enabled');
        console.log("preformanceYES");
         this.$loadScript("/js/gtm.js")
            .then(() => {
              // Script is loaded, do something
              console.log("dodan GTM")
            })
            .catch(() => {
              // Failed to fetch script
              console.log("greška")
            });
      }

      if (social == "YES") {
        this.addSocial();
      }

      if (cookie != "" && preformance == "NO") {
        //Makni analitiku ako maknemo gumb
        this.$cookie.delete("_gid", "Deleted", -365);
        this.$cookie.delete("_ga", "Deleted", -365);
        this.$unloadScript("/js/gtm.js")
        .then(() => {
          // Script was unloaded successfully
          console.log("Unload GTM")
        })
        .catch(() => {
          console.log("greška unload ")
          // Script couldn't be found to unload; make sure it was loaded and that you passed the same URL
        });

        this.$unloadScript("https://www.googletagmanager.com/gtm.js?id=GTM-5V9G385")
          .then(() => {
            // Script was unloaded successfully
            console.log("Unload GTM")
          })
          .catch(() => {
            console.log("greška unload ")
            // Script couldn't be found to unload; make sure it was loaded and that you passed the same URL
          });
        // this.$ga.disable();
        // ('Tracking disabled');
        //window.location.reload()
      }
      if (cookie != "" && social == "NO") {
        this.removeSocial();
      }

      if (cookie == "" || cookie == null) {
        this.$store.commit("changehideCookie", false);
      }
      if (cookie == "Accepted") {
        this.$store.commit("changehideCookie", true);
      }
    },
    SetAllStatus() {
      // console.log('SetAllStatus')
      // var mainCookie = "Accepted";

      // setCookie("preformance", cookie, 365);
      // setCookie("social", cookie, 365);
      // setCookie("cookiePolicyA", mainCookie, 365);
      //this.$ga.disable();
      this.$cookie.set("socialCookie", "YES", 365);
      this.$cookie.set("preformanceCookie", "YES", 365);
      this.$cookie.set("cookiePolicyA", "Accepted", 365);
      //require('./gtm.js');
         this.$loadScript("/js/gtm.js")
            .then(() => {
              // Script is loaded, do something
              console.log("dodan GTM")
            })
            .catch(() => {
              // Failed to fetch script
              console.log("greška")
            });
         
      this.checkCookie();
      this.$store.commit("changehideCookie", true);
    },
    checkBoxStatus() {
      console.log("checkBoxStatus");

      //         var social = $('#socialCookie').is(':checked');
      // var analitycs = $('#preformanceCookie').is(':checked');
      // var cookie = "YES";
      // var mainCookie = "Accepted";
      if (this.socialCookie) {
        console.log("socialCookieTrue");
        this.$cookie.set("socialCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (this.checkPerformance) {
        console.log("checkPerformanceTrue");
        this.$cookie.set("preformanceCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
          this.$loadScript("/js/gtm.js")
            .then(() => {
              // Script is loaded, do something
              console.log("dodan GTM")
            })
            .catch(() => {
              // Failed to fetch script
              console.log("greška")
            });
      }
      if (!this.socialCookie) {
        console.log("socialCookieFalse");
        this.$cookie.set("socialCookie", "NO", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
       
      if (!this.checkPerformance) {
        console.log("checkPerformanceFalse");
        this.$cookie.delete("_gid", "Deleted", -365);
        this.$cookie.delete("_ga", "Deleted", -365);

        this.$cookie.set("preformanceCookie", "NO", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
            this.$unloadScript("/js/gtm.js")
              .then(() => {
                // Script was unloaded successfully
                console.log("Unload GTM")
              })
              .catch(() => {
                console.log("greška unload ")
                // Script couldn't be found to unload; make sure it was loaded and that you passed the same URL
              });
              this.$unloadScript("https://www.googletagmanager.com/gtm.js?id=GTM-5V9G385")
              .then(() => {
                // Script was unloaded successfully
                console.log("Unload GTM")
              })
              .catch(() => {
                console.log("greška unload ")
                // Script couldn't be found to unload; make sure it was loaded and that you passed the same URL
              }); 
              window.location.reload() 
      }
    
      this.checkCookie();
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

#cookiePolicy * {
  box-sizing: border-box;
}

#cookiePolicy {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #212121;
    //padding: 1rem;
}

#cookiePolicy .cookie-cta {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#cookiePolicy .cookie-cta button {
    padding: .75rem 1rem;
    margin: 0.25rem;
    border: none;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
    min-width: 150px;
    max-width: 100%;
    transition: 0.4s all ease-in-out;
}

#cookiePolicy .cta-primary {
  background-color: $plava;
  color: #fff;
}

#cookiePolicy .cta-primary:hover {
  background-color: $crvena;
  color: #fff;
}

#cookiePolicy .cta-secondary {
    background-color: #dadada;
    color: #212121;
}

#cookiePolicy .cta-secondary:hover {
    background-color: #aaaaaa;
    color: #212121;
}

#cookiePolicy .cookieBox {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 600px;
    max-width: 100%;
    background-color: #ffffff;
    z-index: 99999;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    text-align: left;
    overflow-y: auto;
    max-height: 100%;
}

#cookiePolicy .cookieInput {
    display: block;
    float: left;
    margin-right: 10px;
    width: .8rem;
    height: .8rem;
    margin-bottom: auto;
}

#cookiePolicy .cookieLabel {
  text-transform: uppercase;
  font-weight: bold;
  color: $plava;
  margin-bottom: 0.25rem;
  display: inline-block;
}

#cookiePolicy .cookieHeadline {
    font-size: 1.4;
    text-transform: uppercase;
}

#cookiePolicy .cookieSection {
    width: 100%;
}

/* Default box */

#cookiePolicy .cookieAlert2 {
    width: 100%;
    display: block;
    padding: 1rem;
}

#cookiePolicy .cookieAlert2 h2 {
    margin-bottom: 10px;
    line-height: 1;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  
  #cookiePolicy .cookieBox {
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 100%;
        padding-left: 15px;
    }

}

</style>