<template>
  <div id="app">
    <component :is='layout'>
      <router-view/>
    </component>
   
  </div>
  
</template>

<script>

 

const default_layout = "main";


export default {
  
  computed: {
    layout() {
      return (this.$route.meta.layout || default_layout) + '-layout';
    }
  }  
}

</script>

<style lang="scss">
h1{
  color: #00386c;
  font-size: 2.5rem;
}
p{
  font-size: 1rem;
}
// body{
//   margin: 0px;
// }
// #app {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   color: #2c3e50;
//   margin: 0px;
// }
// #nav {
//   padding: 30px;
//   a {
//     font-weight: bold;
//     color: #2c3e50;
//     &.router-link-exact-active {
//       color: #42b983;
//     }
//   }
// }
</style>
