<template>
  <div id="cookiePolicy">
    <div v-if="!this.$store.state.hideCookie" class="cookieBox">
      <!-- <div class="cookieAlert1"><img style="width: 100%" src="img/cookies.png"></div> -->
      <div v-if="!moreInfo" class="cookieAlert2">
        <h4>Tvoje postavke kolačića</h4>
        <p>
          Hrvatska turistička zajednica te traži suglasnost za korištenje kolačića u svrhu poboljšanja naše usluge, oglašavanja i korištenja društvenih mreža. Kolačići korišteni za oglašavanje i društvene mreže treće strane nude ti različiti izbor funkcija s društvenih mreža i oglasa sukladno tvojim osobnim interesima. Za više informacija ili unaprjeđenje tvojih postavki, odaberi gumb „Više“ ili "Postavke kolačića" koji se nalazi na dnu naše internetske stranice.
        </p>
        <p>Za više informacija o kolačićima i korištenju tvojih osobnih podataka, pročitaj naše <router-link to="/uvjeti-koristenja"><span>Uvjete korištenja</span></router-link> i <router-link to="/politika-kolacica"><span>Politiku kolačića</span></router-link></p>
        <p>Prihvaćaš li ove kolačiće i pristaješ li na korištenje tvojih osobnih podataka?
        </p>
     
      </div>
      <!-- //VIŠE -->
      <div v-if="moreInfo" class="cookieMainLeft">
        <h3 class="cookieHeadline">Tvoje postavke kolačića</h3>
        <div class="cookieSection">
          <input id="check-disabled" type="checkbox" checked class="inputCookiea" disabled />
          <p style>
            <strong style="color: #FF671D">Funkcijski kolačići</strong>
            <br />Ovi su kolačići potrebni radi osnovnih funkcionalnosti internetske stranice i samim time su uvijek omogućeni. To uključuje kolačiće koji omogućavaju spremanje određenih postavki sukladno tvojim interesima, dok ti pretražuješ Internet.
            <br />
          </p>
        </div>
        <div class="cookieSection">
          <input
            @change="checkPerformanceCookies(), checkPerformance = !checkPerformance"
            id="preformanceCookie"
            type="checkbox"
            class="inputCookiea"
          />
          <p style>
            <strong>Kolačići učinkovitosti</strong>
            <br />Ovi nam kolačići omogućavaju unaprjeđenje radnih svojstava internetske stranice praćenjem njezine korištenosti. Također nam pomaže u unaprjeđenju iskustva pretraživanja internetske stranice koju planiramo izraditi u budućnosti.
            <br />
          </p>
        </div>
        <div class="cookieSection">
          <input
            @change="addSocial(), socialCookie = !socialCookie"
            id="socialCookie"
            type="checkbox"
            class="inputCookie"
          />
          <p style>
            <strong>Kolačići korišteni za društvene mreže i oglašavanje</strong>
            <br />Kolačići korišteni za društvene mreže nude ti mogućnost povezivanja s društvenim mrežama, kao i dijeljenje sadržaja s tvoje internetske stranice putem njih. Kolačići korišteni za oglašavanje (od treće strane) prikupljaju informacije kako bi prikazali oglase sukladno tvojim interesima, kako s internetske stranice Hrvatske turističke zajednice, tako i s drugih internetskih stranica. U nekim slučajevima ovi kolačići uključuju obradu tvojih osobnih podataka.
            <br />Za više informacija o obradi tvojih osobnih podataka, pogledaj naša Pravila o zaštiti osobnih podataka i Pravila o kolačićima. Ne prihvaćanje korištenja kolačića može rezultirati prikazom oglasa koji nisu u skladu s tvojim interesima, kao i nemogućnosti učinkovitog povezivanja s Facebookom, Twitterom ili drugim društvenim mrežama i/ili nemogućnosti dijeljenja sadržaja na društvenim mrežama.
          </p>
        </div>
        <div class="cookieSectionBot">
          <p>Svoje odabrane postavke uvijek možeš promijeniti odlaskom na „Postavke kolačića" koje se nalaze na dnu naše internetske stranice. Za više informacija o kolačićima i korištenju tvojih osobnih podataka, pročitaj naše <router-link to="/uvjeti-koristenja"><span>Uvjete korištenja</span></router-link> i <router-link to="/politika-kolacica"><span>Politiku kolačića</span></router-link></Za></p>
        </div>
      </div>
      <div class="cookieAlert3">
        <div v-if="!moreInfo">
          <!-- onclick="SetAllStatus()" -->
          <button @click="SetAllStatus">PRIHVAĆAM</button>
          <!--  onclick="cookieSettings()" -->
          <button @click="moreInfoClick" class="moreInfo">VIŠE</button>
        </div>
        <!-- onclick="checkBoxStatus()"  -->
        <div v-if="moreInfo">
          <button class="doneButton" @click="checkBoxStatus">SPREMI</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>



// Vue.use(VueAnalytics, {
//   id: 'UA-103274080-10',
//   checkDuplicatedScript: true,
//   disableScriptLoader: true

// })




export default {
  name: "Cookie",
  props: {
    msg: String
  },
  data() {
    return {
      moreInfo: false,
      socialCookie: false,
      checkPerformance: false
    };
  },
  // https://matteogabriele.gitbooks.io/vue-analytics/content/docs/installation.html
  mounted() {
    // console.log('yooo')

    // From some method in one of your Vue components
    // this.$cookie.set('test', 'Hello world!', 4);

    //console.log(this.checkPerformance);
    // this.checkBoxStatus()

    // console.log(this.$cookie.get('cookiePolicyA'))

    // console.log(this.$cookie.get('cookiePolicyA'))

    this.checkCookie();
  },
  methods: {
    test() {
      console.log("test");
    },
    changeCookieState() {},
    moreInfoClick() {
      console.log("moreInfoClick");
      this.moreInfo = true;
    },
    checkPerformanceCookies() {
      console.log("checkPerformanceCookies");
      console.log(this.checkPerformance);

      if (this.checkPerformance === true) {
        //Makni analitiku ako maknemo gumb
        this.$cookie.delete("_gid", "Deleted", -365);
        this.$cookie.delete("_ga", "Deleted", -365);

        this.$cookie.set("preformanceCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (this.checkPerformance === false) {
        this.$cookie.delete("preformanceCookie", "NO", 365);
        this.$cookie.delete("cookiePolicyA", "Accepted", 365);
      }
    },
    addSocial() {
      console.log("addSocial");

      // this.socialCookie = true
      console.log(this.socialCookie);
      if (this.socialCookie === true) {
        this.$cookie.set("socialCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (this.socialCookie === false) {
        this.$cookie.delete("socialCookie", "NO", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      // console.log(preformanceCookie)
    },
    // addGA() {
        
    // this.$ga.page({
    //   path: this.$router.path,
    //   name: this.$router.name,
    //   location: window.location.href
    // });
    // },

    removeGA() {
      console.log("removeGA");

      this.$cookie.delete("_gid", "Deleted", -365);
      this.$cookie.delete("_ga", "Deleted", -365);
      // this.$cookie.delete('_ga', 'Deleted', -365);
      console.log("script remove GA");
    },
    removeSocial() {
      console.log("remove social");
    },
    checkCookie() {
      console.log("Check Cookie");

      var cookie = this.$cookie.get("cookiePolicyA");

      // var cookie = getCookie("cookiePolicyA");
      var preformance = this.$cookie.get("preformance");
      var social = this.$cookie.get("social");

      if (preformance == "YES") {
        // this.addGA();
        // this.$ga.enable();
        // ('Tracking enabled');
        console.log("preformanceYES");
      }

      if (social == "YES") {
        this.addSocial();
      }

      if (cookie != "" && preformance == "NO") {
        //Makni analitiku ako maknemo gumb
        this.$cookie.delete("_gid", "Deleted", -365);
        this.$cookie.delete("_ga", "Deleted", -365);
        // this.$ga.disable();
        // ('Tracking disabled');
      }
      if (cookie != "" && social == "NO") {
        this.removeSocial();
      }

      if (cookie == "" || cookie == null) {
        this.$store.commit("changehideCookie", false);
      }
      if (cookie == "Accepted") {
        this.$store.commit("changehideCookie", true);
      }
    },
    SetAllStatus() {
      // console.log('SetAllStatus')
      // var mainCookie = "Accepted";

      // setCookie("preformance", cookie, 365);
      // setCookie("social", cookie, 365);
      // setCookie("cookiePolicyA", mainCookie, 365);
      //this.$ga.disable();
      this.$cookie.set("socialCookie", "YES", 365);
      this.$cookie.set("preformanceCookie", "YES", 365);
      this.$cookie.set("cookiePolicyA", "Accepted", 365);

      this.checkCookie();
      this.$store.commit("changehideCookie", true);
    },
    checkBoxStatus() {
      console.log("checkBoxStatus");

      //         var social = $('#socialCookie').is(':checked');
      // var analitycs = $('#preformanceCookie').is(':checked');
      // var cookie = "YES";
      // var mainCookie = "Accepted";
      if (this.socialCookie) {
        console.log("socialCookieTrue");
        this.$cookie.set("socialCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (this.checkPerformance) {
        console.log("checkPerformanceTrue");
        this.$cookie.set("preformanceCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (!this.socialCookie) {
        console.log("socialCookieFalse");
        this.$cookie.set("socialCookie", "NO", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (!this.checkPerformance) {
        console.log("checkPerformanceFalse");
        this.$cookie.delete("_gid", "Deleted", -365);
        this.$cookie.delete("_ga", "Deleted", -365);

        this.$cookie.set("preformanceCookie", "NO", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }

      this.checkCookie();
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

/*  
***************

    COOKIE

***************
*/


.cookieBox {
    position: fixed;
    font-family: 'Noto Sans', sans-serif;
    bottom: 2rem;
    right: 2rem;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 99999;
    padding: 20px;
    box-shadow: 3px 3px 10px #CCC;
}

.cookieBox p {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    text-align: left;
}

.cookieBox img {
    display: block;
    text-align: right;
    float: right;
    font-family: 'Noto Sans', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}

.cookieBox a {
    color: #1C2656;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
}

.cookieBox .separator {
    color: #555;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    margin: 0 .25rem;
}

.inputCookiea {
    display: block;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    margin-right: 10px;
    width: 10px;
    margin-bottom: auto;
    // margin-top:4px;
}

.cookieHeadline {
    margin-left: 21px;
    font-family: 'Noto Sans', sans-serif;
    padding: 10px 0px;
    font-size: 20px;
    // font-weight: bold;
}

.cookieMainLeft {
    width: 65%;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    margin-left: 2%;
}

.cookieMainRight {
    width: 20%;
    font-family: 'Noto Sans', sans-serif;
    float: right;
}

.cookieSection {
    padding: 0px 0px;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
}

.cookieSectionBot {
    padding: 10px 0px;
    font-family: 'Noto Sans', sans-serif;
    // margin-left: 21px;
}

.cookieAlert1 {
    width: 15%;
    display: block;
    font-family: 'Noto Sans', sans-serif;
    float: right;
    margin-right: 3%;
    margin-top: 0%;
}

.cookieAlert2 {
    width: 68%;
    display: block;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    padding: 15px 0px 0px 15px;
    text-align: left;
    color: black;
}

.cookieAlert2 h4 {
    margin-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
}

.cookieAlert3 {
    width: 26%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    float: right;
    text-align: right;
}

.inputCookie {
    display: block;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    margin-right: 10px;
    width: 10px;
    margin-bottom: auto;
}

#cookiePolicy {
    font-size: 10px;
    color: black;
}

.cookieBox button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: white;
    background-color: #00386C;
    padding: 8px 0px;
    width: 24%;
    border-radius: 8px;
    border: none;

    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    cursor: pointer;
}


.cookieBox button.moreInfo {
    position: absolute;
    right: 30px;
    bottom: 70px;
    color: white;
    background-color: #616161;
    padding: 8px 0px;
    width: 24%;
    border-radius: 8px;
    border: none;

    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    div#velikaSlika{
    margin-top: 0rem;
}
    .cookieBox img {
        float: none;
    }

    .cookieBox {
        position: fixed;
        bottom: 0px;
        right: 0px;
        background-color: rgba(255, 255, 255, 0.98);
        z-index: 99999;
        padding: 20px 0;
        box-shadow: 3px 3px 10px #CCC;
        width: 100%;
        padding-left: 15px;
    }

    .cookieAlert2 {
        width: 90%;
        padding: 0px 0px 0px 15px;
    }

    .cookieAlert1 {
        width: 25%;
        display: block;
        font-family: 'Noto Sans', sans-serif;
        float: left;
        margin-right: 3%;
        margin-top: 5%;
    }

    .cookieAlert3 {
        width: 90%;
        display: block;
        text-align: left;
        padding-left: 15px;
        float: left;
        margin-top: 25px
    }

    .cookieBox button {
        position: relative;
        right: initial;
        bottom: initial;
        color: white;
        background-color: #0077c8;
        padding: 8px 8px;
        width: auto;
        margin-right: 15px;
        min-width: 100px;
    }


    .cookieBox button.moreInfo {
        position: relative;
        right: initial;
        bottom: initial;
        color: white;
        background-color: #616161;
        padding: 8px 8px;
        width: auto;

    }
}

#cookiePolicy p {
    font-size: 12px;
    margin-bottom: 10px;
}

</style>