<template>
    <div id="cropper">
        <!-- Note that 'ref' is important here (value can be anything). read the description about `ref` below. -->
        <div class="upload-btn-wrapper" v-if="imageSelected == false">
            <label for="file-upload" class="custom-file-upload">
                <img src="https://iconsplace.com/wp-content/uploads/_icons/ffffff/256/png/slr-camera-icon-18-256.png" />Prenesite sliku
            </label>
            <input id="file-upload" type="file" ref=fileInputActivator @change="fileChange" accept="image/*"/>
        </div>
        <vue-croppie
                ref="croppieRef"
                :enableOrientation="true"
                :enableResize="false"
                @result="result"
                @update="update"
                :viewport="{width: viewportWidth, height: viewportHeight, type: 'square'}"
                v-bind:style= "[imageSelected ? {opacity: 1} : {opacity: 0}]"
               >
        </vue-croppie>

        <!-- the result -->

        <button
                class="btnCrop"
                @click="crop()"
                v-bind:style= "[imageSelected ? {opacity: 1} : {opacity: 0}]"
        ><img src="@/assets/correct-symbol.png" /> POTVRDI</button>

        <img v-bind:src="cropped">
    </div>
</template>

<script>
    import '../styles/croppie.css'
    export default {
        created() {
            if(window.innerwidth < 800){
                this.viewportWidth = window.innerWidth * 0.9;
                this.viewportHeight = (window.innerWidth * 0.9) / 1.77777;
            }
            else{
                this.viewportWidth = window.innerWidth * 0.6;
                this.viewportHeight = (window.innerWidth * 0.6) / 1.77777;
            }

        },
        data() {
            return {
                cropped: null,
                imageSelected: false,
                viewportWidth: 0,
                viewportHeight: 0,
            }
        },
        methods: {

            // CALBACK USAGE
            crop() {
                // Here we are getting the result via callback function
                // and set the result to this.cropped which is being
                // used to display the result above.
                let options = {
                    format: 'jpeg',
                    quality: 0.8,
                    size: { width: 1280, height: 720 }
                }
                this.$refs.croppieRef.result(options, (output) => {
                    this.cropped = output;
                    this.$emit("applyAdditionalImage", this.cropped);
                });
            },

            fileChange(file) {
                // To check if file is an image
                if (!file.target.files[0].name.match(/.(jpg|jpeg|png|gif)$/i)) {
                    console.warn('not an image');
                    file.target.value = null
                    this.$emit('imageChanged', null)
                    return;
                }
                var reader = new FileReader();
                reader.readAsDataURL(file.target.files[0]);
                reader.onload = () => {
                    this.dialog = true;
                    // bind the result of the file
                    // to croppie
                    this.$refs.croppieRef.bind({
                        url: reader.result,
                        zoom: 0,
                    });
                    file.target.value = null
                    this.imageSelected='true'
                };
                reader.onerror = (error) => {
                    console.log('Error: ', error);
                };
            },

            result(output) {
                this.cropped = output;
            },
            update(val) {
                console.log(val);
            }
        }
    }
</script>

<style scoped>
    #cropper{
        width: 62%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 10px 40px;
        cursor: pointer;
        color: #fff;
        border-radius: 40px;
        transition: 0.3s;
        transform: scale(1.4);
    }

    .upload-btn-wrapper {
        position: absolute;
        display: inline-block;
        z-index: 333;
        top: 50%;
        left: 50%;
        transform: translate(-50%);

    }

    .custom-file-upload:hover {
        background-color: rgba(255,255,255,0.4);
    }


    .upload-btn-wrapper img{
        width: 20px;
        vertical-align: sub;
        display: inline-block;
        margin-right: 15px;
    }

    .btnCrop{
        position: absolute;
        bottom: 5%;
        height: 40px;
        z-index: 10000;
        padding: 0 40px;
        margin-left: 69%;
        left: 0%;
        border: none;
        border-radius: 40px;
        background-color: #66a378;
        color: #fff;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
    }

    .btnCrop:hover{
        filter: brightness(1.2);
    }

    .btnCrop img{
        width: 20px;
        vertical-align: sub;
        display: inline-block;
        margin-right: 5px;
    }
</style>
<style>

    .croppie-container .cr-slider-wrap{
        position: absolute;
        z-index: 100;
        bottom: 5%;
        width: 100% !important;
        height: 40px !important;
        margin: 0px !important;
    }

    input.cr-slider {
        -webkit-appearance: none;
        background: #4A727D;
        outline: none;
        opacity: 1;
        -webkit-transition: .2s;
        transition: opacity .2s;
        border: none;
        height: 40px;
        padding: 0px 20px;
        border-radius: 40px;
        width: 35%;

        margin: 0px;
        position: relative;
        left: 0px;

    }

    input.cr-slider:hover {
        opacity: 1;
    }

    input.cr-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 0px;
        margin-top: -15px;
        border-radius: 50px;
        display: block;
        background: url(https://image.flaticon.com/icons/svg/149/149145.svg) #75b4c3;
        background-size: 43%;
        background-position: center;
        background-repeat: no-repeat;
    }

    input.cr-slider::-moz-range-thumb {
        width: 35px;
        height: 35px;
        background: #4CAF50;
        cursor: pointer;
        border-radius: 0px;
    }

    input.cr-slider[type="range" i] {
        color: white;
    }
</style>