<template>



  <div id="footer">
    

    
    <div class="containerFooter">
          <!-- 1 -->
          <div class="slikeFooter">
         <a href="http://croatia.hr/hr-HR/dozivi-hrvatsku/Puna-zivota" target="_blank"><img class="footerHtz" style="max-width: 185px;" src="@/assets/htz_logo.svg"></a> 
    
          </div>
          <!-- 2 -->
          <div class="slikeFooter" style="margin-left:0;">
             <a href="https://mint.gov.hr/" target="_blank"><img style="padding:0;height:50px;" src="@/assets/hrv_logo3.svg"></a> 

        </div>
          <!-- 3 -->
          <div class="footer__mreze" >
            
            <a href="https://hr-hr.facebook.com/croatia.hr/" target="_blank"><img style="width:29px;" src="@/assets/fb_logo.svg" /> </a>
            <a href="https://www.youtube.com/user/croatia" target="_blank"><img src="@/assets/yt_logo.svg" /> </a> 
            <a href="https://twitter.com/croatia_hr" target="_blank"><img src="@/assets/tw_logo.svg" /> </a> 
            <a href="https://www.instagram.com/croatiafulloflife/" target="_blank"><img style="width:30px;" src="@/assets/ins_logo.svg" /></a> 

          </div>
          <!-- 4 -->
          <div class="prava">
          <p><router-link to="/uvjeti-koristenja">Uvjeti korištenja</router-link></p>
          <p><a @click="changehideCookieA" href="#">Postavke kolačića</a> </p>
          <p><router-link to="/politika-kolacica"><span>Pravila kolačića</span></router-link></p>
          <!-- <p><a href="#">Pravila i uvjeti sudjelovanja</a></p> -->
          <p>
            <router-link to="/pravila-i-uvjeti-sudjelovanja"><span>Opći uvjeti sudjelovanja</span></router-link>
          </p>
          </div>
        
         

      </div>
      <hr>
      <b-row>
       
        <b-col md="6"><p class="copyright">Copyright &copy; 2020. Hrvatska turistička zajednica</p></b-col>
        <b-col md="6"><p class="copyright">Tel.: <a href="tel:+38514699353">01/ 4699 353</a>, <a href="tel:+38512092954">01/2092 954</a> i <a href="tel:+38514699356">01/ 4699 356</a> &nbsp;|&nbsp; E-mail: <a href="mailto:info@tjedanodmoravrijedan.hr">info@tjedanodmoravrijedan.hr</a></p></b-col>
      </b-row>
  </div>
</template>

<script>

export default {
  name: 'Footer',
  components: {
  },
  props: {
    msg: String
  },
  mounted() {
        window.scrollTo(0, 0)

    },
   methods: {
        changehideCookieA(){
           // console.log('test')
           console.log(this)
            // return this.$store.$state.hideCookie = false;
            this.$store.commit('changehideCookie', false)
        }
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.btn-to-top {
     width: 39px;
    height: 40px;
    /* padding: 10px 16px; */
    border-radius: 8%;
    line-height: 22px;
    background: #CF1F25;
    border: none;
    outline: none;
    cursor: pointer;

}
.containerFooter{
  display: flex;
  flex-wrap: wrap;
  width:80%;
  margin:auto;
}


h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.slikeFooter{
  margin: auto;
  margin-left:10px;
  img{
    padding:35px;
    max-width: 225px;
  }
  
}

hr{
  border-bottom: 1px solid white;
  max-width: 85%;
  opacity: 30%;
}

.footer__mreze{
 
  display: flex;
  margin: auto;
  margin-left: 0;
  
  img{
    width:35px;  
  }
  a{
    padding:10px;
  }
}

.prava{
  text-align: left;
  padding: 25px 15px;
  line-height: 1.6;
  font-size: 0.8rem;
  p{
    margin-bottom:0px;
  }

}

.copyright{
 margin:0px;
padding-bottom:15px;
font-size:12px;  

}

@media only screen and (max-width: 1200px) {
.containerFooter{
  width:90%;
}

}

@media only screen and (max-width: 1200px) {
.prava{
  text-align: center;
  display: flex;
  width:100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -15px;
  p{
    margin-right:25px;
    
  }
  
}
}

@media only screen and (max-width: 600px) {
.containerFooter{
  width:100%;
  
}
.slikeFooter{
  img{
    padding:20px;
    width:150px;
  }
}
.footer__mreze{
  margin:auto;
   margin-bottom:20px;
}
}

</style>
