<template>
    <div>
        <div id="header">
            <b-container>
                <b-navbar id="navigacija" toggleable="lg" type="dark" variant="transparent">
                    <a class="navbar-brand" href="https://tjedanodmoravrijedan.hr/"><img src="@/assets/logo.svg" /></a>
                    <b-navbar-nav>
                        <router-link to="/kako-sudjelovati"><span>Kako sudjelovati?</span></router-link>
                        <router-link to="/kategorije"><span>Kategorije</span></router-link>
                        <router-link to="/cesta-pitanja"><span>Česta pitanja</span></router-link>
                        <router-link v-if="isLoggedIn == false" v-b-modal.modal-multi-11 to="#"><span>Registrirajte se</span></router-link>
                        <!--    <router-link v-if="isLoggedIn == true" to="/admin"><span>Admin</span></router-link> -->
                        <router-link v-if="isLoggedIn == true" to="/dashboard"><span>Izbornik</span></router-link>
                        <router-link v-if="isLoggedIn == true" to="/ponude"><span>Ponude</span></router-link>
                    </b-navbar-nav>
                    <router-link v-if="isLoggedIn == false" to="/prijava" class="prijava px-4">
                        <img src="@/assets/prijava_gumb.svg" /> PRIJAVA
                    </router-link>
                    <button @click="userLogout" v-if="isLoggedIn == true" to="/prijava" class="prijava desk px-4">
                        <span>
                            <img src="@/assets/prijava_gumb.svg" /> ODJAVA
                        </span>
                    </button>
                </b-navbar>
                <!-- Hamburger -->
                <hamburger :stroke="2" :gap="8" color="#fff" :open.sync="open" id="clickbox"></hamburger>
            </b-container>
            <div class="sideButtons">
                <a href="mailto:tvukusic@bbdo.hr" class="contactBtn"><img src="@/assets/emailsend.svg"></a>
            </div>
            <div class="sideButtons2">
                <a href="tel:+385014699333" class="contactBtn"><img src="@/assets/phone.svg"></a>
                <!-- <a href="mailto:tvukusic@bbdo.hr" class="contactBtn asseco-bounceIn" id="asseco-chat" style="position: relative; bottom: 0px; right: 0px; z-index: 1000;" tabindex="0"><img src="@/assets/prijava_gumb.svg"></a> -->
            </div>
            <CookiePolicy></CookiePolicy>
        </div>
        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav class="ml-auto">
                <!-- ******** MODALS ************ -->
                <div class="imageUpload" v-if="cropperState">
                    <croppit></croppit>
                </div>
                <!--=====================================
                    =      MODAL - Registracija         =
                 ======================================-->
                <b-modal ok-only no-stacking size="xl" id="modal-multi-11" title="Registracija">
                    <Registracija />
                </b-modal>


                <!-- Modal: Saved -->
                <b-modal id="modal-ok" ref="sucess" ok-only no-stacking centered size="md">
                    <b-container>
                        <b-row class="py-5">
                            <b-col class="text-center">
                                <img src="@/assets/sucess.svg" />
                                <h3 class="modal-confirmation-title">SPREMLJENO!</h3>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-modal>
                <!-- Modal: Saved -->
                <b-modal @click="window.location.location.reload();" id="modal-ok-refresh" ref="sucess" ok-only no-stacking centered size="md">
                    <b-container>
                        <b-row class="py-5">
                            <b-col class="text-center">
                                <img src="@/assets/sucess.svg" />
                                <h3  class="modal-confirmation-title">SPREMLJENO!</h3>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-modal>

                <!-- Modal: Deleted -->
                <b-modal id="modal-deleted" ref="sucess" ok-only no-stacking centered size="md">
                    <b-container>
                        <b-row class="py-5">
                            <b-col class="text-center">
                                <img src="@/assets/sucess.svg" />
                                <h3 class="modal-confirmation-title">IZBRISANO!</h3>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-modal>

                <!-- Modal: Error -->
                <b-modal id="modal-error" ref="fail" ok-only no-stacking centered size="md">
                    <b-container>
                        <b-row class="py-5">
                            <b-col class="text-center">
                                <img src="@/assets/fail.svg" />
                                <h3 class="modal-confirmation-title">GREŠKA</h3>
                                <p>Molimo pokušajte ponovno</p>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-modal>

                <!-- Modal: Registration -->
                <b-modal id="modal-ty" ref="success" ok-only no-stacking centered size="md">
                    <b-container>
                        <b-row class="py-5">
                            <b-col class="text-center">
                                <img src="@/assets/sucess.svg" />
                                <h3 class="modal-confirmation-title">Hvala na registraciji</h3>
                                <p class="px-5">Na vašu e-mail adresu poslana je poruka za verifikaciju. <br>Kliknite na link u poslanoj poruci da biste aktivirati svoj račun.</p>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-modal>

                <!-- Modal: Authorization -->
                <b-modal id="modal-authorization" ref="info" ok-only no-stacking centered size="md">
                    <b-container>
                        <b-row class="py-5">
                            <b-col class="text-center">
                                <img src="@/assets/info.svg" />
                                <h3 class="modal-confirmation-title">UPOZORENJE</h3>
                                <p>Problem sa autorizacijom, molim ponovno se prijavite!</p>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-modal>

                <!-- Modal: Saved -->
                <b-modal id="modal-confirmation" ref="sucess" ok-only no-stacking centered size="md">
                    <b-container>
                        <b-row class="py-5">
                            <b-col class="text-center">
                                <img src="@/assets/sucess.svg" />
                                <h3 class="modal-confirmation-title">REGISTRACIJA USPJEŠNA</h3>
                                <p>Registracija je uspješno završena!</p>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-modal>


                <!-- Modal: Password -->
                <b-modal id="modal-pass" ref="info" ok-only no-stacking centered size="md">
                    <b-container>
                        <b-row class="py-5">
                            <b-col class="text-center">
                                <img src="@/assets/info.svg" />
                                <h3 class="modal-confirmation-title">ZAPORKA RESETIRANA</h3>
                                <p>Zaporka je uspješno resetirana!</p>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-modal>


                <!-- Modal: Dorada -->
                <b-modal id="modal-correction" ref="info" ok-only no-stacking centered size="md">
                    <b-container>
                        <b-row class="py-5">
                            <b-col class="text-center">
                                <img src="@/assets/info.svg" />
                                <h3 class="modal-confirmation-title">NA DORADI</h3>
                                <p>Poslana je obavijest za korekciju ponude!</p>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-modal>


                <!-- Modal: Request-->
                <b-modal id="modal-comment" ref="info" ok-only no-stacking centered size="md">
                    <b-container>
                        <b-row class="py-5">
                            <b-col class="text-center">
                                <img src="@/assets/info.svg" />
                                <h3 class="modal-confirmation-title">INFO</h3>
                                <p>Morate ispuniti komentar, kako bi zatražili ponudu</p>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-modal>

                  <b-modal id="modal-1" title="BootstrapVue">
    <p class="my-4">Hello from modal!</p>
  </b-modal>
<!-- Modal: Prodano-->
                  <!-- <b-modal ref="my-modal" hide-footer title="Using Component Methods">
                        <div class="d-block text-center">
                            <h3>Hello From My Modal!</h3>
                        </div>
                        <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-button>
                        <b-button class="mt-2" variant="outline-warning" block @click="toggleModal">Toggle Me</b-button>
                </b-modal> -->



            </b-navbar-nav>
        </b-collapse>
        <!-- Link holder -->
        <transition name="fade">
            <div v-if="open" class="linkHolderMobile">
                <div class="navWrapper">
                    <div class="linkHolder">
                        <ul class="links">
                            <li>
                                <router-link to="/kako-sudjelovati"><span @click="open = !open">Kako sudjelovati?</span></router-link>
                            </li>
                            <li>
                                <router-link to="/kategorije"><span @click="open = !open">Kategorije</span></router-link>
                            </li>
                            <li>
                                <router-link to="/cesta-pitanja"><span style="border-right:0" @click="open = !open">Česta pitanja</span></router-link>
                            </li>
                            <li v-if="isLoggedIn != true">
                                <a href="#" @click="open = !open"><span v-b-modal.modal-multi-11>Registrirajte se</span></a>
                            </li>
                            <li v-if="isLoggedIn == true">
                                <router-link to="/dashboard"><span>Izbornik</span></router-link>
                            </li>
                            <li v-if="isLoggedIn == true">
                                <router-link to="/ponude"><span @click="open = !open">Ponude</span></router-link>
                            </li>
                            <!-- Prijava -->
                            <li>
                                <router-link to="/prijava">
                                     <button @click="open = !open" v-if="isLoggedIn == false" to="/prijava" class="prijava px-4 py-2">
                                    <span>
                                        <img src="@/assets/prijava_gumb.svg" /> PRIJAVA
                                    </span>
                                </button>
                                    
                                </router-link>

                                <button @click="userLogout" v-if="isLoggedIn == true" to="/prijava" class="prijava px-4">
                                    <span>
                                        <img src="@/assets/prijava_gumb.svg" /> ODJAVA
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
// import KreiranjePonude from "@/components/user/KreiranjePonude.vue";
import Registracija from "@/components/Registracija.vue";
import Croppit from "@/components/Cropper.vue";
import Ponude from "@/components/user/Ponude.vue";
// import IzmjenaPonude from "@/components/user/IzmjenaPonude.vue";
import CookiePolicy from '@/components/CookiePolicy.vue'
import Vue from 'vue'
import 'vue-hamburger/index.css'

Vue.component('hamburger', require('vue-hamburger'))



export default {
    name: "Header",
    props: {
        msg: String
    },
    components: {

        Registracija,
        Croppit,
        Ponude,

        CookiePolicy
    },
    data() {
        return {
            cropperState: false,
            open: false,
            isHidden: false,
            isActive: true,
            isLoggedIn: this.$store.state.isLoggedIn
        };
    },
    methods: {

        userLogout() {

            this.$store.commit('logOut')

            this.$router.push("/");
            location.reload()
        }

    },

    mounted() {

       

        let self = this;
        window.addEventListener('click', function(e) {

            if (!self.$el.contains(e.target)) {
                self.open = false,
                self.logoHidden = true
            }
        })
    }


};
</script>
<style scoped lang="scss">
// Wrapper Mobile
$plava: #00386C;

.sideButtons {
    display: none !important;
    position: fixed;
    right: 0px;
    top: 50%;
    margin-top: -55px;
    z-index: 900000;
    flex-direction: column;
    display: flex;
    background: $plava;
    padding: 16px;
    transition: 0.1s ease-in;

    &:hover {
        padding-right: 30px;
    }

    img {
        width: 35px;
    }

    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.46);
}

.sideButtons2 {
    display: none !important;
    position: fixed;
    right: 0px;
    top: 50%;
    margin-top: 15px;
    z-index: 900000;
    flex-direction: column;
    display: flex;
    background: $plava;
    padding: 14px 17px;
    transition: 0.1s ease-in;

    &:hover {
        padding-right: 30px;
    }

    img {
        width: 33px;
    }

    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.46);
}

.linkHolderMobile {
    position: absolute;
    right: 0;
    background: #00386c;
    width: 250px;
    top: 50px;
    z-index: 101;
    margin-left: auto;
    -webkit-box-shadow: 0px 10px 12px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 10px 12px 1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 10px 12px 1px rgba(0, 0, 0, 0.46);

    .links {
        padding-left: 0;
        margin-top: 1rem;

        li {
            padding: 0.5rem;
            font-size: 1.2rem;
            display: block;

            .prijava {
                display: block;
                background: white;
                margin: 0 auto;
            }
        }

        a {
            color: #fff;
            text-decoration: none;
        }

        list-style:none;

    }
}



@media only screen and (min-width: 992px) {

    div.hamburger-button {
        display: none;
    }
}

@media only screen and (max-width: 992px) {

    ul.navbar-nav {
        display: none;
    }

    a.prijava {
        display: none;
    }

    #app {
        #header {
            text-align: right;
        }

    }
}


h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

/* Navigacija smanjena 976 - 1200 */
@media only screen and (min-width: 976px) and (max-width: 1200px) {
    #navigacija .navbar-nav a span {
        font-size: 0.9rem;
    }

    #navigacija .prijava {
        font-size: 0.9rem;
    }

}

/*----------  TRANZICIJE - fade  ----------*/
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.6s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

@media only screen and (max-width: 375px){
    .linkHolderMobile{
        width:100%;
    }

}


@media only screen and (max-width: 995px){
    #navigacija .navbar-brand img{
        width:80%;
    }
}

</style>