<template>
  <div id="Registracija">
    <div class="offerHeadline">
      <p>
        Unesite podatke o poslovnom subjektu. Podaci koje ćete unijeti na ovoj stranici nakon verifikacije bit će javno dostupni i vidljivi na stranici tjedan<b>odmora</b>vrijedan.hr
      </p>
    </div>
    <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
      <div class="stepViewer">
        <div v-bind:class="{ active: step1 }">
          <span v-bind:class="{ active: step1 }">1</span>
        </div>
        <div v-bind:class="{ active: step2 }">
          <span v-bind:class="{ active: step2 }">2</span>
        </div>
        <div v-bind:class="{ active: step3 }">
          <span v-bind:class="{ active: step3 }">3</span>
        </div>
      </div>
      <form @submit.prevent="handleSubmit(onSubmit)" class="customForms">
        <fieldset v-if="currentStep === 1">
          <h4 class="headLine">Podaci o poslovnom subjektu</h4>
          <ValidationProvider
            name="Naziv poslovnog subjekta"
            rules="required"
            class="inputObj"
            v-slot="{ errors }"
          >
            <label>Naziv poslovnog subjekta:</label>
            <input v-model="form.naziv" type="text" placeholder />
            <span class="error">{{ errors[0] }}</span>
          </ValidationProvider>
          <ValidationProvider
            name="OIB"
            rules="required|digits:11"
            class="inputObj"
            v-slot="{ errors }"
          >
            <label>OIB:</label>
            <input v-model="form.oib" type="number" placeholder />
            <span class="error">{{ errors[0] }}</span>
          </ValidationProvider>
          <ValidationProvider
            name="Poštanski broj"
            rules="required|digits:5"
            class="inputObj small-2"
            v-slot="{ errors }"
          >
            <label style="padding:0px;">Poštanski broj:</label>
            <input v-model="form.postanskiBroj" type="number" placeholder />
            <span class="error">{{ errors[0] }}</span>
          </ValidationProvider>
          <ValidationProvider
            name="Mjesto"
            rules="required"
            class="inputObj small-3"
            v-slot="{ errors }"
          >
            <label>Mjesto:</label>
            <input v-model="form.mjesto" type="text" placeholder />
            <span class="error">{{ errors[0] }}</span>
          </ValidationProvider>
          <ValidationProvider
            name="Adresa poslovnog subjekta"
            rules="required"
            class="inputObj"
            v-slot="{ errors }"
          >
            <label>Adresa poslovnog subjekta:</label>
            <input v-model="form.adresa" type="text" placeholder />
            <span class="error">{{ errors[0] }}</span>
          </ValidationProvider>
        </fieldset>
        <fieldset v-else-if="currentStep === 2">
          <h4 class="headLine">Podaci o poslovnom subjektu</h4>
          <keep-alive>
            <ValidationProvider
              class="inputObj"
              name="Telefon"
              rules="required"
              v-slot="{ errors }"
            >
              <label>Telefon:</label>
              <input v-model="form.telefon" type="text" placeholder />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
          </keep-alive>
          <keep-alive>
            <ValidationProvider
              class="inputObj"
              name="E-mail adresa"
              rules="required"
              v-slot="{ errors }"
            >
              <label>E-mail adresa:</label>
              <p style="margin-left: 1rem; font-size: 0.85rem; color: #525252;">Obratite pozornost da upišete ISPRAVNU email adresu. Ovdje će vam stići link za aktivaciju korisničkog računa.</p>
              <input v-model="form.email" type="email" placeholder />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
          </keep-alive>
          <label>Web adresa:</label>
          <input v-model="form.web" type="web" placeholder />

         <!--  <label style="padding: 1rem">Dokaz o nepostojanju poreznog duga:</label>
          <input ref="myFiles" type="file" @change="onFileSelected" name /> -->
        </fieldset>
        <fieldset v-else-if="currentStep === 3">
          <h4 class="headLine">Kontakt podaci</h4>
          <ValidationProvider
            class="inputObj"
            name="Ime i prezime kontakt osobe"
            rules="required"
            v-slot="{ errors }"
          >
            <label>Ime i prezime kontakt osobe:</label>
            <input v-model="form.imePrezimeKontaktOsobe" type="text" placeholder />
            <span class="error">{{ errors[0] }}</span>
          </ValidationProvider>
          <ValidationProvider
            class="inputObj"
            name="Broj telefona"
            rules="required"
            v-slot="{ errors }"
          >
            <label>Broj telefona kontakt osobe:</label>
            <input v-model="form.telefonKontaktOsobe" type="text" placeholder />
            <span class="error">{{ errors[0] }}</span>
          </ValidationProvider>
          <ValidationProvider
            class="inputObj"
            name="E-mail"
            rules="required|min:5"
            v-slot="{ errors }"
          >
            <label>E-mail adresa kontakt osobe:</label>
            <input v-model="form.emailKontaktOsobe" type="email" placeholder />
            <span class="error">{{ errors[0] }}</span>
          </ValidationProvider>

          <ValidationProvider
            class="suglasnost"
            name="Izjava"
            :rules="{ required: { allowFalse: false } }"
            v-slot="{ errors }"
          >
            <p style="margin-bottom: 0">
              <label style="line-height: 1rem; padding-bottom: 0">
                <strong>1. Izjava o prihvaćanju općih uvjeta</strong>
                <br />
                <br />
                <input style="margin-right: 0.4rem" v-model="checked" name="Izjava" type="checkbox" />Izjavljujem da sam kao osoba koja podnosi ovu prijavu uime osobe koja je u prijavi navedena kao ponuditelj ovlašten/ovlaštena podnijeti ovu prijavu te uime navedene osobe prihvatiti sve izjave koje su potrebne za valjanost ove prijave. Ujedno u svoje osobno ime, kao i uime osobe koja je u prijavi navedena kao ponuditelj, izjavljujem da sam svjestan/svjesna sadržaja općih uvjeta i načina provedbe projekta „Tjedan odmora vrijedan” te da ih u cijelosti prihvaćam.
                <br />
                <br />
              </label>
              <span class="error">{{ errors[0] }}</span>
            </p>
          </ValidationProvider>

          <ValidationProvider
            class="inputObj"
            name="Uvjeti i pravila privatnosti"
            :rules="{ required: { allowFalse: false } }"
            v-slot="{ errors }"
          >
            <label style="line-height: 1rem; font-weight: 300; padding-left: 0">
              <strong>2. Izjava o obradi osobnih podataka u skladu s GDPR-om</strong>
              <br />
              <br />
              <input
                style="margin-right: 0.4rem; width: initial;"
                v-model="checked1"
                name="Uvjeti i pravila privatnosti"
                type="checkbox"
              /> U svoje osobno ime kao osoba koja unosi tražene podatke, kao i uime osobe koja je u prijavi navedena kao ponuditelj, izjavljujem da postoji valjani pravni temelj i/ili ovlaštenje za prikupljanje, obrađivanje te dostavljanje trećim osobama eventualnih osobnih podataka navedenih u prijavi te istodobno uime i na temelju ovlaštenja ponuditelja dajem suglasnost da se takvi podaci upotrebljavaju za potrebe provedbe projekta „Tjedan odmora vrijedan”, sve u skladu propisima koji uređuju zaštitu osobnih podataka.
            </label>

            <span class="error">{{ errors[0] }}</span>
          </ValidationProvider>

        </fieldset>

        <div class="mainBtnHolder">
          <button
            v-if="currentStep > 1"
            class="light"
            type="button"
            @click="prevStep()"
          >PRETHODNI KORAK</button>

          <button class="dark" type="submit" v-if="currentStep < 3">SLJEDEĆI KORAK</button>
          <button class="dark" type="submit" v-if="currentStep == 3">ZAVRŠI REGISTRACIJU</button>


        </div>
      </form>
    </ValidationObserver>

  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Registracija",
  props: {
    msg: String
  },
  components: {},
  data() {
    return {
      checked: "",
      checked1: "",
      checked2: "",
      allowFalse: false,
      currentStep: 1,
      step1: true,
      step2: false,
      step3: false,
      fname: "",
      lname: "",
      email: "",
      dokument: null,
      form: {
        dokumentPotvrda: "",
        adresa: "",
        email: "",
        emailKontaktOsobe: "",
        funkcijaKontaktOsobe: "",
        imePrezimeKontaktOsobe: "",
        mjesto: "",
        naziv: "",
        oib: "",
        postanskiBroj: "",
        telefon: "",
        telefonKontaktOsobe: "",
        web: "",
        latitude: "",
        longitude: ""
      }
    };
  },
  mounted() {
    console.log(this.$route.query.token);
  },
  methods: {
    prevStep(event) {
      //debugger
      if (this.currentStep > 1) {
        this.currentStep = this.currentStep - 1;

        if (this.currentStep == 1) {
          this.step1 = true;
          this.step2 = false;
          this.step3 = false;
        } else if (this.currentStep == 2) {
          this.step2 = true;
          this.step1 = true;
          this.step3 = false;
        } else if (this.currentStep == 3) {
          this.step3 = true;
          this.step1 = false;
          this.step2 = false;
        }
      }
    },
    onFileSelected(event) {
      console.log(event);
      this.dokument = event.target.files[0];
      console.log(this.dokument);
    },
    getLatLong() {
      var key = "AIzaSyDeVawYVUjDO3jXLxu69bkerpTMnYnp-us";
      var adresa = this.form.adresa.replace(" ", "+");
      var grad = this.form.mjesto.replace(" ", "+");
      axios({
        method: "GET",
        url:
          "https://maps.googleapis.com/maps/api/geocode/json?address=" +
          adresa +
          "+" +
          grad +
          "+" +
          this.form.postanskiBroj +
          "+HR&key=" +
          key
      })
        .then(response => {
          console.log(response);
          console.log(response.data.results[0].geometry.location.lat);
          console.log(response.data.results[0].geometry.location.lng);
          this.form.latitude = response.data.results[0].geometry.location.lat;
          this.form.longitude = response.data.results[0].geometry.location.lng;
        })
        .catch(error => {
          console.log(error);
        });
    },
    onSubmit() {
      if (this.currentStep === 3) {
        this.$bvModal.hide("modal-multi-11");
        const fd = new FormData();
        // fd.append("dokumentPotvrda", this.dokument);
        fd.append(
          "poslovniSubjekt ",
          new Blob(
            [
              JSON.stringify({
                adresa: this.form.adresa,
                email: this.form.email,
                emailKontaktOsobe: this.form.emailKontaktOsobe,
                funkcijaKontaktOsobe: this.form.funkcijaKontaktOsobe,
                imePrezimeKontaktOsobe: this.form.imePrezimeKontaktOsobe,
                mjesto: this.form.mjesto,
                naziv: this.form.naziv,
                oib: this.form.oib,
                postanskiBroj: this.form.postanskiBroj,
                telefon: this.form.telefon,
                telefonKontaktOsobe: this.form.telefonKontaktOsobe,
                web: this.form.web,
                latitude: this.form.latitude,
                longitude: this.form.longitude
              })
            ],
            {
              type: "application/json"
            }
          )
        );

        const API_URL = this.$store.state.baseUrl + "/register";

        fetch(API_URL, {
          method: "POST",
          // headers: {
          //     Authorization: "Bearer " + token
          // },
          body: fd
        })
          .then(response => {
            //console.log(response);
            // alert(
            //   "Hvala na registraciji! Na e-mail adresu " +
            //     this.form.email +
            //     " poslana je poruka za verifikaciju. Potrebno je kliknuti na link u poslanoj poruci da biste aktivirati svoj račun."
            // );
            this.$bvModal.show("modal-ty");
            // this.$bvModal.hide("modal-offerNew");
            //this.getPonude();
          })
          .catch(error => {
            this.$bvModal.show("modal-error");
            console.log(error);
          });
      }

      this.currentStep++;
      if (this.currentStep == 1) {
        this.step1 = true;
      } else if (this.currentStep == 2) {
        this.getLatLong();
        this.step2 = true;
      } else if (this.currentStep == 3) {
        this.step3 = true;
      }
    },
    goTo(pageName) {
      this.$router.push(pageName);
    }
  }
};
</script>
<style scoped lang="scss">
.is-disabled label .divider {
  border-color: #ddf7ff !important;
}

.is-disabled label span.index {
  background: #ddf7ff !important;
  color: rgba(0, 56, 108, 0.5) !important;
}

.offerHeadline {
  width: 80%;
  margin: 0 auto;
}

.mainBtnHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;

  // width: 95%;
  // margin: 20px auto 0;
  button {
    width: 50%;
    height: 45px;
    border: 1px solid #00386c;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
  }

  .light {
    background-color: white;
    color: #00386c;
    transition: 0.1s ease-in;
  }

  .light:hover {
    font-size: 17px;
  }

  .dark {
    background-color: #00386c;
    color: white;
    transition: 0.1s ease-in;
  }

  .dark:hover {
    font-size: 17px;
  }
}

.headLine {
  padding-bottom: 2rem;
}

.customForms {
  fieldset {
    width: 50%;

    .inputObj {
      width: 100%;
    }

    .inputObj.small-2 {
      width: 30%;
    }

    .inputObj.small-3 {
      width: 69%;
    }
  }
}

.suglasnost {
  .scrollable {
    overflow: scroll;
    height: 110px;
    padding: 1rem;
  }

  input {
    width: initial;
  }

  label {
    //border: 1px solid #ccc;
    padding: 1rem 0rem;

    font-weight: 300;
  }
}

//RESPONZIVA
@media only screen and (max-width: 1000px) {
  .customForms {
    fieldset {
      width: 100%;
    }
  }

  .customForms fieldset .inputObj.small-2 {
    width: 100%;
  }

  .customForms fieldset .inputObj.small-3 {
    width: 100%;
  }
}
</style>