<template>
    <div id="userBkg">
        <b-col class="mx-auto" sm="12" md="10" lg="6">
            <!--=====================================
      =            REGISTRACIJA ZAVRŠENA          =
      ======================================-->
            <div id="userBox">
                <b-col class="text-center px-3 py-3">
                    <img class="pb-3" src="@/assets/sucess.svg" />
                    <h3 class="mb-3">REGISTRACIJA ZAVRŠENA!</h3>
                    <p>Registracija je bila uspješna.</p>
                </b-col>
            </div>
        </b-col>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    name: "Registracija završena",
    props: {
        msg: String
    },
    data() {
        return {
            email: "",
            password: "",
            error: false,
            passwordReset: false
        };
    },
    mounted() {
           this.$ga.page({
              path: this.$router.path,
              name: this.$router.name,
              location: window.location.href
            });
    },
       metaInfo: {
        title: 'HTZ - Tjedan Odmora Vrijedan - Registracija završena',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: '„Tjedan odmora vrijedan” jest promotivna akcija kojom se u periodu od 10. do 19. travnja 2020. omogućuje svim građanima Hrvatske kao i stranim turistima da posjete i upoznaju turističku ponudu naše zemlje uz dodatne popuste na različite vrste turističkih proizvoda...' },
            { name: "keywords", content: "htz, Tjedan odmora vrijedan, Registracija završena" }
        ]

    },
    methods: {
        userLogin() {
            axios({
                    method: 'post',
                    url: this.$store.state.baseUrl + '/authenticate',
                    data: {
                        "email": this.email,
                        "password": this.password
                    }
                })
                .then(response => {
                    console.log(response);
                    this.$store.commit('setToken', response.data.token);
                    localStorage.setItem('token', response.data.token);
                    this.$router.push("/dashboard");
                })
                .catch(error => {
                    console.log(error);
                    this.error = true;
                })

        }


    }
};
</script>
<style>
.danger {
    color: #CF1F25;
    padding: 5px;
    width: 60%;
    margin: auto;

}


.neuspjela {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}


#userBkg {
   /* padding: 20vh 0;*/
    background-image: url("~@/assets/slider1-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#userBox {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
}

.zaboravili-sifru {
    cursor: pointer;

}
</style>