<template>
  <!-- v-model="slide" -->
 <b-carousel
      id="carousel-1"
      
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1920"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
      
    >
 <!--    @sliding-start="onSlideStart"
   @sliding-end="onSlideEnd" -->


      <!-- Text slides with image -->
    <!--   <b-carousel-slide
        caption="First slide"
        text="Nulla vitae elit libero, a pharetra augue mollis interdum."
        img-src="https://picsum.photos/1024/480/?image=52"
      >sfsdfsd</b-carousel-slide> -->

      <!-- Slides with custom text -->
    <!--   <b-carousel-slide img-src="@/assets/slider1-image.jpg">
      <b-button class="crveni-gumb">Sudjelujte</b-button>
    </b-carousel-slide> -->

      <!-- Slides with image only -->
    <!--   <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=58"></b-carousel-slide> -->

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->

       <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid w-100"
          width="1024"
          height="480"
          src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Obitelj-1.jpg"
          alt="image slot"
        >
        <img class="svgBudite svgBuditeSvg" src="@/assets/budite.svg" /><br>
        <b-button class="crveni-gumb" router-link to="/kako-sudjelovati">Sudjelujte</b-button>
      </b-carousel-slide>

      <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid w-100"
          width="1024"
          height="480"
          src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Cura-1.jpg"
          alt="image slot"
        >
         <img class="svgBudite svgBuditeSvg" src="@/assets/budite.svg" />
        <br>
        <b-button class="crveni-gumb" router-link to="/kako-sudjelovati">Sudjelujte</b-button>
      </b-carousel-slide>

      
      <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid w-100"
          width="1024"
          height="480"
          src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Stariji-par-Horizontalna-1.jpg"
          alt="image slot"
        >
        <img class="svgBudite svgBuditeSvg" src="@/assets/budite.svg" /><br>
        <b-button class="crveni-gumb" router-link to="/kako-sudjelovati">Sudjelujte</b-button>
      </b-carousel-slide>
       <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid w-100"
          width="1024"
          height="480"
          src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Otac-i-sin-1.jpg"
          alt="image slot"
        >
        <img class="svgBudite svgBuditeSvg" src="@/assets/budite.svg" /><br>
        <b-button class="crveni-gumb" router-link to="/kako-sudjelovati">Sudjelujte</b-button>
      </b-carousel-slide>

        

      <!-- Slide with blank fluid image to maintain slide aspect ratio -->
      <!-- <b-carousel-slide caption="Blank Image" img-blank img-alt="Blank image">
        
        <b-button class="crveni-gumb">Sudjelujte</b-button>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eros felis, tincidunt
          a tincidunt eget, convallis vel est. Ut pellentesque ut lacus vel interdum.
        </p>
      </b-carousel-slide> -->
    </b-carousel>
</template>

<script>

  export default {
  name: 'CaruselKategorije',
  components: {
    
   
  },
  data(){
    return{
      slide: 0,
        sliding: null
    }
        
  },
  props: {
    msg: String
  },
   methods: {
      // onSlideStart(slide) {
      //   this.sliding = true
      // },
      // onSlideEnd(slide) {
      //   this.sliding = false
      // }
    }
}
</script>

