<template>
   <!-- v-model="slide" -->
 <b-carousel
      id="carousel-1"
     
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1920"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
      
    >
         <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid w-100"
          width="1024"
          height="480"
          src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Obitelj-1.jpg"
          alt="image slot"
        >
        <img class="svgBudite svgBuditeSvg" src="@/assets/budite.svg" /><br>
        <b-button class="crveni-gumb" router-link to="/kako-sudjelovati">Sudjelujte</b-button>
      </b-carousel-slide>

      <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid w-100"
          width="1024"
          height="480"
          src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Cura-1.jpg"
          alt="image slot"
        >
         <img class="svgBudite svgBuditeSvg" src="@/assets/budite.svg" />
        <br>
        <b-button class="crveni-gumb" router-link to="/kako-sudjelovati">Sudjelujte</b-button>
      </b-carousel-slide>

      
      <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid w-100"
          width="1024"
          height="480"
          src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Stariji-par-Horizontalna-1.jpg"
          alt="image slot"
        >
        <img class="svgBudite svgBuditeSvg" src="@/assets/budite.svg" /><br>
        <b-button class="crveni-gumb" router-link to="/kako-sudjelovati">Sudjelujte</b-button>
      </b-carousel-slide>
       <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid w-100"
          width="1024"
          height="480"
          src="@/assets/HTZ-2020-Tjedan-odmora-vrijedan-Otac-i-sin-1.jpg"
          alt="image slot"
        >
        <img class="svgBudite svgBuditeSvg" src="@/assets/budite.svg" /><br>
        <b-button class="crveni-gumb" router-link to="/kako-sudjelovati">Sudjelujte</b-button>
      </b-carousel-slide>
      
    </b-carousel>
</template>

<script>

  export default {
  name: 'CaruselSudjelovati',
  components: {
    
   
  },
  props: {
    msg: String
  },

}
</script>

