// custom.scss
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=latin-ext');


// Roboto font
$roboto: 'Roboto',
sans-serif;
;

// Boje
$plava: #00386C;
$tamno-plava: #001F3B;
$crvena: #CF1F25;
$svjetlo-plava: #DDF7FF;

//Boje ispod ikona
$smjestaj: #cf1f25;
$hrana: #D26A09;
$kultura: #FAC401;
$aktivni: #43B17A;
$zdravlje: #AFC624;
$izleti: #172882;
$priroda: #82942A;
$nautika: #419CD6;
$prijevoz: #A8529A;
$paket: #419CD6;
$ostalo: #E84490;
$vodici: #55D6FF;

//sucess fail
$fail: #CF1F25;
$sucess: #05A701;

strong {
    color: $plava;
}

body {

    // h3{
    //  color: white;
    // }
    font-family: $roboto;
}

html,
body {
    overflow-x: hidden;
}
textarea{
    padding: 0.5rem;
}
button { 
    cursor:pointer; 
}


/*********************************

HEADER

*********************************/


#header {
    background: $plava;

}


.prijava {
    color: $plava !important;
}

/*********************************

NAVIGACIJA

*********************************/

#navigacija {
    padding: 0.3rem 0;
    background: $plava;
    text-transform: uppercase;

    .navbar-brand {
        position: absolute;
        top: -5px;
        z-index: 100;
        border-right: 0;
    }

    .navbar-nav {
        margin-left: 7.5rem;

        a {
            color: #fff;
            // border-right: 1px solid rgba(255, 255, 255, 0.3);
            padding: 0.3rem 1rem;
            padding-left: 0;

            span {
                border-right: 1px solid #ccc;
                padding-right: 1rem;
                
            }

            &:last-of-type {
                span {
                    border-right: 0;
                }
            }

        }

    }

    .nav-item {
        padding: 0.5rem;
        // padding: 1rem 0;
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        &:after {
            /*border-right: 1px solid #ccc;*/
        }
    }

    .prijava {
        background: #fff;
        color: $plava;
        border: 0;
        border-radius: 0;
        padding: 0.7rem;
        margin: -0.3rem 0;
        margin-left: auto;
        transition: 0.14s;

        img {
            vertical-align: top;
        }
    }

    .prijava:hover {
        text-decoration: none;
        background-color: #CF1F25;
        color: #ffffff!important;

        img {
            filter: brightness(5) grayscale(1) contrast(2);
        }
    }
}

/*********************************

CARUSEL
*********************************/
.carousel-indicators>li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.carousel-item {
    height: 50vh;
}

.carousel-item img {
    position: absolute;
    top: 0px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: bottom;
   
}
  div.container{
        max-width: 1920px;
        width: 87%;
    }
@media only screen and (max-width: 1210px){
    .carousel-item img{
        height:100%;
    }
    div.container{
        max-width: 1920px;
        width: 87%;
    }
}

.carousel-caption {
    position: relative;
    padding-bottom: initial;
    color: #fff;
    text-align: center;
    height: 100%;
    top: 0;
    width: 80%;
    right: initial;
    left: initial;
    bottom: initial;
    padding: 20vh 0 0 0;
    margin: 0 auto;
}


img.svgBudite {
    height: initial;
    top: 0%;
    position: relative;
}

@media only screen and (max-width: 976px) {

    img.svgBuditeCarusel {
        width: 100%;
    }
}

/*********************************

CONTENT
*********************************/

//dodan 2rem 12.11 treba vidjeti kako će se ponasati
.content {
    padding: 5rem 2rem;
    font-size: 1rem;

    h2 {
        color: $plava;
        font-size: 2.5rem;
        padding-bottom: 1rem;

    }

    strong {
        color: $plava;
    }
}

/*********************************

KATEGORIJE

*********************************/

#kategorije {
    h5 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        color: $plava;
        // .smjestaj{
        //  border-bottom: 4px solid red;
        // }
        padding-bottom: 1rem;
        padding-top: 0.5rem;

        &.smjestaj {
            border-bottom: 13px solid #CB2422;
        }

        &.hrana {
            border-bottom: 13px solid #D26B13;
        }

        &.kultura {
            border-bottom: 13px solid #FAC401;
        }

        &.aktivni {
            border-bottom: 13px solid #AFC624;
        }

        &.priroda {
            border-bottom: 13px solid #829427;
        }

        &.zdravlje {
            border-bottom: 13px solid #43B17A;
        }

        &.nautika {
            border-bottom: 13px solid #419CD6;
        }

        &.izleti {
            border-bottom: 13px solid #283476;
        }

        &.prijevoz {
            border-bottom: 13px solid #A8529A;
        }

        &.paket {
            border-bottom: 13px solid #E84490;
        }

        &.ostala {
            border-bottom: 13px solid #DCDCDC;
        }

    }

    .content {
        /* .row{
        padding-top: 2rem;
    } */
    }

    p {
        padding-bottom: 1rem;
    }

}
.podkategorije{
    display: flex;
}

/*********************************

FOOTER

*********************************/




// #footer{
//  background: $plava;
//  padding: 3rem 0;
//  h5{
//    color: white;
//  }
// }
#footer {
   
    background: $plava;
    color: #fff;
    font-size: 0.9rem;

    .footer__mreze {
        svg {
            margin-right: 5px;
        }

        p {
            margin-bottom: 0;
        }

    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    h5 {
        font-size: 0.9rem;
        color: #fff;
        text-transform: uppercase;
        padding-top: 0.1rem;
        padding-bottom: 0.5rem;
        font-weight: bold;
    }
}

/*********************************

GUMBI

*********************************/

.btn + .btn {
    margin-left: 0.5rem;
}

.crveni-gumb {
    background: $crvena;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.5rem 2rem;
    font-weight: bold;
    border: 0;
    text-shadow: none;
    margin-top: 30px;
    display: inline-block;
}

.plavi-gumb {
    background: $plava;
    border: 1px solid $plava;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.5rem 2rem;
    font-weight: bold;
    line-height: 1;

    &:hover {
        background-color: $tamno-plava;
        border-color: $tamno-plava;
        color: #fff;
    }
}

.plavi-gumb-outline {
    background: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: bold;
    border: 0;
    color: $plava;
    border: 1px solid $plava;
    padding: 0.5rem 2rem;
    line-height: 1;
}

.mali-gumb {
    font-size: 0.8rem;
}

hr {
    border-top: 1px solid $plava;
}

//.carousel-caption{
//  top: 50%;
//}

/*SVG*/

.htz_logo {
    width: 200px;
    height: 100px;
}

.tanjur {
    width: 50px;
}

// $theme-colors: (
//   "plava": #0074d9,
//   "danger": #ff4136
// );

/*********************************

MODAL

*********************************/
/* Makni modal header i footer */

.modal-open {
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}

.modal-content{
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 0px 0px 100px 0px;
    .close:focus{
        outline: none;
    
    }
}
@mixin prikazi-footer-modal {
    .modal-footer {
        display: none;
        padding: 0;

        .row {
            margin-top: -1px;
        }

        button {
            border-radius: 0;
            // border-top: none;
            /* &:first-child {
                      border-right: 0;
      } */
        }
    }

}

.modal-body {
    input {
        border-radius: 0;

        &::placeholder {
            font-size: 0.8rem;
            color: #ced4da;
        }
    }

    label {
        padding-left: 1rem;
        color: #000;
        font-weight: 400;
        font-size: 0.9rem;
    }
}


#prijava,
#prijavaLogin {
    h2 {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem 0;
        font-weight: normal;
    }

    .crveni-gumb {
        font-size: 1.3rem;
    }

    .zaboravili-sifru {
        color: #333;
        font-size: 0.8rem;
    }
}

.modal-header {
    justify-content: center;
    border-bottom: none;

    .modal-title {
        color: $plava;
        font-size: 2.3rem;
        text-align: center;
        font-weight: normal;
    }

    // display: none;

}

.modal-footer {
    display: none;
}

@mixin paddingModal {
    padding: 2rem 3rem 3rem 3rem;

}
/* Prvi modal */
div#modal-multi-1___BV_modal_content_ {
    @include paddingModal;
    border: 1px solid $plava;
}

div#modal-multi-1___BV_modal_body_ {

    border: 1px solid $plava;
}

/* Drugi modal */
div#modal-multi-2___BV_modal_content_ {
    @include paddingModal;
    border: 1px solid $plava;
}

div#modal-multi-2___BV_modal_body_ {

    border: 1px solid $plava;
}

/* Treci modal */
div#modal-multi-3___BV_modal_content_ {
    @include paddingModal;
    border: 1px solid $plava;
    @include prikazi-footer-modal;
}

// div#modal-multi-3___BV_modal_body_ {

//     border: 1px solid $plava;
// }

/* Cetvrti modal */
div#modal-multi-4___BV_modal_content_ {
    @include paddingModal;
    border: 1px solid $plava;
    @include prikazi-footer-modal;
}

// div#modal-multi-4___BV_modal_body_ {

//     border: 1px solid $plava;
// }

/* Peti modal */
div#modal-multi-5___BV_modal_content_ {
    @include paddingModal;
    border: 1px solid $plava;
    @include prikazi-footer-modal;
}

// div#modal-multi-5___BV_modal_body_ {

//     border: 1px solid $plava;
// }

/* Sedmi modal */
div#modal-multi-7___BV_modal_content_ {
    @include paddingModal;
    border: 1px solid $plava;

    .modal-footer {
        display: block;
        padding: 0;

        .row {
            margin-top: -1px;
        }
    }
}

// div#modal-multi-7___BV_modal_body_ {

//     border: 1px solid $plava;
// }

/* Osmi modal */
div#modal-multi-8___BV_modal_content_ {
    @include paddingModal;
    border: 1px solid $plava;
    @include prikazi-footer-modal;
}

// div#modal-multi-8___BV_modal_body_ {

//     border: 1px solid $plava;
// }

/* Deveti modal */
div#modal-multi-9___BV_modal_content_ {
    @include paddingModal;
    border: 1px solid $plava;
    @include prikazi-footer-modal;
}

div#modal-multi-9___BV_modal_body_ {

    border: 1px solid $plava;
}


/* Deseti modal */
/*div#modal-multi-10___BV_modal_content_ {
    @include paddingModal;
     border: 1px solid $plava;
     @include prikazi-footer-modal;
     }
div#modal-multi-10___BV_modal_body_ {

    border: 1px solid $plava;
}*/


/* 12 modal - registracija uspješna */
div#modal-multi-12___BV_modal_content_ {
    @include paddingModal;
    border: 1px solid $plava;

}

div#modal-multi-12___BV_modal_body_ {

    border: 1px solid $plava;
}

/* 13 modal - ponuda kreirana */
div#modal-multi-13___BV_modal_content_ {
    @include paddingModal;
    border: 1px solid $plava;
    @include prikazi-footer-modal;
}

div#modal-multi-13___BV_modal_body_ {

    border: 1px solid $plava;
}

/* 14 modal - ponuda kreirana */
div#modal-multi-14___BV_modal_content_ {
    @include paddingModal;
    border: 1px solid $plava;
    @include prikazi-footer-modal;
}

div#modal-multi-14___BV_modal_body_ {

    border: 1px solid $plava;

    .rounded-pill {
        padding: 0.3rem 2rem;
    }
}


.modal-header .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.5rem;
    margin: 0;
    font-size: 2.5rem;
    z-index: 1060;
}


#PrijavaLoginUspjeh {
    hr {
        border: 7px solid $plava;
    }

    h5 {
        color: $plava;
    }

    .col-lg-4 {
        cursor: pointer;

        &:hover {
            cursor: pointer;
        }

    }


}

.plava-olovka {
    width: 20px;
}

/*********************************

REGISTRACIJA

*********************************/

.registracija_okvir {
    border: 1px solid $plava;
    padding: 1.5rem;
    border-bottom: none;
}

// .v-step.is-visited .index[data-v-1a92c248]{
//  color: rgba($plava, 0.50);
// }
// .v-step.is-active .index[data-v-1a92c248]{
//  background: $plava;
//  color: #fff;
// }

label.label {
    position: relative;
}

label.custom-control-label {
    padding: 0px;
}

@mixin label {
    .label {
        span {
            background: $plava;
            color: #fff;
        }
    }

}

.v-step.is-active .label .index[data-v-1a92c248] {

    background: $plava;
    ;
}

.v-stepper .v-step label .divider {
    border-bottom: 5px solid #DDF7FF;
}

.v-stepper {
    .v-stepper-root {
        .is-active {
            @include label;

            .divider {
                border-bottom: 5px solid $plava;
                box-shadow: none;
            }
        }

        .is-visited {
            @include label;

            .divider {
                border-bottom: 5px solid $plava;
            }
        }
    }

    .modal-body label {
        padding-left: 0;
    }

    .v-step {

        opacity: 1;

        label {
            padding-left: 0;

            .divider {
                border-bottom: 5px solid $svjetlo-plava;
                margin-left: 0;
            }

            .index {
                width: 2.5rem;
                height: 2.5rem;
                box-shadow: none;
                background: $svjetlo-plava;
                color: rgba($plava, 0.50);
                font-size: 1rem;
                border: 0;

                margin-left: 50%;
                display: inherit;
                position: absolute;
                left: -1.25rem;
            }
        }
    }


}

@media only screen and (max-width: 575px) {
    div.v-stepper .v-step {
        // Bootstrap "xs"
        margin-right: 0rem;
    }
    div.modal-body{
        padding: 0;
    }
    nav#navigacija .navbar-brand {   
        top: -5px;
        z-index: 1000; 
        left: -42px;
    }
}

@media only screen and (max-width: 1000px) {
    .svgBuditeSvg {
        // Bootstrap "xs"
        width: 100%;
    }
    .desk{
        display: none;
    }

}


/*********************************

KREIRANJE PONUDE

*********************************/

.plavi-border {
    padding: 1rem;
    border: 1px solid $plava;
}

.dodatne-fotke {
    .img-thumbnail {
        padding: 0;
        border: 0;
        border-radius: 0;

    }
}

.registracija_okvir_zadnji {
    p {
        color: #CED4DD;
    }
}

/*********************************

ČESTA PITANJA

*********************************/

.cestaPitanja {
    .card {
        border: 0;

        .btn-secondary {

            background-color: white;
            border-color: none;
            border: 0;
            color: $plava;
            text-align: left;
        }
    }

    .card-body {
        font-size: 1rem;
        text-align: left;
    }

    .card-header {
        padding: 0;
        border-bottom: 0;
        text-align: left;

        svg {
            width: 10px;
        }
    }
}

/*********************************

PONUDE

*********************************/
.v-step span.divider {
    box-shadow: none;
}

.categoriesHolder {
    .catLink {}
}

.btn-secondary:hover {

    background-color: $plava;

}

#input-22 {
    background-image: url('./assets/prazni_kriz.svg');
    // background-image: url(${require('@/assets/download.svg')});
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
}

.custom-select {
    background: url('./assets/ArrowSvg.svg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
}

.filterSub {
    border-top: 5px solid $plava;
    margin-top: 1rem;
}

/*********************************

SUCESS / FAIL

*********************************/
.modal-body {
        padding: 0rem 0rem;
    }


/*********************************

RESPONZIVA

*********************************/

@mixin modal-responziva {
    padding: 2rem 2rem 3rem 2rem;

}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        max-width: 900px;
    }
}

@media (max-width: 576px) {
    // div#modal-multi-5___BV_modal_content_ {
    //     @include modal-responziva;
    // }
    #userBox {
        .neuspjela{
            width: 92%;
        }
        .danger{
            width: 100%;
        }
        .crveni-gumb, .plavi-gumb{
            padding: .5rem 1rem;
        }
    }
    div#modal-multi-3___BV_modal_content_ {
        @include modal-responziva;
    }
    div#modal-multi-4___BV_modal_content_ {
        @include modal-responziva;
    }

    div#modal-multi-5___BV_modal_content_ {
        @include modal-responziva;
    }

    div#modal-multi-8___BV_modal_content_ {
        @include modal-responziva;
    }

    div#modal-multi-10___BV_modal_content_ {
        @include modal-responziva;
    }

    div#modal-multi-11___BV_modal_content_ {
        @include modal-responziva;
    }

    div#modal-multi-12___BV_modal_content_ {
        @include modal-responziva;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 90%;
        margin: 1.75rem auto;
    }

    .modal-md {
        max-width: 576px;
    }
}

@media (max-width: 575px) {
    .modal-dialog {
        max-width: 100%;
        margin: 0;  
    }
}





.with-icon {
    white-space: nowrap;
    max-width: 100%;
    width: auto;
    padding: 0.375rem 2rem;
}

.with-icon svg {
    height: 100%;
    max-height: 1.2em;
    width: auto;
    max-width: 1.2em;
    display: inline;
    margin-right: .5em;
    vertical-align: text-top;
}


.color-primary {
    color: #00386C;
}

.font-light {
    font-weight: 300;
}

#cta-twitter {
    background-color: #1da1f2;

    img {
        height: .9em;
        margin-top: -0.1rem;
        margin-right: 0.25rem;
    }
}

#cta-facebook {
    background-color: #3b5998;
    
    img {
        height: 1.2em;
        vertical-align: sub;
        margin-right: 0.25rem;
    }
    
}

#cta-twitter,
#cta-facebook {
    border: 0;
    padding: 0.25rem 1.25rem;
}


#photo-modal .modal-header {
  padding: 0;
}

#photo-modal .photo-modal-content img {
    width: 100%;
}