.offerModal {
    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #00386C;
    }

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;

        color: #000000;
    }
}