#userBox {
    max-width: 1000px;
    margin: auto;
    width: 90%;
}

.noPonuda {
    margin-top: 50px;

    img {
        width: 30px;
        margin-right: 10px;
    }
}

.ponudaBox {
    width: 98%;
    overflow: hidden;
    margin: 30px auto 0;
    border: 2px solid #00386C;
    border-radius: 3px;
    height: 250px;
    display: flex;
    position: relative;

    .imagePart {
        width: 45%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .textPart {
        width: 50%;
        color: black;
        text-align: left;
        margin-left: 3%;
        margin-top: 60px;

        .catTag {
            background-color: #00386C;
            display: inline-block;
            padding: 2px 11px;
            border-radius: 50px;
            font-size: 13px;
            color: white;
            margin-bottom: 8px;
        }

        h2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            color: #494949;
        }

        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;

            color: #9C9C9C;
        }

    }

    .statusHolder {
        position: absolute;
        right: 0px;
        background-color: #00386C;
        color: white;
        font-size: 14px;
        padding: 3px 15px;
        border-bottom-left-radius: 8px;

        img {
            vertical-align: inherit;
            margin-right: 4px;
            width: 10px;
        }
    }

}

.buttonHolder {
    width: 98%;
    background-color: #00386C;
    margin: auto;
    display: flex;
    margin-top: 30px;

    button {
        width: 50%;
        padding: 8px 0;
    }
}

button {
    background-color: white;
    border: 1px solid #00386C;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: middle;
    font-weight: bold;
    color: #00386C;
    outline: none;
    transition: 0.3s;

    &.dark {
        background-color: #00386C;
        color: white;

        img {
            filter: contrast(0) brightness(100)
        }
    }

    &:hover {
        opacity: 0.8;
    }

    img {
        margin-right: 5px;
    }
}