$plava: #00386C;

.customForms {
  width: 80%;
  margin: 60px auto;

  .modal-buttonHolder{
    width: 100%;
  }

  label {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    /* identical to box height */

    color: #000000;

  }

  input {
    width: 100%;
    background: #ffffff;
    border: 1px solid #b5b5b5;
    box-sizing: border-box;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    padding: 10px 15px;
  }
  
       span.inputObj {
        display: inline-block;
        margin-bottom: 15px;
        width: 50%;
        &.small-2{
          width: 19%;
          margin-right: 1%;
          float: left;
        }
        &.small-3{
          width: 30%;
          float: left;
        }
      } 

  .flexRow{
    display: flex;
    justify-content: space-between;
    span{
      width: 48%;
    }
  }
  .imgBtn{
    border: 1px solid $plava;
    padding: 0.5rem 1.2rem;
    color: $plava;
    // width: 50%;
    img{
      padding-right: .5rem;

    }
  }
  textarea{
    width: 100%;
  }    
  span.error{
    color: red;
    display: block;
    font-size: 12px;
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    margin: 0 0 15px;
}
}

.stepViewer {
  display: flex;
  width: 80%;
  margin: 60px auto;
  justify-content: space-between;
  div {
    text-align: center;
    background-color: #ddf7ff;
    width: 33.33%;
    height: 5px;
    &.active {
      color: white;
      background-color: #00386c;
    }
    span {
      width: 40px;
      height: 40px;
      display: block;
      background-color: #ddf7ff;
      -webkit-transform: translateX(50%) translateY(50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50px;
      margin-left: 50%;
      padding: 8px;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;

      color: rgba(0, 56, 108, 0.5);
      &.active {
        color: white;
        background-color: #00386c;
      }
    }
  }
}