// custom.scss

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=latin-ext");

// Roboto font
$roboto: "Roboto", sans-serif;

// Boje
$plava: #00386c;
$crvena: #cf1f25;
$svjetlo-plava: #ddf7ff;

//Boje ispod ikona
$smjestaj: #cf1f25;
$hrana: #D26A09;
$kultura: #FAC401;
$aktivni: #43B17A;
$zdravlje: #AFC624;
$izleti: #172882;
$priroda: #82942A;
$nautika: #419CD6;
$prijevoz: #A8529A;
$paket: #419CD6;
$ostalo: #E84490;
$vodici: #55D6FF;

strong {
	color: $plava;
}

body {
	font-family: $roboto;
	margin: 0px;
	line-height: 1.4;
}

#app {
	   -webkit-font-smoothing: antialiased;
	   -moz-osx-font-smoothing: grayscale;
	   text-align: center;
	   color: $plava;
	   margin: 0px;
		// background: $svjetlo-plava;
}

//gazim stilove od komponente jer neće preko komponennte

.filter{

	.multiselect__option{
	display: flex !important;
	.option__title{
		font-weight: bold;

	}
}
li.multiselect__element {
    border: 1px solid #ccc;
    margin: 0.3rem;
   
}


.multiselect__single{
	/* .prvaslika{
		display: none;
	} */
	.option__title{
		font-weight: bold;
		color: $plava;
		font-size: 1.5rem;
	}
}
}

div.v-stepper .v-step {
    
    margin-right: 0;
}

.header-slika{
	display: none;
}
@media only screen and (max-width: 768px) {
	div.header-slika{
		display: block;
        background-position: 63%;
    
	}
	.VueCarousel{
		display: none;
	}

  .filter div.multiselect__select {
	     left: auto;
		z-index: 1;
	
	}
}
.filter{
	
	.multiselect__option {
		  
		  .option__title {
		    
		    color: $plava;
		  }
		}
	.multiselect__tags{
		border-radius:0 ;
		border: 0;

	}
	.multiselect__content {
		

	li:nth-child(1) {
		
		.multiselect__option--highlight{
			background: $smjestaj;
			
			.option__image{		
					filter: grayscale(1) brightness(100);	
			}
			.option__title{
				color: white;
			}
		}
		.multiselect__option{
			border-bottom: 8px solid $smjestaj;

		}	

	}
	li:nth-child(2) {
		.multiselect__option--highlight{
			background: $hrana;
			
			.option__image{		
					filter: grayscale(1)  brightness(100);	
			}
			.option__title{
				color: white;
			}
		}
		.multiselect__option{
			border-bottom: 8px solid $hrana;
		}	

	}
	li:nth-child(3) {
		.multiselect__option--highlight{
			background: $kultura;
			
			.option__image{		
					filter: grayscale(1)  brightness(100);	
			}
			.option__title{
				color: white;
			}	
		}
		.multiselect__option{
			border-bottom: 8px solid $kultura;
		}	

	}
	li:nth-child(4) {
		.multiselect__option--highlight{
			background: $aktivni;
			
			.option__image{		
					filter:grayscale(1)  brightness(100);	
			}
			.option__title{
				color: white;
			}	
		}
		.multiselect__option{
			border-bottom: 8px solid $aktivni;
		}	

	}
	li:nth-child(5) {
		.multiselect__option--highlight{
			background: $zdravlje;
			
			.option__image{		
					filter: grayscale(1) brightness(100);	
			}
			.option__title{
				color: white;
			}
		}
		.multiselect__option{
			border-bottom: 8px solid $zdravlje;
		}	

	}
	li:nth-child(6) {
		.multiselect__option--highlight{
			background: $izleti;
			
			.option__image{		
					filter: grayscale(1)  brightness(100);	
			}
 			.option__title{
				color: white;
			}	
		}
		.multiselect__option{
			border-bottom: 8px solid $izleti;
		}	

	}
		li:nth-child(7) {
		.multiselect__option--highlight{
			background: $priroda;
			
			.option__image{		
					filter: grayscale(1) brightness(100);	
			}
			.option__title{
				color: white;
			}
		}
		.multiselect__option{
			border-bottom: 8px solid $priroda;
		}	

	}
	li:nth-child(8) {
		.multiselect__option--highlight{
			background: $nautika;
			
			.option__image{		
					filter: grayscale(1) brightness(100);	
			}
			.option__title{
				color: white;
			}
		}
		.multiselect__option{
			border-bottom: 8px solid $nautika;
		}	

	}
	li:nth-child(9) {
		.multiselect__option--highlight{
			background: $prijevoz;
			
			.option__image{		
					filter: grayscale(1) brightness(100);	
			}
			.option__title{
				color: white;
			}
		}
		.multiselect__option{
			border-bottom: 8px solid $prijevoz;
		}	

	}
	li:nth-child(10) {
		.multiselect__option--highlight{
			background: $paket;
			
			.option__image{		
					filter: grayscale(1)  brightness(100);	
			}
			.option__title{
				color: white;
			}
		}
		.multiselect__option{
			border-bottom: 8px solid $paket;
		}	

	}
	li:nth-child(11) {
		.multiselect__option--highlight{
			background: $ostalo;
			
			.option__image{		
					filter: grayscale(1)  brightness(100);	
			}
			.option__title{
				color: white;
			}
		}
		.multiselect__option{
			border-bottom: 8px solid $ostalo;
		}	

	}
	li:nth-child(12) {
		.multiselect__option--highlight{
			background: $vodici;
			
			.option__image{		
					filter: grayscale(1)  brightness(100);	
			}
			.option__title{
				color: white;
			}
		}
		.multiselect__option{
			border-bottom: 8px solid $vodici;
		}	

	}
}
}



// .container {
// 	max-width: 1840px;
// 	width: 100%;
// 	margin: 0 auto;
// }




a {
	color: $plava;

	&:hover {
		color: $crvena
	}
}

.VueCarousel-pagination{
	display: none;
}
// .VueCarousel-slide{
// 	height: 38rem;
// }