<template>
  <div id="app">
    <clientNavigation></clientNavigation>
    <clientHeader></clientHeader>
    <router-view/>
    <CookiePolicy></CookiePolicy>
    <clientFooter></clientFooter>
  </div>
</template>
<script>

import CookiePolicy from '@/components/CookiePolicy.vue'
import ClientNavigation from '@/components/ClientNavigation.vue'
import ClientFooter from '@/components/ClientFooter.vue'
import ClientHeader from '@/components/ClientHeader.vue'

// import ClientFilterLocation from '@/components/ClientFilterLocation.vue'


export default {
  components: {
    ClientNavigation,
    ClientFooter,
    ClientHeader,
    CookiePolicy

    // ClientFilterLocation
  }
}

</script>

