<template>
  <div id="offer">
    <clientNavigation></clientNavigation>
    <router-view/>
    <clientFooter></clientFooter>
  </div>
</template>
<script>

import ClientNavigation from '@/components/ClientNavigation.vue'
import ClientFooter from '@/components/ClientFooter.vue'

// import ClientFilterLocation from '@/components/ClientFilterLocation.vue'


export default {
  components: {
    ClientNavigation,
    ClientFooter
  }
}

</script>
