<template>   
  <div class="wrap">
    <div class="wrap-inner">
        <h1>Tjedan odmora vrijedan</h1>
        <p class="lead">Tjedan odmora vrijedan je akcija <a href="https://www.mint.hr" target="_blank">Ministarstva turizma i sporta</a> i <a href="https://www.htz.hr" target="_blank">Hrvatske turističke zajednice</a> kojom se u tjednu od <mark>16. do 25. 10. 2020.</mark> omogućuje svim građanima Hrvatske da posjete i upoznaju druge dijelove naše zemlje uz značajne popuste na sve turističke proizvode, od smještaja, prijevoza, znamenitosti pa sve do ugostiteljskih usluga i različitih doživljaja.</p>

        <p>Cilj je projekta poticanje domaćeg turizma i povećanje turističkog prometa u postsezoni.</p>
       
    </div>
  </div>
</template>
<script>
export default {
  mounted() {
    // this.$ga.page({
    //   path: this.$router.path,
    //   name: this.$router.name,
    //   location: window.location.href,
    // });
  },
  metaInfo: {
    title: "HTZ - Tjedan Odmora Vrijedan - Akcija",
    meta: [
      // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
      // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
      {
        name: "description",
        content:
          "Osoba koja koristi Internetske stranice (u daljem tekstu: Korisnik), korištenjem istih bezuvjetno pristaje na primjenu ovih Uvjeta korištenja te se smatra da je ista sposobna prihvatiti ove Uvjete korištenja i da shvaća sve rizike povezane s korištenjem ovdje objavljenog i dostupnog sadržaja.",
      },
      {
        name: "keywords",
        content: "htz, Tjedan odmora vrijedan, turizam, 2020",
      },
    ],
  },
};
</script>

<style scoped lang="scss">
.wrap {
    background-color: #ffffff;
    padding: 4rem 1rem;
    color: #212121;
    margin: -11vh auto 5vh;
}

.wrap-inner {
    max-width: 1024px;
    margin: 0 auto;
}

ol.tos {
    text-align: left;
    list-style: none;
}

ol.tos > li {
        margin: 2rem 0;
}

ol.tos > li > strong {
    margin-bottom: 1rem;
    display: block;
    color: #212121;
    font-size: 1.1rem;
}

.lead {
  font-size: 1rem;
}

mark {
  background-color: #eaeaea;
  padding: 0.25rem;
}
</style>