<template>
    <div class="wrap">
        <div class="wrap-inner cestaPitanja">

            <h1>Česta pitanja</h1>
            <p class="sub-heading">Potražite odgovore na neka od najčešćih pitanja</p>

            <div class="harmonika" v-for="(pitanja, key, index) in cestapitanja" >
                <div @click="pitanja.open = !pitanja.open" class="harmonikaPitanje">
                    <p v-html="pitanja.pitanje"></p>
                    <img :class="{ rotate: pitanja.open }" :src="pitanja.image">
                </div>
                <transition  v-if="pitanja.open" name="fade">
                    <div  v-html="pitanja.odgovor" class="harmonikaOdgovor"> </div>
                </transition>
            </div>

        </div>
    </div>            
</template>

<script>

export default {
    name: 'CestaPitanja',


    data() {
        return {
            // image: require('@/assets/aktivni.svg'),
            isActive: false,
            cestapitanja: [{
                    pitanje: "Što je Tjedan odmora vrijedan?",
                    odgovor: "Tjedan odmora vrijedan je akcija Ministarstva turizma i sporta i Hrvatske turističke zajednice kojom se u terminu od 16. do 25. 10. 2020. omogućuje svim zainteresiranim građanima da putuju i upoznaju druge dijelove Hrvatske uz značajne uštede.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Tko je pokrenuo akciju Tjedan odmora vrijedan?",
                    odgovor: "Ovu akciju zajednički su pokrenuli Ministarstvo turizma i sporta i Hrvatska turistička zajednica.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Tko sve može sudjelovati u akciji?",
                    odgovor: "Za sudjelovanje u akciji mogu se prijaviti svi poslovni i privatni subjekti iz turističkog sektora poput hotela, privatnih iznajmljivača, turističkih agencija, restorana, barova, nacionalnih parkova i parkova prirode, muzeja, galerija, prijevoznika, rent-a-cara, iznajmljivača plovila te subjekata zdravstvenog i lječilišnog turizma.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Koliko dugo traje akcija?",
                    odgovor: "Akcija traje 10 dana, u razdoblju od 16. do 25. 10. 2020.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Može li se plaćanje usluga obaviti preko web stranice tjedan<strong style='color: black;''>odmora</strong>vrijedan.hr?",
                    odgovor: "Ne. Ova web stranica služi isključivo za promociju ponuda turističkih subjekata, korisnici ponuda rezervaciju i plaćanje usluge ostvaruju u izravnom kontaktu s odabranim ponuđačima putem kontakata (telefon, e-mail ili web stranica) prikazanih uz ponudu.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Je li potrebno napraviti rezervaciju za korištenje ponude?",
                    odgovor: "Za većinu ponuda potrebno je napraviti rezervaciju. Rezervaciju ostvarujete u izravnom kontaktu sa ponuđačem putem objavljenih kontakt podataka (telefon, e-mail adresa, web stranice)",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Tko može koristiti objavljene ponude?",
                    odgovor: "Ponude mogu koristiti isključivo privatne osobe - državljani RH kao i strani državljani. Ponude se ne mogu preprodavati trećim stranama.Preprodavanjem ponuda trećim stranama ne smatra se korištenje pojedinačnih ponuda u kreiranju ponuda turističkih agencija sukladno propisima koji reguliraju pružanje usluga u turizmu.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                    
                    
                },
                {
                    pitanje: "Kome se mogu obratiti ako nisam zadovoljan kvalitetom pružene usluge?",
                    odgovor: "Sve eventualne probleme oko kvalitete pružene usluge rješavate izravno sa pružateljem usluge. U slučaju da u izravnom kontaktu ne možete ostvariti svoja potrošačka prava možete se za savjet, pitanje ili prijavu obratiti Ministarstvu gospodarstva putem <a href='https://prijava.mingo.hr/CD/prijava.jsp'>centralnog informacijskog sustava za zaštitu potrošača</a>.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                }

            ]

        }
    },
    methods: {
        active(ev, index) {
            console.log(index)
            console.log(ev)
            ev.isActive = index;

        },

    },
    mounted() {
        //   this.$ga.page({
        //       path: this.$router.path,
        //       name: this.$router.name,
        //       location: window.location.href
        //     });
    },
    metaInfo: {
        title: 'HTZ - Tjedan Odmora Vrijedan - Česta pitanja',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Česta pitanja vezano za akciju Tjedan odmora vrijedan' },
            { name: "keywords", content: "htz, Tjedan odmora vrijedan, turizam, 2020" }
        ]

    },
}

   
</script>

<style scoped lang="scss">

    p.sub-heading {
        margin-top: -1rem;
        margin-bottom: 2rem;
    }

    .wrap {
        background-color: #ffffff;
        padding: 4rem 1rem;
        color: #212121;
        margin: -11vh auto 5vh;
    }
    
    .wrap-inner {
        max-width: 1024px;
        margin: 0 auto;
        text-align: left;
    }
    
    ol.tos {
        text-align: left;
        list-style: none;
    }
    
    ol.tos > li {
            margin: 2rem 0;
    }
    
    ol.tos > li > strong {
        margin-bottom: 1rem;
        display: block;
        color: #212121;
        font-size: 1.1rem;
    }
    
    .lead {
      font-size: 1rem;
    }
    
    mark {
      background-color: #eaeaea;
      padding: 0.25rem;
    }

    

.cestaPitanja {

/*----------  Dodan border na zadnji child  ----------*/
.odaberi {
    text-align: left;
    font-size: 0.9rem;
}

.harmonika {
    &:last-child {
        border-bottom: 1px solid #B5B5B5;
    }

}

.harmonika {
    .harmonikaPitanje {
        border: 1px solid #B5B5B5;
        border-bottom: 0;
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 1rem;
        text-align: left;

        // &:last-child{
        //   border-bottom: 1px;
        // }

        p {
            flex: 1 1 auto;
            margin: 0;
            margin-right: 15px;
        }

        img {
            flex: 0 0 15px;
            width: 15px;
            height: 15px;
            filter: opacity(0.5);
            transition: .35s ease-in-out;
        }

        .rotate {
            -ms-transform: rotate(180deg);
            /* IE 9 */
            -webkit-transform: rotate(180deg);
            /* Safari prior 9.0 */
            transform: rotate(180deg);
            /* Standard syntax */
            // transition: .35s ease-in-out;
        }
    }

    .harmonikaOdgovor {
        background: rgba(0, 56, 108, 0.1);
        border: 1px solid #B5B5B5;
        color: $plava;
        border-bottom: 0;
        padding: 2rem 1rem;
        // border-bottom: 0;
        // display: none;
        text-align:left;
        // &:last-child{
        //   border-bottom: 1px;
        // }
    }
}
}

@media only screen and (max-width: 600px){

.pitanja{
    padding:0px;
}
}


/*----------  TRANZICIJE - fade  ----------*/
.fade-enter-active,
.fade-leave-active {
transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
{
opacity: 0;
}

.active {
display: block !important;
}

.rotate-enter-active,
.rotate-leave-active {
-ms-transform: rotate(90deg);
/* IE 9 */
-webkit-transform: rotate(90deg);
/* Safari prior 9.0 */
transform: rotate(90deg);
/* Standard syntax */
transition: .35s ease-in-out;
}

.rotate-enter,
.rotate-leave-to

/* .fade-leave-active below version 2.1.8 */
{
-ms-transform: rotate(0deg);
/* IE 9 */
-webkit-transform: rotate(0deg);
/* Safari prior 9.0 */
transform: rotate(0deg);
/* Standard syntax */
transition: .35s ease-in-out;
}
    </style>