<template>
    <div class="home">
      
        <clientFilter @setIndexAndActive="getCatFilter"></clientFilter>
        <div class="filter-location">
            <!-- <div class="multi"> -->
            <div class="filter-location__region">
                <select v-model="izabranaRegija" @change="getRegionFilter">
                    <option value="all" selected>Sve regije</option>
                    <option v-for="region in regions" :value="region.brojRegije" v-bind:key="region.brojRegije">
                        {{region.naziv}}</option>
                </select>
            </div>
            <div class="filter-location__search">
                <input v-on:keyup.enter="search" v-model="searchKey" type="text" placeholder="Pretraži ..." />
                <button @click="search" v-if="searchIsActive === false">
                    <svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6666 18.0857L11.6666 17.1593L11.9862 16.8373C13.3127 17.9748 15.0324 18.6667 16.9166 18.6667C21.1049 18.6667 24.4999 15.2717 24.4999 11.0833C24.4999 6.895 21.1049 3.5 16.9166 3.5C12.7282 3.5 9.33325 6.895 9.33325 11.0833C9.33325 12.9675 10.0239 14.686 11.1602 16.0125L10.8406 16.3345L9.91658 16.3345L4.09375 22.1655L5.83325 23.905L11.6666 18.0857ZM11.6666 11.0833C11.6666 8.183 14.0162 5.83333 16.9166 5.83333C19.8157 5.83333 22.1666 8.183 22.1666 11.0833C22.1666 13.9825 19.8157 16.3333 16.9166 16.3333C14.0162 16.3333 11.6666 13.9825 11.6666 11.0833Z" fill="currentColor" />
                    </svg>
                </button>
                <button @click="resetSearch" v-if="searchIsActive === true">
                    <svg width="22" height="21" viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.11308 16H13.5939C15.4215 16 16.3535 15.0771 16.3535 13.2678V2.72302C16.3535 0.922901 15.4215 0 13.5939 0H3.11308C1.28555 0 0.353516 0.913764 0.353516 2.72302V13.2678C0.353516 15.0771 1.28555 16 3.11308 16ZM3.16791 14.4923C2.32724 14.4923 1.86123 14.0445 1.86123 13.1673V2.82353C1.86123 1.94632 2.32724 1.50771 3.16791 1.50771H13.5391C14.3706 1.50771 14.8458 1.94632 14.8458 2.82353V13.1673C14.8458 14.0445 14.3706 14.4923 13.5391 14.4923H3.16791ZM5.44318 11.6413C5.64421 11.6413 5.82696 11.5682 5.95489 11.422L8.34895 9.01885L10.7521 11.422C10.8892 11.5591 11.0628 11.6413 11.273 11.6413C11.675 11.6413 12.004 11.3124 12.004 10.9103C12.004 10.7093 11.9218 10.5357 11.7847 10.3986L9.3815 7.99543L11.7938 5.5831C11.94 5.42776 12.0131 5.27242 12.0131 5.07139C12.0131 4.66933 11.6842 4.34951 11.2821 4.34951C11.0902 4.34951 10.9349 4.42262 10.7796 4.57796L8.34895 6.98115L5.94575 4.57796C5.80868 4.44089 5.64421 4.36779 5.44318 4.36779C5.03198 4.36779 4.71217 4.67847 4.71217 5.08053C4.71217 5.28155 4.79441 5.45517 4.93147 5.59223L7.33467 7.99543L4.93147 10.4078C4.79441 10.5357 4.71217 10.7184 4.71217 10.9103C4.71217 11.3124 5.03198 11.6413 5.44318 11.6413Z" fill="currentColor" />
                    </svg>
                </button>
            </div>
            <!-- </div> -->
        </div>
        <div v-if="offers.length" class="offerHolder">
            <div v-scroll-to="'.postHolder.active'" ref="offerHolder" @click="getLatLng(offer)" :key="offer.id" class="postHolder" v-for="(offer, postIndex) in offers" v-bind:class="{ 'active' : selectedPost == postIndex}">
                <div :id="offer.poslovniSubjekt.naziv" class="fullPost" v-if="selectedPost == postIndex">
                    <div class="topContentTray">
                        <button @click="closeSelected()" class="closeBtn">
                            <img src="@/assets/ikona-zatvori.svg" />
                        </button>
                    </div>
                    <div class="topContentHolder">
                        <div class="left">
                            <!-- GALLERY SLICK SLIDER -->
                            <div class="sectionLeftHolder" v-if="selectedSection == 1">
                                <slick style="width: 100%; height: 100%" ref="slick" :options="slickOptions" @afterChange="handleAfterChange" @beforeChange="handleBeforeChange" @breakpoint="handleBreakpoint" @destroy="handleDestroy" @edge="handleEdge" @init="handleInit" @reInit="handleReInit" @setPosition="handleSetPosition" @swipe="handleSwipe" @lazyLoaded="handleLazyLoaded" @lazyLoadError="handleLazeLoadError">
                                   
                                        <img v-bind:src="offer.slikaGlavna.putanjaSlike" />
                                    
                                    
                                        <img v-if="offer" v-for="(image,index) in offer.slikaSporedne" :key="index" v-bind:src="image.putanjaSlike" alt style="object-fit: cover; width: 100%; height:100%;" />
                                        
                                </slick>
                                  <p v-if="offer.napomena" class="copyText">{{offer.napomena}}</p>
                            </div>
                            <!-- GOOGLE MAPS SECTION -->
                            <div class="sectionLeftHolder" v-if="selectedSection == 3">
                                <!-- GOOGLE MAP -->
                                <GmapMap :center="center" :options="{mapTypeControl: false}" :zoom="15" style="width: 100%; height: 500px">
                                    <GmapMarker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true" :draggable="true" @click="center=m.position" />
                                </GmapMap>
                            </div>
                            
                        </div>
                        <div class="right">
                            <div class="right-cta">
                                <div class="right-cta__item right-cta__item--mapa">
                                    <a @click="selectedSection = 3" class="cta-google-map">
                                        <svg width="32" height="39" viewBox="0 0 32 39" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.6266 25.2098C20.9193 25.2098 25.2098 20.9193 25.2098 15.6266C25.2098 10.334 20.9193 6.04346 15.6266 6.04346C10.334 6.04346 6.04346 10.334 6.04346 15.6266C6.04346 20.9193 10.334 25.2098 15.6266 25.2098Z" fill="white" />
                                            <path d="M15.6266 18.7809C17.2834 18.7809 18.6266 17.4378 18.6266 15.7809C18.6266 14.1241 17.2834 12.7809 15.6266 12.7809C13.9697 12.7809 12.6266 14.1241 12.6266 15.7809C12.6266 17.4378 13.9697 18.7809 15.6266 18.7809Z" />
                                            <path d="M15.6266 0C6.99314 0 0 6.99313 0 15.6266C0 22.4471 9.78463 33.4692 13.8712 37.7859C14.8208 38.7932 16.4324 38.7932 17.3821 37.7859C21.4686 33.498 31.2533 22.4759 31.2533 15.6266C31.2533 6.99313 24.2601 0 15.6266 0ZM15.6266 24.2889C10.8207 24.2889 6.96436 20.4038 6.96436 15.6266C6.96436 10.8494 10.8494 6.96435 15.6266 6.96435C20.4326 6.96435 24.2889 10.8494 24.2889 15.6266C24.2889 20.4038 20.4326 24.2889 15.6266 24.2889Z" />
                                        </svg>
                                        <span>Lokacija</span>
                                    </a>
                                </div>
                                <div class="right-cta__item right-cta__item--galerija">
                                    <a @click="selectedSection = 1" class="cta-gallery">
                                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="1" y="1" width="30" height="30" rx="1" stroke="#fff" stroke-width="2" />
                                            <rect x="5.00012" y="5.00125" width="8" height="10" fill="#fff" />
                                            <rect x="15.9999" y="5.00125" width="11" height="10" fill="#fff" />
                                            <rect x="19.9999" y="18.0009" width="7" height="9" fill="#fff" />
                                            <rect x="5.00012" y="18.0009" width="12" height="9" fill="#fff" />
                                        </svg>
                                        <span>Galerija</span>
                                    </a>
                                </div>
                            </div>
                            <div v-if="Object.keys(offer.poslovnaJedinica).length > 0">
                                <ul class="offer-contact">
                                    <li class="offer-contact__item offer-contact__item--adresa">
                                        <a @click="selectedSection = 3">{{offer.poslovnaJedinica.adresa}}, {{offer.poslovnaJedinica.mjesto}}</a>
                                    </li>
                                    <li class="offer-contact__item offer-contact__item--telefon">
                                        <!-- v-bind:href="'tel:' + offer.poslovnaJedinica.telefon" -->
                                        <a @click="opentel(offer)" >{{offer.poslovnaJedinica.telefon}}</a>
                                    </li>
                                    <li class="offer-contact__item offer-contact__item--email">
                                        <a v-bind:href="'mailto:' + offer.poslovnaJedinica.email" @click="openLink">{{offer.poslovnaJedinica.email}}</a>
                                    </li>
                                    <li v-if="offer.poslovnaJedinica.web" class="offer-contact__item offer-contact__item--web">
                                        <a v-bind:href="offer.poslovnaJedinica.web | cleanURL" target="_blank" @click="openLink">Posjeti web stranicu</a>
                                    </li>
                                </ul>
                            </div>

                            <div v-else>
                                <ul class="offer-contact">
                                    <li class="offer-contact__item offer-contact__item--adresa">
                                        <a @click="selectedSection = 3">{{offer.poslovniSubjekt.adresa}}, {{offer.poslovniSubjekt.mjesto}}</a>
                                    </li>
                                    <li class="offer-contact__item offer-contact__item--telefon">
                                        <a v-bind:href="'tel:' + offer.poslovniSubjekt.telefon">{{offer.poslovniSubjekt.telefon}}</a>
                                    </li>
                                    <li class="offer-contact__item offer-contact__item--email">
                                        <a v-bind:href="'mailto:' + offer.poslovniSubjekt.email" @click="openLink">{{offer.poslovniSubjekt.email}}</a>
                                    </li>
                                    <li v-if="offer.poslovniSubjekt.web" class="offer-contact__item offer-contact__item--web">
                                        <a v-bind:href="offer.poslovniSubjekt.web | cleanURL" target="_blank" @click="openLink">Posjeti web stranicu</a>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="botContentHolder">
                        <!--  <h1 v-if="offer.poslovniSubjekt" class="offerTitle">{{offer.poslovniSubjekt.naziv}}</h1>
                        <h1 v-if="offer.poslovnaJedinica" class="offerTitle">{{offer.poslovnaJedinica.naziv}}</h1>-->
                        <h1 class="offerTitle" v-if="Object.keys(offer.poslovnaJedinica).length > 0">
                            {{offer.poslovnaJedinica.naziv}}</h1>
                        <h1 class="offerTitle" v-if="Object.keys(offer.poslovnaJedinica).length === 0">
                            {{offer.poslovniSubjekt.naziv}}</h1>
                        <p class="offerText" style="white-space: pre-wrap;">{{offer.opisPonude}}</p>
                        <p class="subText">{{offer.napomena}}</p>
                       
                        <!-- <p class="social">
                            <a href="" class="socialButtonF"><img src="../assets/fb_logo2.svg">Podijeli na Facebooku</a>
                            <button class="socialButtonT"><img src="../assets/tw_logo.svg">Podijeli na Tweeteru</button>
                        </p>-->
                        <!-- <button><a  v-bind:href="'/ponuda/' + offer.id" target="_blank" >Share</a></button> -->


                        <div class="cta-social-group">
                            <button class="cta-social--fb cta-social" @click="shareFB(offer.id)">
                            <img class="socialImg" src="@/assets/fb_logo2.svg" />Facebook
                            </button>
                            <button class="cta-social--tw cta-social" @click="shareTW(offer.poslovnaJedinica.naziv, offer.poslovniSubjekt.naziv, offer.id)">
                            <img class="socialImg" src="@/assets/tw_logo.svg" />Twitter
                            </button>
                        </div>


                    </div>
                </div>
                <div @click="addclass(event, postIndex)" class="postPreview" v-else>
                    <img v-if="!loading" v-bind:src="offer.slikaGlavna.putanjaSlike" />
                    <div class="title">
                        <h3 v-if="!loading">{{offer.kategorija.naziv}}</h3>
                        <p v-if="offer.brojRegije === 1">Istra</p>
                        <p v-else-if="offer.brojRegije === 2">Kvarner</p>
                        <p v-else-if="offer.brojRegije === 3">Dalmacija - Zadar</p>
                        <p v-else-if="offer.brojRegije === 4">Dalmacija - Šibenik</p>
                        <p v-else-if="offer.brojRegije === 5">Dalmacija - Split</p>
                        <p v-else-if="offer.brojRegije === 6">Dalmacija - Dubrovnik</p>
                        <p v-else-if="offer.brojRegije === 7">Lika - Karlovac</p>
                        <p v-else-if="offer.brojRegije === 8">Središnja Hrvatska</p>
                        <p v-else-if="offer.brojRegije === 9">Grad Zagreb</p>
                        <p v-else-if="offer.brojRegije === 10">Slavonija</p>
                        <h2 v-if="Object.keys(offer.poslovnaJedinica).length > 0">{{offer.poslovnaJedinica.naziv}}</h2>
                        <h2 v-if="Object.keys(offer.poslovnaJedinica).length === 0">{{offer.poslovniSubjekt.naziv}}</h2>
                    </div>
                    
                </div>
            </div>
            <div v-if="pagesTotal.length > 1" class="pagination">
                <!--  <a href="#">&laquo;</a> -->
                <div class="flexRow">
                    <a :class="{'active': activeIndex === index}" :key="index++" @click="pagination(index)" v-for="(page,index) in pagesTotal">{{page}}</a>
                </div>
            </div>
        </div>
        <div v-else>
            <h2>Nema ponuda za traženu pretragu.</h2>
        </div>
        <div class="botContentHolder">
            <h1 v-if="offer.poslovniSubjekt" class="offerTitle">{{offer.poslovniSubjekt.naziv}}</h1>
            <h1 v-if="offer.poslovnaJedinica" class="offerTitle">{{offer.poslovnaJedinica.naziv}}</h1>
            <p class="offerText">{{offer.opisPonude}}</p>
            <p class="subText">{{offer.napomena}}</p>
        </div>
    </div>
</template>
<script>
// @ is an alias to /src
import axios from "axios";
import ClientFilter from "@/components/ClientFilter.vue";
import Slick from "vue-slick";


export default {
    name: "home",
    components: {
        ClientFilter,

        Slick
        
    },
    data: function() {
        return {
            url: this.currentUrl,
            indexCat: "",
            regions: [],
            izabranaRegija: "",
            searchKey: "",
            searchIsActive: false,
            trueKey: false,
            trueOffers: false,
            trueRegions: false,
            value: [],
            izabranaRegija: "all",
            selected: "",
            loading: false,
            pagesTotal: "",
            activeIndex: 1,
            isActive: true,
            regions: {},
            center: {
                lat: 45.814464,
                lng: 15.98286
            },
            markers: [{
                position: {
                    lat: 45.814464,
                    lng: 15.98286
                }
            }],
            loadMap: false,

            slickOptions: {
                slidesToShow: 1
                // Any other options that can be got from plugin documentation
            },
            selectedSection: 1,
            selectedPost: -1,
            selectedGallery: false,
            selectedImage: true,
            selectedMap: false,

            options: {},

            offers: {
                slike: {},
                putanjaSlike: ""
            },
            offer: []
        };
    },
    beforeMount() {
        // this.$store.dispatch('searchKeyAction');
        this.getRegions();
        this.getOffers();
         var currentUrl = window.location.pathname;

        //console.log(currentUrl);

        //  this.$ga.page({
        //     path: this.$router.path,
        //     name: this.$router.name,
        //     location: window.location.href
        //     });
    },
    metaInfo: {
        title: 'HTZ - Tjedan Odmora Vrijedan',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Tjedan odmora vrijedan je akcija Ministarstva turizma i sporta i Hrvatske turističke zajednice kojom se u tjednu od 16. do 25. 10. 2020. omogućuje svim građanima Hrvatske da posjete i upoznaju druge dijelove naše zemlje nudeći upola cijene sve turističke proizvode, od smještaja, prijevoza, znamenitosti pa sve do ugostiteljskih usluga i različitih doživljaja.' },
            { name: "keywords", content: "Hrvatska turistička zajednica, Ministarstvo turizma i sporta, Tjedan odmora vrijedan, turizam, 2020" },
            { property: "og:url", content: "https://tjedanodmoravrijedan.hr/"},
            { property: "og:type", content: "website"},
            { property: "og:title", content: "Tjedan odmora vrijedan"},
            { property: "og:description", content: "Tjedan odmora vrijedan je akcija ojom se u tjednu od 16. do 25. 10. 2020. omogućuje svim građanima Hrvatske da posjete i upoznaju druge dijelove naše zemlje uz značajne popuste na sve turističke proizvode, od smještaja, prijevoza, znamenitosti pa sve do ugostiteljskih usluga i različitih doživljaja."},
            { property: "og:image", content: "https://tjedanodmoravrijedan.hr/static/htz-tov-logo.png"}
        ]

    },
    filters: {
        cleanURL(url = "") {
            let newUrl = window.decodeURIComponent(url);
            newUrl = newUrl.trim().replace(/\s/g, "");

            if(/^(:\/\/)/.test(newUrl)){
                return `https${newUrl}`;
            }

            if(!/^(f|ht)tps?:\/\//i.test(newUrl)){
                return `https://${newUrl}`;
            }

            return newUrl;
        }
    },
    methods: {
        opentel(offer){
            //console.log("test")
            window.open('tel:' + offer.poslovnaJedinica.telefon)
        },
         shareFB (id) {
            window.open('https://www.facebook.com/sharer/sharer.php?u=https://tjedanodmoravrijedan.hr/ponuda/' + id, '_blank')
        },
        shareTW (pj, ps, id) {
        if (!pj) {
            window.open('http://twitter.com/share?text=' + ps + '&url=https://tjedanodmoravrijedan.hr/ponuda/' + id, '_blank')
        } else {
            window.open('http://twitter.com/share?text=' + pj + '&url=https://tjedanodmoravrijedan.hr/ponuda/' + id, '_blank')
        }
        },  
        openLink(e) {
            let x = e.target.getAttribute('href');
            window.open(x, '_blank');
        },
        resetSearch() {
            this.searchKey = "";
            this.search();
            this.searchIsActive = false;
        },
        search() {
            this.trueKey = true;
            this.searchIsActive = true;
            this.activeIndex = 1;
            this.loadOffers();
        },
        loadOffers() {
            let params = new URLSearchParams();

            // console.log('onLoadOffers: ' + this.activeIndex + '/' + this.pagesTotal.length);

            if (this.trueRegions) {
                if (this.izabranaRegija !== "all") {
                    params.append("regija", this.izabranaRegija);
                    
                } else {
                    params.delete("regija");
                }
            }

            if (this.trueOffers) {
                params.append("kategorija", this.indexCat);
            }

            if (this.trueKey) {
                params.append("searchKey", this.searchKey);
            }

            if (this.activeIndex) {
                params.append("page", this.activeIndex);
            }

            // console.log('before axios: ' + this.activeIndex + '/' + this.pagesTotal.length);

            axios({
                    method: "GET",
                    url: this.$store.state.baseUrl + "/public/ponuda/all?" +
                        params
                })
                .then(response => {

                    this.offers = response.data.content;

                    this.pagesTotal = Array.from(Array(response.data.totalPages)).map(
                        (e, i) => i + 1
                    );
                    
                    // if (this.activeIndex > this.pagesTotal.length) {
                    //     this.activeIndex = 1;
                    // }
                    
                    // console.log('after axios: ' + this.activeIndex + '/' + this.pagesTotal.length);

                })
                .catch(error => {
                    console.log(error);
                    this.$bvModal.show("modal-error");
                });
        },
        getLatLng(offer) {
            // var el = document.querySelector('.active')

            // window.scrollTo(0, 500);
            // // var y = elmnt.scrollHeight;
            // const start = window.pageYOffset
            // console.log(event.toElement.offsetParent)

            // offerHolder
            
            if (Object.keys(offer.poslovnaJedinica).length > 0) {
                this.center.lat = Number(offer.poslovnaJedinica.latitude);
                this.center.lng = Number(offer.poslovnaJedinica.longitude);
                this.markers[0].position.lat = Number(offer.poslovnaJedinica.latitude);
                this.markers[0].position.lng = Number(offer.poslovnaJedinica.longitude);
            } else {
                this.center.lat = Number(offer.poslovniSubjekt.latitude);
                this.center.lng = Number(offer.poslovniSubjekt.longitude);
                this.markers[0].position.lat = Number(offer.poslovniSubjekt.latitude);
                this.markers[0].position.lng = Number(offer.poslovniSubjekt.longitude);
            }

            // this.markers.position.lat = Number(offer.poslovnaJedinica.latitude),
            // this.markers.position.lng = Number(offer.poslovnaJedinica.longitude)
        },

        pagination(index) {

            this.activeIndex = index;
            this.selectedPost = -1;
            // console.log('pages ' + this.pagesTotal.length);

            // if(this.activeIndex > this.pagesTotal.length) {
            //     this.activeIndex = 1;
            // } else {
            //     this.activeIndex = index;
            // }


            // console.log(this.activeIndex);
            // console.log(this.totalPages);

            // if(this.activeIndex > this.pagesTotal) {
            //     this.activeIndex = 1;

            // } else {
            //     this.activeIndex = index;
            // }

            // //var params = "sort.sorted=true";
            // params.append("sort.sorted", true);
            // params.append("page", index);

            // return index;

            this.loadOffers();

            // axios({
            //         method: "GET",
            //         url: this.$store.state.baseUrl + "/public/ponuda/all?" +
            //             params +
            //             "&page=" +
            //             index
            //     })
            //     .then(response => {
            //         console.log(response);
            //         // this.pagesTotal = Array.from(Array(response.data.totalPages)).map((e, i) => i + 1);
            //         this.offers = response.data.content;
            //     })
            //     .catch(error => {
            //         console.log(error);
            //         this.$bvModal.show("modal-error");
            //     });
        },
        googleMaps() {
            this.map = new window.google.maps.Map(this.$refs["map"], {
                center: {
                    lat: this.lat,
                    lng: this.lng
                },
                zoom: 15
            });

            new window.google.maps.Marker({
                position: {
                    lat: this.lat,
                    lng: this.lng
                },
                map: this.map
            });
        },
        getCatFilter(ev) {
            if (ev === 0) {
                this.trueOffers = false;
                this.indexCat = "";
            } else {
                this.trueOffers = true;
                this.indexCat = ev;
            }

            this.activeIndex = 1;
            //var params = "sort.sorted=true";

            this.loadOffers();
        },
        getRegionFilter() {
            this.trueRegions = true;
            this.activeIndex = 1;

            //var params = "sort.sorted=true";

            this.loadOffers();
        },
        getRegions() {
            axios({
                    method: "GET",
                    url: this.$store.state.baseUrl + "/public/regije"
                })
                .then(response => {
                    this.regions = response.data;
                    //console.log("This data is:" + this.regions);
                })
                .catch(error => {
                    //console.log(error);
                    //alert("Problem sa autorizacijom, molim ponovno se prijavite!");
                    this.$router.push("/prijava");
                });
        },
        getOffers() {
            this.loading = true;
            let randomNumb =  Math.floor((Math.random() * 10) + 7)   
            axios({
                    method: "GET",
                    url: this.$store.state.baseUrl + "/public/ponuda/all?page=" + randomNumb
                })
                .then(response => {
                    this.loading = false;
                    this.offers = response.data.content;
                     //console.log(Math.floor((Math.random() * 10) + 7))   
                    //https://stackoverflow.com/questions/3746725/how-to-create-an-array-containing-1-n
                    
                    this.pagesTotal = Array.from(Array(response.data.totalPages)).map(
                        (e, i) => i + 1
                    );
                    this.loadMap = true;
                    this.offers.sort(() => Math.random() - 0.5);
                    this.offer = [];
                    //console.log('default: ' + this.activeIndex + '/' + this.pagesTotal.length);
                })
                .catch(error => {
                    //console.log(error);
                    //alert("Problem sa autorizacijom, molim ponovno se prijavite!");
                    this.$router.push("/prijava");
                });
        },
        addclass(e, index) {
            //console.log(e);
            this.selectedPost = index;
        },
        closeSelected() {
            //console.log("ovo radi");
            this.selectedPost = -1;
            this.selectedSection = 1;
        },

        // SLICK FUNCTIONS
        next() {
            this.$refs.slick.next();
        },
        prev() {
            this.$refs.slick.prev();
        },
        reInit() {
            // Helpful if you have to deal with v-for to update dynamic lists
            this.$nextTick(() => {
                this.$refs.slick.reSlick();
            });
        },

        // Events listeners
        handleAfterChange(event, slick, currentSlide) {
            console.log("handleAfterChange", event, slick, currentSlide);
        },
        handleBeforeChange(event, slick, currentSlide, nextSlide) {
            console.log("handleBeforeChange", event, slick, currentSlide, nextSlide);
        },
        handleBreakpoint(event, slick, breakpoint) {
            console.log("handleBreakpoint", event, slick, breakpoint);
        },
        handleDestroy(event, slick) {
            console.log("handleDestroy", event, slick);
        },
        handleEdge(event, slick, direction) {
            console.log("handleEdge", event, slick, direction);
        },
        handleInit(event, slick) {
            console.log("handleInit", event, slick);
        },
        handleReInit(event, slick) {
            console.log("handleReInit", event, slick);
        },
        handleSetPosition(event, slick) {
            console.log("handleSetPosition", event, slick);
        },
        handleSwipe(event, slick, direction) {
            console.log("handleSwipe", event, slick, direction);
        },
        handleLazyLoaded(event, slick, image, imageSource) {
            console.log("handleLazyLoaded", event, slick, image, imageSource);
        },
        handleLazeLoadError(event, slick, image, imageSource) {
            console.log("handleLazeLoadError", event, slick, image, imageSource);
        }
    }
};
</script>
<!-- <style src="vue-multiselect/dist/vue-multiselect.min.css"></style> -->
<style src="../../node_modules/slick-carousel/slick/slick.css"></style>
<!-- <style src="../../node_modules/slick-carousel/slick/slick-theme.css"></style> -->
<style>
  /* Social Buttons */

  .cta-social-group {
        margin-top: 2rem;
    }

    .cta-social {
        padding: 0.75rem 1rem;
        border: 0;
        color: #ffffff !important;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1;
        text-decoration: none;
        margin-right: 0.5rem;
        text-transform: uppercase;
        transition: 0.4s scale ease-in-out;
        cursor: pointer; 
    }
    .socialImg {
            margin-right: 0.5rem !important;
            height: 1rem !important;
            vertical-align: text-bottom !important;
        }

    .cta-social:hover{
        color: #eeeeee;
    
            /* .socialImg {
            transform: scale(1.1) !important;
            }    */
    }

    .cta-social--fb {
        background: #3b5998;
    }

    .cta-social--tw {
        background: #1da1f2;
    }
  
    @media only screen and (max-width: 768px) {
        .cta-social {
            font-size:0.7rem;
            padding:0.4rem 0.5rem;
        }
        .socialImg{
            height: 0.8rem !important;
        }
    }



/*PAGINACIJA*/

.pagination {
    /* display: inline-block;
      margin: auto;*/
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexRow {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    color: #00386c;
}

.pagination a.active {
    background-color: #00386c;
    color: white;
    border-radius: 11%;
}

/*SLICK*/

.slick-slider * {
    box-sizing: border-box;
}

.slick-list {
    width: 100% !important;
    /* height: 100% !important;*/
}

.slick-list img {
    display: block;
}

.slick-arrow {
    z-index: 1000;
    max-height: 100%;
    padding: 0 3rem;
    height: 100%;
    position: absolute;
    top: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    color: transparent;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    background: transparent;
    /* background: -moz-linear-gradient(90deg,
        rgba(42, 42, 42, 0.5) 0%,
        rgba(42, 42, 42, 0) 100%);
    background: -webkit-linear-gradient(90deg,
        rgba(42, 42, 42, 0.5) 0%,
        rgba(42, 42, 42, 0) 100%);
    background: linear-gradient(90deg,
        rgba(42, 42, 42, 0.5) 0%,
        rgba(42, 42, 42, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#212121", endColorstr="#212121", GradientType=1); */
}

.slick-next,
.slick-next:hover,
.slick-next:focus {
    background: transparent;
    /* background: -moz-linear-gradient(90deg,
        rgba(42, 42, 42, 0) 0%,
        rgba(42, 42, 42, 0.5) 100%);
    background: -webkit-linear-gradient(90deg,
        rgba(42, 42, 42, 0) 0%,
        rgba(42, 42, 42, 0.5) 100%);
    background: linear-gradient(90deg,
        rgba(42, 42, 42, 0) 0%,
        rgba(42, 42, 42, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#424242", endColorstr="#424242", GradientType=1); */
}

.slick-prev:before,
.slick-next:before {
    content: "";
    display: block;
    height: 58px;
    width: 32px;
    z-index: 10000;
    position: relative;
}

.slick-prev:before {
    background: url("../assets/strelica-lijevo.svg") no-repeat;
}

.slick-next:before {
    background: url("../assets/strelica-desno.svg") no-repeat;
}
</style>
<style lang="scss" scoped>
//Remove tx from non offers
.copyText{
    display: none;
}

#BBDO {
    .right {
        background: none;

        .offer-contact {
            display: none;
        }

        // p {
        //     display: none;
        // }
    }
    .subText{
        display: none;
    }
    .copyText {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    text-align: left;
    position: absolute;
    bottom: 1rem;
    display: block;
    z-index: 1000;
    padding: 1% 7%;
    background-color:rgba(0,0,0,0.6);
}
}


#BBDO_2 {
    .right {
        background: none;

        .offer-contact {
            display: none;
        }
    }
    .copyText {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    text-align: left;
    position: absolute;
    bottom: 1rem;
    padding: 1% 7%;
    background-color:rgba(0,0,0,0.6);
     display: block;
    }
    .subText{
        display: none;
    }
}

#BBDO_3 {
    .right {
        background: none;

        .offer-contact {
            display: none;
        }
    }
     .copyText {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    text-align: left;
    position: absolute;
    bottom: 1rem;
    padding: 1% 7%;
    background-color:rgba(0,0,0,0.6);
     display: block;
    }
    .subText{
        display: none;
    }
}

.home {
    background-color: white;
    min-height: 40vh;
    max-width: 1200px;
    margin: -30vh auto 5vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.offerHolder {
    display: flex;
    flex-wrap: wrap;

    div.postHolder {
        height: 280px;
        flex-grow: 1;
        filter: saturate(0.7);
        transition: 0.3s filter linear, 0.3s -webkit-filter linear;

        &:nth-child(4n) {
            width: 60%;
        }

        &:nth-child(4n + 1) {
            width: 60%;
        }

        &:nth-child(4n + 2) {
            width: 40%;
        }

        &:nth-child(4n + 3) {
            width: 40%;
        }

        &:hover {
            filter: saturate(1) brightness(1.2);
        }

        div.postPreview {
            width: 100%;
            height: 100%;
            position: relative;
            cursor: pointer;
            background-image: linear-gradient(to top,
                rgba(0, 0, 0, 0.75),
                rgba(0, 0, 0, 0) 50%);

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: relative;
                z-index: -1;
                display: block;
            }
        }

        .title {
            position: absolute;
            bottom: 0px;
            left: 0;
            text-align: left;
            margin: 0px;
            z-index: 1;
            color: #ffffff;
            // height: 70px !important;
            padding: 0px 0 15px 20px;

            p {
                margin: 0px;
                font-style: italic;
                font-size: 14px;
            }

            h2 {
                margin: 5px 0px 0px 0px;
            }

            h3 {
                margin: 0px;
                font-size: 16px;
            }
        }
    }

    div.postHolder.active {
        width: 100%;
        // height: 70vh;
        height: 100%;
        filter: saturate(1.2);
        cursor: default;
    }

    .topContentTray {
        background-color: #0f3972;
        text-align: right;
        padding: 0.75rem;
    }

    div.fullPost {
        width: 100%;
        // height: 100%;
        position: relative;

        button.closeBtn {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            z-index: 10000;
            transition: 0.2s transform ease-in;

            &:hover {
                transform: scale(1.15);
            }

            img {
                width: 1.4rem;
                height: 1.4rem;
                display: block;
                line-height: 1;
            }
        }

        .topContentHolder {
            width: 100%;
            height: 60%;
            display: flex;

            .left {
                width: 70%;
                height: 100%;

                div {
                    width: 100%;
                    height: 100%;
                }

                .sectionLeftHolder {
                    max-height: 474px;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                }

                img {
                    /* object-fit: cover; */
                    width: 100%;
                    height: 100%;
                    display: block;
                    line-height: 1;
                }
            }

            .right {
                width: 30%;
                // height: 100%;
                background-color: #e5e5e5;
                position: relative;

                a {
                    text-decoration: none;
                    color: #00386c;
                    transition: 0.3s;

                    &:hover {
                        color: #00386c;
                    }
                }

                p {
                    line-height: 1.8;

                    img {
                        padding-right: 0.3rem;
                        height: 17px;
                    }

                    a {
                        margin-bottom: 0.5rem;
                    }
                }

                .gallery {
                    width: 85%;
                    height: 150px;
                    margin: 7.5% auto 0;
                    position: relative;
                    cursor: pointer;

                    &:hover>p {
                        background-color: rgba(0, 0, 0, 0.55);
                    }

                    img.background {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    p {
                        position: absolute;
                        margin: 0px;
                        top: 0;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.75);
                        transition: 0.5s;

                        img {
                            width: 40%;
                            margin: 30px 30%;
                        }
                    }
                }

                p {
                    text-align: left;
                    width: 100%;
                    margin-left: 7.5%;
                    color: #000000;
                }

                a.googleMap {
                    /* position: absolute;
                    bottom: 30px;
                    right: 30px;
                    cursor: pointer; */
                    margin: 0 auto 2rem auto;
                    background-color: #f1f1f1;
                    display: block;
                    padding: 2rem;
                    cursor: pointer;

                    .pinPoint {
                        fill: #00386c;
                        transition: 0.25s;
                    }

                    &:hover .pinPoint {
                        fill: #cf1f25;
                    }

                    span {
                        display: block;
                        font-size: 14px;
                        margin-top: 10px;
                        color: #00386c;
                        transition: 0.25s;
                    }

                    &:hover span {
                        color: #cf1f25;
                    }
                }
            }
        }

        .botContentHolder {
            text-align: left;
            color: black;
            padding: 2% 5%;

            .offerTitle {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 47px;
            }

            .offerText {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;

                color: #000000;
            }

            .subText {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #9c9c9c;
            }
        }
    }
}

.socialButtonF {
    padding: 12px;
    border: 1px solid;
    background: #00386c;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    font-weight: bold;

    img {
        margin-right: 7px;
        height: 12px;
        align-items: center;
    }
}

.socialButtonT {
    padding: 12px;
    border: 1px solid;
    background: #1da1f2;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 10px;

    img {
        margin-right: 7px;
    }
}

//CLIENT FILTER LOCATION
.filter-location {
    background-color: $plava;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    margin: 0;
    width: 100%;
}

.filter-location__region {
    flex: 0 0 100%;
    padding: 1rem;
    position: relative;
    box-sizing: border-box;
}

.filter-location__search {
    flex: 0 0 100%;
    padding: 1rem;
    position: relative;
    box-sizing: border-box;
}


.filter-location__region select {
    width: 100%;
    max-width: 100%;
    background: #fff url("~@/assets/ArrowSvg2.svg") no-repeat right;
    background-size: 35px;
    //   border: 1px solid #b5b5b5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    padding: 10px 15px;
    -webkit-appearance: none;
    border-radius: 3px;
    color: #35495e;
    border-radius: 0;
    border: 0;
}

.filter-location__search input {
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 16px;
    width: 100%;
    border: 0;
}

.filter-location__search button {
    border: 0;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #00386c;
    outline: none;
    transition: 0.4s color ease-in;
}

.filter-location__search button:hover {
    color: #cf1f25;
}

.filter-location__search button svg {
    fill: currentColor;
}

.filter-location__search ::placeholder {
    color: #35495e;
    font-weight: 400;
}


/* UL */
.offer-contact {
    list-style: none;
    margin-left: 0;
    padding: 0;
}

.offer-contact__item {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
}

.offer-contact__item a {
    cursor: pointer;
}

.offer-contact__item a:hover {
    color: #cf1f25 !important;
}

.offer-contact__item--adresa:before,
.offer-contact__item--telefon:before,
.offer-contact__item--email:before,
.offer-contact__item--web:before {
    content: "";
    background-position: 50% 50%;
    background-size: 90%;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.5rem;
    display: block;
    background-repeat: no-repeat;
}

.offer-contact__item--adresa:before {
    background-image: url(~@/assets/ikona_adresa.svg);
}

.offer-contact__item--telefon:before {
    background-image: url(~@/assets/ikona_telefon.svg);
}

.offer-contact__item--email:before {
    background-image: url(~@/assets/ikona_email.svg);
}

.offer-contact__item--web:before {
    background-image: url(~@/assets/ikona_web.svg);
    background-size: 80%;
}

.right-cta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 2rem 0;
    background-color: #f4f4f4;
}

.right-cta a {
    cursor: pointer;
}

.right-cta__item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 1rem 0;
    position: relative;
}

.right-cta__item--mapa:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 1px solid #0f3972;
    width: 1px;
    height: 100%;
}

.right-cta__item a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    transition: 0.4s color ease-in;
}

.right-cta__item a:hover {
    color: #cf1f25 !important;
}

.right-cta__item svg {
    width: 100%;
    height: 100%;
    max-width: 40px;
    max-height: 40px;
    fill: currentColor;
}

.right-cta__item span {
    display: block;
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.VueCarousel-wrapper {
   
    padding-top: 3rem;
}

/** RESPONZIVA **/

@media (min-width: 640px) {
    .filter-location {
        flex-wrap: nowrap;
    }

    .filter-location__region,
    .filter-location__search {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width: 850px) {
    #app .postHolder .topContentHolder {
        flex-direction: column;

        .left {
            width: 100%;
        }

        .right {
            width: 100%;

            p {
                line-height: 1.8;
                width: 100%;

                img {
                    width: 20%;
                    margin: auto;
                    display: flex;
                    padding-top: 1rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .socialButtonF {
        padding: 10px;
        background: #00386c;
        color: white;
        font-size: 10px;
        border-radius: 3px;
        font-weight: bold;

        img {
            margin-right: 7px;
            height: 11px;
            vertical-align: middle;
        }
    }

    .socialButtonT {
        padding: 10px;
        background: #1da1f2;
        color: white;
        font-size: 10px;
        border-radius: 3px;
        font-weight: bold;
        margin-left: 8px;

        img {
            margin-right: 7px;
        }
    }

    .offerHolder {
        div.postHolder {
            height: 280px;
            flex-grow: 1;
            filter: saturate(0.7);
            transition: 0.3s filter linear, 0.3s -webkit-filter linear;
            width: 100% !important;
        }

        div.postHolder.active {
            height: 90%;
        }

        div.fullPost {
            .topContentHolder {
                height: 66%;

                .left {
                    width: 100%;
                    height: 96%;
                }

                .right {
                    width: 95%;
                    height: 100%;
                    margin: auto;

                    .gallery {
                        height: 170px;
                    }

                    p {
                        margin-top: 5%;
                    }

                    a.googleMap {
                        position: relative;
                        bottom: 15px;
                    }
                }
            }

            .botContentHolder {
                margin-top: 3%;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1350px) {
    div.home {
  
    margin: -7vh auto 5vh;
   
}
}


</style>