<template>
  <div class="wrap">
    <div class="wrap-inner">
      <h1>Opći uvjeti sudjelovanja</h1>

      <ol class="tos">
        <li>
          <strong>Cilj i svrha projekta</strong>

          <p>„Tjedan odmora vrijedan” jest promotivna akcija kojom se u periodu od 16. do 25. listopada 2020. omogućuje svim građanima Hrvatske kao i stranim turistima da posjete i upoznaju turističku ponudu naše zemlje uz dodatne popuste na različite vrste turističkih proizvoda, od smještaja, prijevoza, znamenitosti pa sve do ugostiteljskih usluga i različitih doživljaja.</p>
          <p>Akcija predviđa mogućnost uključivanja svih subjekata koji sudjeluju u turističkoj ponudi: hotelske kuće, privatni iznajmljivači, restorani, parkovi prirode i nacionalni parkovi, muzeji, galerije, ponuditelji aktivnog odmora, prijevoznici i dr. tako da se prijave putem internetske stranice tjedanodmoravrijedan.hr te u predviđenom roku prilagode cijene usluga u skladu s uvjetima ove promotivne akcije.</p>
          <p>Cilj je projekta poticanje domaćeg turizma i povećanje turističkog prometa u postsezoni.</p>
        </li>
        <li>
          <strong>Nositelji projekta</strong>
          <p>Nositelji su projekta Hrvatska turistička zajednica i Ministarstvo turizma i sporta Republike Hrvatske. Nositelji projekta odredit će jednu ili više osoba kao administratore za potrebe administriranja prijava.</p>
        </li>
        <li>
          <strong>Ponuditelji</strong>
          <p>Prihvatljivi su ponuditelji svi registrirani subjekti za ugostiteljske usluge i usluge u turizmu, kao i srodne usluge koje su povezane s turističkom ponudom (npr. lječilišta, muzeji, kazališta i druge slične javne ustanove odnosno gospodarski subjekti).</p>
          <p>Ponuditelj ne smije imati dugovanja s osnove javnih davanja (osobito turističke pristojbe, odnosno boravišne pristojbe prema ranijim propisima) na dan 1. ožujka 2020.</p>
          <p>Ponuditelj je dužan dokaz o nepostojanju dugovanja s osnove javnih davanja priložiti uz prijavu (predmetni dokaz ne smije biti stariji od 30 dana na dan prijave za sudjelovanje u projektu).</p>
          <p>Poreznim dugom ne smatra se onaj dug za koji je gospodarski subjekt s Poreznom upravom zaključio odgovarajući ugovor o obročnoj otplati takvog duga, uz uvjet da gospodarski subjekt uredno podmiruje obveze iz navedenog ugovora.</p>
          <p>Provjeru pravnog statusa ponuditelja, kao i stanje duga po osnovi turističke (boravišne) pristojbe izvršit će nositelji projekta uvidom u odgovarajuće registre, upisnike ili evidencije.</p>
        </li>
        <li>
          <strong>Ponuda</strong>
          <p>Ponuditelj je dužan ponudu izraditi u skladu s odredbama ovih uvjeta te je podnijeti na autorizaciju putem odgovarajućeg web-obrasca.</p>
          <p>Ponuda mora biti sastavni dio ukupne ponude ponuditelja u trenutku prijave i imati već definiranu osnovnu cijenu bez popusta (mora biti objavljena na internetskim stranicama, uključujući i portale za oglašavanje turističke ponude odnosno ako nije tako objavljena, mora biti sastavni dio kataloga ili ostaloga tiskanog promotivnog materijala za tekuću godinu ili sezonu).</p>
          <p>Ponuda se mora realizirati u razdoblju trajanja projekta.</p>
          <p>Ponuda mora sadržavati popust na osnovnu cijenu u minimalnoj visini 50 %*. Osnovnu cijenu bez popusta, kao i visinu popusta, odnosno konačnu cijenu s uključenim popustom ponuditelj je dužan navesti u prijavi ponude.</p>
          <p>
            <em>*Zbog specifičnosti kategorije prijevoznici mogu ponuditi i popuste do 50%.</em>
          </p>
          <p>Ponuditelj je dužan postupati u skladu s propisima o zaštiti potrošača te na svojim materijalima ili komunikacijskim kanalima jasno istaknuti osnovnu cijenu te odobreni popust.</p>
          <p>Svaki ponuditelj ima pravo ponuditi po jednu ponudu za svaku pojedinačnu kategoriju/potkategoriju po poslovnoj jedinici odnosno lokaciji pružanja usluga (ugostiteljski objekt, kulturni objekt i sl.).</p>
          <p>U slučaju da ponuda sadržajno odgovara u više kategorija/potkategorija, ponuditelj može, ako to želi, istu ponudu istaknuti u svim kategorijama/potkategorijama s kojima je povezan sadržaj ponude. Nositelji projekta zadržavaju pravo da u navedenom slučaju odluče hoće li se i u kojim sve kategorijama/potkategorijama istaknuti jednake ponude.</p>
          <p>Ponuda mora sadržavati sljedeće podatke:</p>
          <ul>
            <li>podaci o pružatelju usluge/usluga</li>
            <li>opis usluge/usluge</li>
            <li>cijena usluge/usluge (cijena bez popusta i cijena s uključenim popustom)</li>
            <li>fotografije (ako je primjenjivo)</li>
          </ul>
          <p>Ponudu je moguće povući, izmijeniti ili dopuniti najkasnije do trenutka objave. U slučaju promjena povezanih s ponudom, ponuda se neće objaviti prije nego što administrator provede autorizaciju takvih promjena.</p>
          <p>Nakon objave, ponudu je moguće povući, izmijeniti ili dopuniti samo u slučaju postojanja opravdane i objektivne okolnosti zbog koje ponudu nije moguće realizirati u navedenom opsegu i sadržaju. O navedenoj okolnosti ponuditelj je dužan bez odgode obavijestiti nositelje projekta putem odgovarajućeg web-obrasca, a dodatno i telefonskim putem.</p>
          <p>Svaka prijavljena ponuda prolazi postupak autorizacije administratora, koji prilikom navedenog provjerava sljedeće:</p>
          <ul>
            <li>prihvatljivost ponuditelja</li>
            <li>prihvatljivost ponude odnosno izmjena/dopuna ponude.</li>
          </ul>
          <p>Ako ponuda udovoljava svim propisanim kriterijima, autorizira se i objavljuje putem internetskih stranica projekta.</p>
          <p>Objavljenu ponudu moguće je označiti kao „prodanu” ako je riječ o ograničenom broju konzumiranja.</p>
        </li>
        <li>
          <strong>Odgovornost ponuditelja</strong>
          <p>Ponuditelj odgovara za točnost svih podatka koje je naveo u prijavi ili ponudi te je dužan bez odgode obavijestiti nositelje projekta, a po dogovoru s nositeljima projekta i javnost o svakoj promjeni povezanoj s navedenim podacima.</p>
          <p>U postupanju s eventualnim osobnim podacima ponuditelj je dužan pridržavati se propisa o zaštiti osobnih podataka i s njima postupati s dužnom pažnjom.</p>
          <p>Ponuditelj u potpunosti odgovara za istinitost, dostupnost, sadržaj i cijenu usluga navedenih u objavljenoj ponudi, kao i za sadržaj i kvalitetu izvršenja usluge prema propisima obveznog prava.</p>
          <p>Ponuditelj odgovara za eventualnu povredu prava intelektualnog vlasništva povezanog s vizualnim identitetom, fotografijama te ostalim sadržajem koji može biti predmet autorskih ili drugih prava intelektualnog vlasništva te je u slučaju povrede takvih prava dužan preuzeti na sebe sve postupke koje treće osobe pokrenu u vezi sa zaštitom navedenih prava odnosno u njih se bezuvjetno uključiti kao umješač, a ujedno nositeljima projekta, kao i svakoj trećoj osobi naknaditi svaku štetu (materijalnu ili nematerijalnu) prema propisima obveznog prava i prava koje uređuje zaštitu intelektualnog vlasništva.</p>
          <p>Ponuditelj je zbog lažnih podataka, promjena ili odustajanja od ponude (osim više sile i sl.) odnosno postupanja protivno dobroj trgovačkoj praksi ili ovim uvjetima dužan krajnjem korisniku usluga, ali i nositeljima projekta naknaditi svaku štetu (materijalnu ili nematerijalnu) prema propisima obveznog prava.</p>
        </li>
        <li>
          <strong>Odgovornost Nositelja Projekta</strong>
          <p>Nositelji projekta nisu posrednici u ugovaranju ponuđenih usluga odnosno usluge se ugovaraju isključivo između krajnjeg korisnika i ponuditelja na način koji je ponuditelj naveo u ponudi.</p>
          <p>Nositelji projekta ne odgovaraju za sadržaj internetskih stranica odnosno informacija koje putem svojih materijala i/ili komunikacijskih kanala pruža ponuditelj odnosno na kojima se mogu naći detaljne informacije o uslugama koje pruža ponuditelj.</p>
          <p>Nositelji projekta imaju pravo ukloniti bilo koju ponudu za koju se utvrdi da narušava vjerodostojnost kampanje ili za koju se utvrdi da nije točna ili da ponuditelj više ne udovoljava propisanim uvjetima, bez prava ponuditelja ili bilo koje treće osobe na naknadu štete.</p>
        </li>
        <li>
          <strong>Odgovornost trećih osoba</strong>
          <p>Fizička osoba koja unosi podatke putem odgovarajućeg web-obrasca odnosno koja se prijavljuje kao ponuditelj ili uime i za račun ponuditelja snosi svu materijalnu i kaznenopravnu odgovornost za posljedice lažnog predstavljanja i kvalitetu podataka prilikom prijave (jednako kao što je ovim uvjetima to određeno za ponuditelja) te je osobi u čije se ime i za račun lažno predstavlja, krajnjem korisniku usluga, ali i nositeljima projekta dužna naknaditi svaku štetu (materijalnu ili nematerijalnu) prema propisima obveznog prava.</p>
        </li>
        <li>
          <strong>Mjerodavno pravo i sudska nadležnost</strong>
          <p>Na prava i obveze temeljene na ovim uvjetima primjenjuju se odredbe hrvatskog prava bez primjene odredbi propisa o rješavanju sukoba zakona s propisima drugih zemalja u određenim odnosima.</p>
          <p>Za sve sporove koji proizlaze iz ovih uvjeta utvrđuje se nadležnost stvarno nadležnog suda u Zagrebu.</p>
        </li>
      </ol>
    </div>
  </div>
</template>

<script>
export default {
    name: 'home',

    mounted() {
          // this.$ga.page({
          //     path: this.$router.path,
          //     name: this.$router.name,
          //     location: window.location.href
          //   });
    },
    metaInfo: {
        title: 'HTZ - Tjedan Odmora Vrijedan - Pravila',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: '„Tjedan odmora vrijedan” jest promotivna akcija kojom se u periodu od 16. do 25. listopada 2020. omogućuje svim građanima Hrvatske kao i stranim turistima da posjete i upoznaju turističku ponudu naše zemlje uz dodatne popuste na različite vrste turističkih proizvoda, od smještaja, prijevoza, znamenitosti pa sve do ugostiteljskih usluga i različitih doživljaja.' },
            { name: "keywords", content: "htz, Tjedan odmora vrijedan, turizam, 2020" }
        ]

    },
}
</script>

<style scoped lang="scss">
.wrap {
  background-color: #ffffff;
  padding: 4rem 1rem;
  color: #212121;
   margin: -11vh auto 5vh;
}

.wrap-inner {
  max-width: 1024px;
  margin: 0 auto;
  text-align: left;
}

ol.tos {
  text-align: left;
  list-style: none;
  padding: 0;
}

ol.tos > li {
  margin: 2rem 0;
}

ol.tos > li > strong {
  margin-bottom: 1rem;
  display: block;
  color: #212121;
  font-size: 1.1rem;
}
</style>