<template>
  <div class>
    <back-to-top>
      <button type="button" class="btn btn-info btn-to-top">
        <img style="width: 16px" src="@/assets/scrolltoTop.svg" />
      </button>
    </back-to-top>
    <b-container
      id="adminLogin"
      class="content"
      v-if="this.$store.state.isLoggedIn == false"
    >
      <h2>Prijava</h2>
      <b-form>
        <b-form-group label="Email address:" label-for="input-1">
          <b-form-input
            v-model="user.email"
            type="email"
            required
            placeholder="Unesite svoj E-mail"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-2" label="Password:" label-for="input-2">
          <b-form-input
            v-model="user.password"
            type="password"
            id="input-2"
            required
            placeholder="Unesite svoju lozinku"
          ></b-form-input>
        </b-form-group>
        <b-button
          class="crveni-gumb w-100"
          type="button"
          @click="userLogin"
          variant="primary"
          >Prijava</b-button
        >
      </b-form>
    </b-container>
    <!-- <b-container v-else>
        <h2>Potreban je prijava</h2>
    </b-container> -->
    <div class="adminMain" v-if="this.$store.state.isLoggedIn == true">
      <adminHeader></adminHeader>
      <b-card no-body>
        <b-tabs v-model="tabIndex" card>
          <b-tab no-body title="Čeka na odobrenje">
            <adminWaiting></adminWaiting>
          </b-tab>
          <b-tab no-body title="Odobrene prijave">
            <adminOffers></adminOffers>
          </b-tab>
          <b-tab no-body title="Prijave na doradi">
            <adminDorada></adminDorada>
          </b-tab>
          <b-tab no-body title="Uklonjene prijave">
            <adminUklonjene></adminUklonjene>
          </b-tab>
          <b-tab no-body title="Aktivacija korisnika">
            <popisUsera></popisUsera>
          </b-tab>
        </b-tabs>
      </b-card>
    </div>
    <adminPreview
      v-if="offerPreview == true"
      @closePreview="offerPreview = false"
    ></adminPreview>
  </div>
</template>
<script>
// @ is an alias to /src
/*import HelloWorld from '@/components/HelloWorld.vue'*/
import adminHeader from "@/components/admin/AdminHeader.vue";
import adminWaiting from "@/components/admin/AdminWaiting.vue";
import adminOffers from "@/components/admin/AdminOffers.vue";
import adminDorada from "@/components/admin/AdminDorada.vue";
import adminPreview from "@/components/admin/AdminPreview.vue";
import adminUklonjene from "@/components/admin/AdminInactive.vue";
import popisUsera from "@/components/admin/UserList.vue";
import PregledPonudeAdmin from "@/components/admin/PregledPonudeAdmin.vue";
import BackToTop from "vue-backtotop";
import axios from "axios";
export default {
  name: "admin",
  components: {
    adminHeader,
    adminWaiting,
    adminOffers,
    adminDorada,
    adminUklonjene,
    popisUsera,
    // adminPreview,
    PregledPonudeAdmin,
    BackToTop,
  },
  data() {
    return {
      // login: false,
      offerPreview: false,
      tabIndex: 0,
      user: {
        email: "",
        password: "",
      },
      offers: [],
      props: [],
    };
  },

  methods: {
    userLogin() {
      axios({
        method: "post",
        url: this.$store.state.baseUrl + "/authenticate",
        data: {
          email: this.user.email,
          password: this.user.password,
        },
      })
        .then((response) => {
          console.log(response);
          this.$store.commit("setToken", response.data.token);
          localStorage.setItem("token", response.data.token);
          this.login = true;
          location.reload();
          //this.loadOffersWaiting();
        })
        .catch((error) => {
          console.log(error);
          this.$bvModal.show("modal-error");
        });
    },
  },
  mounted() {
    console.log(this.$store.state);
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href,
    });
  },
  metaInfo: {
    title: "HTZ - Tjedan Odmora Vrijedan - Admin",
    meta: [
      // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
      // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
      {
        name: "description",
        content: "Administravni dio akcije Tjedan odmora vrijedan.",
      },
      {
        name: "keywords",
        content: "htz, Tjedan odmora vrijedan, turizam, 2020",
      },
    ],
  },
};
</script>
<style lang="scss">
#searchOffers {
  display: flex;
  .form-control.sreach-input-field {
    flex: 5;
    margin-right: 20px;
    outline: none;
  }
  .form-control.search-submit-button {
    flex: 1;
    background-color: #00386c;
    color: white !important;
  }
}

.btn-to-top {
  width: 39px;
  height: 40px;
  /* padding: 10px 16px; */
  border-radius: 8%;
  line-height: 22px;
  background: #cf1f25;
  border: none;
  outline: none;
  cursor: pointer;
}
#adminLogin {
  width: 40%;
  min-width: 500px;
  height: 77vh;
  padding: 11rem 2rem;
}

.adminMain {
  background-color: #f8f8f8;
}

.card-header {
  margin: -54px 0 0 0;
  padding: 0.75rem 0.5rem;
}

.nav-tabs .nav-link {
  margin-left: 2px;
  color: #9a9a9a;
  background-color: #ffffff;
  border-color: #d8d8d8;
  padding: 8px 20px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #00386c;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  font-weight: 600;
}

.card {
  width: 85%;
  margin: auto;
  background-color: transparent;
  border: none;
}

.card-header {
  background-color: transparent;
}

.offer .imageHolder p {
  margin-bottom: 0;
}

@media (max-width: 976px) {
  .adminJumbo {
    padding: 6vh 0px;
  }

  .nav-tabs .nav-item {
    width: 100%;
  }
}

@media (max-width: 776px) {
  .adminJumbo {
    padding: 6vh 0px;
  }

  .offer {
    flex-flow: column;
  }

  .offer div.txtHolder {
    width: 100%;
  }

  .offer div.buttonHolder {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .catHolder .catSingle span {
    padding: 0px;
    padding-top: 5px;
  }
  .adminMain .card {
    padding-top: 5rem;
  }
  .catHolder .catSingle {
    width: 33%;
  }
  .adminJumbo .infoHolder {
    width: 85%;
  }
  .adminJumbo img {
    max-width: 31px;
  }
}
</style>