<template>
    <div class="cestaPitanja">
        <div>
            <CaruselPitanja />
            <b-container class="content">
                <h2>Česta pitanja</h2>
                <b-row>
                    <b-col class="mx-auto p-4 pitanja" cols="12">
                        <p class="odaberi">Odaberi pitanje </p>
                        <div class="harmonika" v-for="(pitanja, key, index) in cestapitanja" >
                            <div @click="pitanja.open = !pitanja.open" class="harmonikaPitanje">
                                <p v-html="pitanja.pitanje">
                                    
                                </p>
                                <img :class="{ rotate: pitanja.open }" :src="pitanja.image">
                            </div>
                            <!-- :class="{ rotate: pitanja.open }" -->
                            <!-- https://codepen.io/applepig/pen/JWvyxj -->
                            <transition  v-if="pitanja.open" name="fade">
                                <div  v-html="pitanja.odgovor" class="harmonikaOdgovor"> </div>
                            </transition>
                            
                        </div>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </div>
</template>
<script>
// @ is an alias to /src
import CaruselPitanja from '@/components/carousel/CaruselPitanja.vue'

// import ArrowSvg from "@/assets/ArrowSvg.svg";

export default {
    name: 'home',
    components: {
        CaruselPitanja,

    },

    data() {
        return {
            // image: require('@/assets/aktivni.svg'),
            isActive: false,
            cestapitanja: [{
                    pitanje: "Što je Tjedan odmora vrijedan?",
                    odgovor: "Tjedan odmora vrijedan akcija je Ministarstva turizma i sporta i Hrvatske turističke zajednice kojom se u terminu od 16. do 25. 10. 2020. omogućuje svim zainteresiranim građanima da putuju i upoznaju druge dijelove Hrvatske uz značajne uštede.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Tko je pokrenuo akciju Tjedan odmora vrijedan?",
                    odgovor: "Ovu akciju zajednički su pokrenuli Ministarstvo turizma i sporta i Hrvatska turistička zajednica.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Tko sve može sudjelovati u akciji?",
                    odgovor: "Za sudjelovanje u akciji mogu se prijaviti svi poslovni i privatni subjekti iz turističkog sektora poput hotela, privatnih iznajmljivača, turističkih agencija, restorana, barova, nacionalnih parkova i parkova prirode, muzeja, galerija, prijevoznika, rent-a-cara, iznajmljivača plovila te subjekata zdravstvenog i liječilišnog turizma.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Koliko dugo traje akcija?",
                    odgovor: "Akcija traje 10 dana, u razdoblju od 16. do 25. 10. 2020.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Može li se plaćanje usluga obaviti preko web stranice tjedan<strong style='color: black;''>odmora</strong>vrijedan.hr?",
                    odgovor: "Ne. Ova web stranica služi isključivo za promociju ponuda turističkih subjekata, korisnici ponuda rezervaciju i plaćanje usluge ostvaruju u izravnom kontaktu s odabranim ponuđačima. ",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Što učiniti ako mi ne stigne e-mail za potvrdu registracije?",
                    odgovor: "Ovisno o konfiguraciji vašeg e-mail sustava može se dogoditi da vaša poruka bude svrstana u neželjenu poštu. Provjerite pretinac neželjene pošte, a ako je prazan obratite se administratoru sustava putem <a href='mailto:info@tjedanodmoravrijedan.hr'>prijave email-om.</a>",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Želim sudjelovati u akciji. Kako mogu predati ponudu?",
                    odgovor: "Prvo je potrebno registrirati se. Nakon što ste se registrirali, na Vašu e-mail adresu stići će Vam pristupni podaci. Da biste aktivirali svoj račun potrebno je kliknuti na gumb POTVRDITE E-MAIL ADRESU. Nakon što je Vaš račun aktiviran, <a href='/prijava'>Prijavom</a> u sustav, kroz nekoliko jednostavnih koraka, možete predati svoju ponudu.   ",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                    
                    
                },
                {
                    pitanje: "Koje dokaze o ponudi moram podnijeti?",
                    odgovor: "Da bi administrator sustava mogao odobriti Vašu ponudu potrebno je u sustav unijeti javno objavljenu web-adresu na kojoj se vide svi detalji formirane ponude ili prenijeti pdf dokument na memorandumu ponuđača sa potpisom ovlaštene osobe.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Koji je najmanji iznos popusta koji se može ponuditi?",
                    odgovor: "Najmanji iznos popusta je 50%, ali može biti i viši. Izuzetak je kategorija prijevoz u kojoj je dozvoljen i manji popust od 50%.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Mogu li obrisati ponudu nakon što je ona odobrena i objavljena?",
                    odgovor: "Ponudu možete obrisati do 15. 10. 2020. Nakon toga ponudu više ne možete obrisati ali je možete označiti prodanom. Ona će i dalje biti vidljiva na web-stranici tjedan<strong>odmora</strong>vrijedan.hr ali će biti označena kao prodana.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Moraju li popust vrijediti za cijelo vrijeme trajanja akcije?",
                    odgovor: "Popust mora vrijediti za cijelo vrijeme trajanja akcije. Ovisno o raspoloživim kapacitetima ponuđač može ponudu ograničiti na dio kapaciteta što mora jasno biti navedeno u ponudi.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Može li se promijeniti kategorija ili potkategorija ponude?",
                    odgovor: "Kategorija ponude se može promijeniti, pod uvjetom da u toj kategoriji odnosno potkategoriji nemate napravljenu neku drugu ponudu. Svaka izmjena sadržaja Vaše ponude podrazumijeva da je administrator sustava mora nanovo odobriti. Odobrenje vaših izmjena možete očekivati u roku od tri radna dana od datuma izmjene.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Koliko puta se može promijeniti ponuda?",
                    odgovor: "Ponudu možete mijenjati neograničen broj puta, sve do 15. 10. 2020. Imajte u vidu da svaka izmjena u sadržaju ponude zahtijeva novo odobrenje administratora. Vaša ponuda će do odobrenja biti privremeno uklonjena sa web-stranica. Nakon 15. 10. 2020. više nemate pravo na izmjene sadržaja ponude, ali možete ponudu označiti  prodanom. Ona će i dalje biti vidljiva na web-stranici tjedan<strong>odmora</strong>vrijedan.hr sa  istaknutom oznakom da je prodana.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Može li jedan poslovni subjekt napraviti više ponuda?",
                    odgovor: "Može, po jednu ponudu u svakoj raspoloživoj potkategoriji. Primjerice, jedan hotel može napraviti 4 ponude - jednu u kategoriji Smještaj/Hoteli, drugu u kategoriji Smještaj/Apartmani, treću u kategoriji Wellness i četvrtu u kategoriji Hrana i piće/Restorani. Popis dostupnih kategorija i potkategorija možete pogledati <a href='/kategorije'>ovdje.</a>",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Hoće li se ova akcija dodatno promovirati i na koji način?",
                    odgovor: "Akcija će se promovirati putem TV i radio spota, tiskanih oglasa, društvenih mreža, oglasa na web portalima te putem drugih digitalnih kanala HTZ-a.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Želim na svojem prodajnom mjestu istaknuti znak sudjelovanja u akciji. Gdje ga mogu preuzeti?",
                    odgovor: "Znak sudjelovanja u akciji Tjedan odmora vrijedan možete preuzeti <a href='../B2B/Static/HTZ_TOV_Plakat.pdf' target='_blank'>ovdje.</a>",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Koliko fotografija mogu priložiti uz svoju ponudu?",
                    odgovor: "Za svaku ponudu morate priložiti jednu glavnu fotografiju. Uz nju možete priložiti još do 5 dodatnih fotografija.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },
                {
                    pitanje: "Koje su tehničke karakteristike fotografija za upload?",
                    odgovor: "Prenijeti možete .jpg ili .png formate fotografija, u 16:9 omjeru (položeni format) minimalne rezolucije 1920x1080 piksela za glavnu fotografiju odnosno 800x500 piksela za dodatne fotografije. Fotografije ne smiju sadržavati tekst, logotipe niti vodene žigove.",
                    open: false,
                    image: require('../assets/ArrowSvg.svg')
                },


            ]

        }
    },
    methods: {
        active(ev, index) {
            console.log(index)
            console.log(ev)
            ev.isActive = index;

        },

    },
    mounted() {
          this.$ga.page({
              path: this.$router.path,
              name: this.$router.name,
              location: window.location.href
            });
    },
    metaInfo: {
        title: 'HTZ - Tjedan Odmora Vrijedan - Česta pitanja',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Česta pitanja vezano za akciju Tjedan odmora vrijedan' },
            { name: "keywords", content: "htz, Tjedan odmora vrijedan, turizam, 2020" }
        ]

    },
}
</script>
<style scoped lang="scss">
$plava: #00386C;



.cestaPitanja {

    /*----------  Dodan border na zadnji child  ----------*/
    .odaberi {
        text-align: left;
        font-size: 0.9rem;
    }

    .harmonika {
        &:last-child {
            border-bottom: 1px solid #B5B5B5;
        }

    }

    .harmonika {
        .harmonikaPitanje {
            border: 1px solid #B5B5B5;
            border-bottom: 0;
            justify-content: space-between;
            align-items: center;
            display: flex;
            padding: 1rem;
            text-align: left;

            // &:last-child{
            //   border-bottom: 1px;
            // }

            p {
                flex: 1 1 auto;
                margin-bottom: 0;
                margin-right: 15px;
            }

            img {
                flex: 0 0 15px;
                width: 15px;
                height: 15px;
                filter: opacity(0.5);
                transition: .35s ease-in-out;
            }

            .rotate {
                -ms-transform: rotate(180deg);
                /* IE 9 */
                -webkit-transform: rotate(180deg);
                /* Safari prior 9.0 */
                transform: rotate(180deg);
                /* Standard syntax */
                // transition: .35s ease-in-out;
            }
        }

        .harmonikaOdgovor {
            background: rgba(0, 56, 108, 0.1);
            border: 1px solid #B5B5B5;
            color: $plava;
            border-bottom: 0;
            padding: 2rem 1rem;
            // border-bottom: 0;
            // display: none;
            text-align:left;
            // &:last-child{
            //   border-bottom: 1px;
            // }
        }
    }
}

@media only screen and (max-width: 600px){

    .pitanja{
        padding:0px;
    }
}


/*----------  TRANZICIJE - fade  ----------*/
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

.active {
    display: block !important;
}

.rotate-enter-active,
.rotate-leave-active {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari prior 9.0 */
    transform: rotate(90deg);
    /* Standard syntax */
    transition: .35s ease-in-out;
}

.rotate-enter,
.rotate-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Safari prior 9.0 */
    transform: rotate(0deg);
    /* Standard syntax */
    transition: .35s ease-in-out;
}
</style>