<template>
  <div class="home">
  	<Carusel/>
    <b-container class="content">
        <h2>Tjedan odmora vrijedan!</h2>
        <b-row>
          <b-col cols="12">
            <p>Tjedan odmora vrijedan je akcija Ministarstva turizma i sporta i Hrvatske turističke zajednice kojom se u tjednu od 16. do 25. 10. 2020. omogućuje svim građanima Hrvatske da posjete i upoznaju druge dijelove naše zemlje nudeći upola cijene sve turističke proizvode, od smještaja, prijevoza, znamenitosti pa sve do ugostiteljskih usluga i različitih doživljaja.</p>
             <p>U akciju se mogu uključiti svi turistički gospodarski subjekti: hotelske kuće, privatni iznajmljivači, restorani, parkovi prirode i nacionalni parkovi, muzeji, galerije, adrenalinski turizam, aktivnosti i dr.</p>
              <p>Možete se registrirati <router-link v-b-modal.modal-multi-11 to="#">ovdje</router-link>, besplatno unijeti svoju  <router-link to="/ponude"><span>ponudu</span></router-link> te u tjednu od 16. do 25. 10. 2020. prilagoditi  cijene sukladno <strong><router-link to="/pravila-i-uvjeti-sudjelovanja">uvjetima</router-link></strong> Ministarstva turizma i sporta i HTZ-a.</p>
              

            
          </b-col>
         
        </b-row>
    

        
      </b-container>

  </div>
</template>

<script>
  import axios from "axios";
import Carusel from '@/components/carousel/Carusel.vue'


export default {
  name: 'home',
  components: {
    /*HelloWorld,*/
    Carusel
    // VueLogo
  },
    data() {
      return {
        slide: 0,
        sliding: null,
        imagePath: '',
        productSpect: '',
        selectedFile: null
      }
    },  
    methods: {

      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      },
   
    },
    mounted() {
          this.$ga.page({
              path: this.$router.path,
              name: this.$router.name,
              location: window.location.href
            });
    },
    metaInfo: {
        title: 'HTZ - Tjedan Odmora Vrijedan',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Tjedan odmora vrijedan je akcija Ministarstva turizma i Hrvatske turističke zajednice kojom se u tjednu od 16. do 25. 10. 2020. omogućuje svim građanima Hrvatske da posjete i upoznaju druge dijelove naše zemlje nudeći upola cijene sve turističke proizvode, od smještaja, prijevoza, znamenitosti pa sve do ugostiteljskih usluga i različitih doživljaja.' },
            { name: "keywords", content: "htz, Tjedan odmora vrijedan, turizam, 2020" }
        ]

    },
}
</script>

<style scoped>

a {
  color: #00386c;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #212121;
}

</style>