<template>
  <div class="about">
    <div>
    	<CaruselSudjelovati/>
      <b-container class="content">
        <h2>Kako sudjelovati?</h2>
        <b-row>
          <b-col cols="12">
            <p>Za sudjelovanje u akciji “Tjedan odmora vrijedan” prvo je potrebno <router-link v-b-modal.modal-multi-11 to="#" class="link"><span>registrirati se</span></router-link>. Pri registraciji unijet ćete svoje kontakt podatke kao i osnovne podatke o poslovnom subjektu koji prijavljujete za sudjelovanje.</p>
             <p>Nakon potvrde vaše e-mail adrese dobit ćete svoje korisničko ime i šifru za pristup sustavu za kreiranje ponuda. Unutar sustava možete odabrati kategoriju u kojoj želite napraviti ponudu kao i unijeti sadržaj ponude, napomene te glavnu i do pet dodatnih fotografija. </p>
              <p>Naši administratori će provjeriti vaše podatke i, ako su svi uvjeti ispunjeni, u roku od 3 radna dana od predaje ponude objaviti je na stranici tjedan<b>odmora</b>vrijedan.hr. Ponude možete predati i po potrebi mijenjati do 15.10. 2020. nakon kojeg roka će sve objavljene ponude biti zaključane, ali ćete imati mogućnost označiti ponudu prodanom.</p>

          </b-col>
  
          <b-col cols="12">
            <strong>Kategorije u kojima se možete prijaviti pogledajte ovdje</strong>
          </b-col>

          <b-col cols="12">
        
            <b-button class="crveni-gumb" router-link to="/kategorije">KATEGORIJE</b-button>
          </b-col>
        </b-row>
    

        
      </b-container>

</div>

  </div>
</template>

<script>
// @ is an alias to /src
import CaruselSudjelovati from '@/components/carousel/CaruselSudjelovati.vue'

export default {
  name: 'home',
  components: {
    CaruselSudjelovati
  },
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    },
    mounted() {
          this.$ga.page({
              path: this.$router.path,
              name: this.$router.name,
              location: window.location.href
            });
    },
    metaInfo: {
        title: 'HTZ - Tjedan Odmora Vrijedan - Kako sudjelovati',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Za sudjelovanje u akciji “Tjedan odmora vrijedan” prvo je potrebno registrirati se. Pri registraciji unijet ćete svoje kontakt podatke kao i osnovne podatke o poslovnom subjektu koji prijavljujete za sudjelovanje.' },
            { name: "keywords", content: "htz, Tjedan odmora vrijedan, turizam, 2020" }
        ]

    },
}
</script>

<style scoped>

  a.link {
    color: #00386c;
    font-weight: bold;
    text-decoration: underline;
  }
  
  a.link:hover {
    color: #212121;
  }
  
  </style>