<template>
  <div id="kategorije">
    <div>
      <CaruselKategorije />
      <b-container class="content">
        <h2>Kategorije</h2>
        <p>Klinkite na pojedinu kategoriju da biste otkrili pripadajuće potkategorije</p>

        <div class="categoriesHolder">
          <div class="catLink" v-for="(category, index) in categories" v-bind:key="index"  >
            <div
              class="catClick"
              @click="catActive = category.catID" 
              v-bind:class="{active:(catActive == category.catID)}"
            >
              <img :src="category.imageName"/>
              <h5>{{category.categoryName}}</h5>
              <span :class="'cat' + category.catID" class="colorBot">
                <img class="down-arrow" />
              </span>
            </div>
            <div class="catSub" :class="'cat' + category.catID" v-if="catActive == category.catID && category.subCat != 0">
              <button @click="catActive = 0">
                <img src="@/assets/ArrowSvg-white.svg" />
              </button>
              <div v-for="(sub, indx) in category.subCat" @click="openSubSub(indx)" v-bind:key="indx">
                <span :class="{ arrow : sub.subSubCat.length }">{{sub.name}}</span>

                <span v-if="sub.subSubCat != 0">
                  <ul v-if="subOpen == indx">
                    <li class="subSub" v-for="(subSub, index) in sub.subSubCat" v-bind:key="index">{{subSub}}</li>
                  </ul>
                </span>
               
  
                <hr />
              </div>
            </div>
          </div>
            <div class="flexEmpty"></div>
            <div class="flexEmpty"></div>
            <div class="flexEmpty"></div>
            <div class="flexEmpty"></div>
        </div>
      </b-container>
    </div>
  </div>
</template>


<script>
// @ is an alias to /src
import CaruselKategorije from "@/components/carousel/CaruselKategorije.vue";
import GumbSvg from "@/assets/prijava_gumb.svg";

export default {
  name: "home",
  components: {
    CaruselKategorije,
    GumbSvg
  },
  data() {
    return {
      show: false,
      catActive: 0,
      subOpen: -1,
      categories: [
        {
          categoryName: "Smještaj",
          imageName: require("@/assets/smjestaj.svg"),
          catID: 1,
          subCat: [
            {
              name: 'Hoteli',
              subSubCat: ['***','****', '*****', 'OMH']
            },
            {
              name: 'Privatni smještaj / OPG',
              subSubCat: ['Apartmani','Kuće/Vile', 'Sobe']
            },
            {
              name: 'Kampovi',
              subSubCat: []
            },
            {
              name: 'Hosteli',
              subSubCat: []
            },
            {
              name: 'Ostali smještaj',
              subSubCat: []
            },
          ]
        },
        {
          categoryName: "Hrana i piće",
          imageName: require("@/assets/hrana.svg"),
          catID: 2,
          subCat: [
            {
              name: 'Restorani',
              subSubCat: []
            },
            {
              name: 'Bistro/Caffe Barovi',
              subSubCat: []
            },
            {
              name: 'Kušaonice',
              subSubCat: []
            },
            {
              name: 'Ostalo',
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Kulturne atrakcije",
          imageName: require("@/assets/kultura.svg"),
          catID: 3,
          subCat: [
            {
              name: 'Muzeji',
              subSubCat: []
            },
            {
              name: 'Galerije',
              subSubCat: []
            },
            {
              name: 'Kulturne znamenitosti',
              subSubCat: []
            },
            {
              name: 'Događanja',
              subSubCat: []
            },
            {
              name: 'Zabava',
              subSubCat: []
            },
            {
              name: 'Ostalo',
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Aktivni odmor",
          imageName: require("@/assets/aktivni.svg"),
          catID: 4,
          subCat: [
            {
              name: 'Šetanje i planinarenje',
              subSubCat: []
            },
            {
              name: 'Rafting',
              subSubCat: []
            },
            {
              name: 'Biciklizam',
              subSubCat: []
            },
            {
              name: 'Zračni i vodeni sportovi',
              subSubCat: []
            },
            {
              name: 'Događanja',
              subSubCat: []
            },
            {
              name: 'Ostalo',
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Prirodne atrakcije",
          imageName: require("@/assets/priroda.svg"),
          catID: 5,
          subCat: [
            {
              name: 'Parkovi',
              subSubCat: ['Nacionalni parkovi', 'Parkovi prirode', 'Ostali lokaliteti prirode']
            },
            {
              name: 'Speleologija',
              subSubCat: []
            },
            {
              name: 'Ostalo',
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Wellness i zdravlje",
          imageName: require("@/assets/zdravlje.svg"),
          catID: 6,
          subCat: [
            {
              name: 'Wellness',
              subSubCat: []
            },
            {
              name: 'Zdravstvene usluge',
              subSubCat: []
            },
            {
              name: 'Lječilišta',
              subSubCat: []
            },
            {
              name: 'Ostalo',
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Nautika",
          imageName: require("@/assets/nautika.svg"),
          catID: 7,
          subCat: []
        },
        {
          categoryName: "Izleti",
          imageName: require("@/assets/izleti.svg"),
          catID: 8,
          subCat: []
        },
        {
          categoryName: "Prijevoz",
          imageName: require("@/assets/prijevoz.svg"),
          catID: 9,
          subCat: [
            {
              name: 'Kopneni promet',
              subSubCat: []
            },
            {
              name: 'Zračni promet',
              subSubCat: []
            },
            {
              name: 'Morski promet',
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Paket aranžmani",
          imageName: require("@/assets/paket.svg"),
          catID: 10,
          subCat: []
        },
         {
          categoryName: "Ruralni turizam",
          imageName: require("@/assets/ruralni.svg"),
          catID: 11,
          subCat: [
            {
              name: 'Seoska domaćinstva',
              subSubCat: []
            },
            {
              name: 'Degustacije i proizvodi',
              subSubCat: []
            }
          ]
        },
        {
          categoryName: "Ostale Ponude",
          imageName: require("@/assets/ostala.svg"),
          catID: 12,
          subCat: []
        },
       
      ]
    };
  },
  methods: {
    openSubSub (e) {
      if (this.subOpen == -1){
        this.subOpen = e;
      }

      else{
        this.subOpen = -1;
      }

    }
  },
  mounted() {
          this.$ga.page({
              path: this.$router.path,
              name: this.$router.name,
              location: window.location.href
            });
    },
    metaInfo: {
        title: 'HTZ - Tjedan Odmora Vrijedan - Kategorije',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Klinkite na pojedinu kategoriju da biste otkrili pripadajuće potkategorije' },
            { name: "keywords", content: "htz, Tjedan odmora vrijedan, turizam, 2020" }
        ]

    },

};
</script>
<style lang="scss" scoped>
$cat01: #cf1f25;
$cat02: #d26a09;
$cat03: #fac401;
$cat04: #afc624;
$cat05: #829427;
$cat06: #43b17a;
$cat07: #419cd6;
$cat08: #283476;
$cat09: #55d6ff;
$cat10: #a8529a;
$cat11: #e84490;
$cat12: #dcdcdc;

.arrow::after{
  content: '';
  display: inline-block;  
  width: 15px;
  height: 15px;
  background-image: url("~@/assets/ArrowSvg-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 8px;
}

.arrow{
  cursor: pointer;
}

.subSub{
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
}

.categoriesHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .flexEmpty{
    width: 23%;
    height: 1px;
    visibility: hidden;
  }
}
.catLink {
  width: 23%;
  margin: 40px 0px 0px;
  position: relative;
  img {
    height: 90px;
  }
}

.colorBot {
  height: 20px;
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.catClick {
  z-index: 1000;
  position: relative;
  display: block;
  cursor: pointer;
  & > .colorBot {
    transition: 0.3s ease-in-out;
  }
  & > img {
    filter: brightness(1) grayscale(0) contrast(1);
    transition: 0.14s;
  }
  & > h5 {
    transition: 0.14s;
    min-height: 62px;
  }
  &.active > .colorBot {
    height: 180px;
  }
  &.active > img {
    filter: brightness(5) grayscale(1) contrast(2);
  }
  &.active > h5 {
    color: white !important;
  }

  &:hover > .colorBot {
    height: 180px;
  }
  &:hover > img {
    filter: brightness(5) grayscale(1) contrast(2);
  }
  &:hover > h5 {
    color: white !important;
  }
  h5 {
    padding-bottom: 20px;
  }
}

.catSub {
  position: absolute;
  width: 100%;
  top: 94%;
  z-index: 99999999999999999;
  color: white;
  font-size: 16px;
  font-weight: normal;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  button {
    background-color: rgba(0, 0, 0, 0.08);
    border: none;
    color: white;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    img {
      transform: rotate(180deg);
      height: 13px;
      margin: 10px;
    }
  }
  div {
    padding: 8px 0px;
    text-transform: uppercase;
    hr {
      padding: 0px 0px;
      color: white;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      margin: 8px 0px 0px;
    }
  }
}

.cat1 {
  background-color: $cat01;
}
.cat2 {
  background-color: $cat02;
}
.cat3 {
  background-color: $cat03;
}
.cat4 {
  background-color: $cat04;
}
.cat5 {
  background-color: $cat05;
}
.cat6 {
  background-color: $cat06;
}
.cat7 {
  background-color: $cat07;
}
.cat8 {
  background-color: $cat08;
}
.cat9 {
  background-color: $cat09;
}
.cat10 {
  background-color: $cat10;
}
.cat11 {
  background-color: $cat11;
}
.cat12 {
  background-color: $cat12;
}

@media only screen and (max-width: 600px) {
      .catLink {
    width: 100%;
}
.content h2{
  padding-bottom: 1rem;
}

}
@media only screen and (max-width: 1025px) and (min-width: 600px)  {
      .catLink {
    width: 50%;
   
}
}

</style>
