<template>
    <div class="pravila">

        <div>
            <CaruselPitanja />

            <b-container class="content">
                <b-row>
                    <b-col class="p-4" cols="12">
        
                        <h3>PRAVILA KOLAČIĆA</h3>
                
                        <p>Kako bismo vam pružili najbolje iskustvo naše stranice, te kako bi stranica radila ispravno, ova stranica na vaše računalo sprema malu količinu informacija (cookies - kolačići). Korištenjem stranice croatia.hr pristajete na uporabu kolačića. Blokiranjem kolačića i dalje možete pregledavati stranicu, no neke njezine funkcionalnosti Vam neće biti dostupne.</p>
                
                        <p><strong>Što je kolačić?</strong><br>
                        Kolačić je informacija spremljena na Vaše računalo od strane web stranice koju posjetite. Kolačići omogućuju stranici da prikaže informacije prilagođene Vašim potrebama. Oni obično spremaju Vaše postavke i postavke za web stranicu, kao što su preferirani jezik, e-mail adresa ili lozinka. Kasnije, kada opet otvorite istu web stranicu internet preglednik šalje natrag kolačiće koji pripadaju toj stranici.</p>
                
                        <p>Isto tako nama omogućuju da mjerimo posjećenost i izvore prometa na našim web stranicama, te sukladno tome možemo poboljšati performanse na našim stranicama.</p>
                
                        <p>Sve informacije koje kolačići prikupljaju se akumuliraju i anonimne su, a omogućuju nam praćenje učinkovitosti stranice i ne dijele se s bilo kojim drugim subjektima.</p>
                
                        <p>Sve ove informacije mogu biti spremljene jedino ako Vi to omogućite - web stranice ne mogu dobiti pristup informacijama koji im Vi niste dali i ne mogu pristupiti drugim datotekama na Vašem računalu.</p>
                
                        <p><strong>Onemogućavanje kolačića</strong><br>
                        Isključivanjem kolačića odlučujete da li hoćete dopustiti pohranjivanje kolačića na vašem računalu. Postavke kolačića mogu se kontrolirati i konfigurirati u vašem web pregledniku. Ako onemogućite kolačiće, nećete moći koristiti neke od funkcionalnosti na našim web stranicama.</p>
                
                        <p><strong>Isključivanje (opting out)</strong><br>
                        Prema zadanim postavkama pretraživanja mrežne stranice posjetitelja prati Google Analytics kako bi se izradili anonimni statistički podaci koji se koriste za unapređenje korisničkog iskustva.</p>
                
                        <p><strong>"Nemoj me pratiti" preferencije</strong><br>
                        
                        <em>Nemoj me pratiti</em> funkcija je koja posjetiteljima omogućuje isključivanje opcije da ih mrežne stranice prate u bilo koju svrhu, uključujući upotrebu servisa za analitiku, oglašavačkih mreža i društvenih platformi. Opcije <em>Nemoj me pratiti </em>dostupne su u nizu preglednika uključujući:
                        <a href="https://support.mozilla.org/hr/kb/kako-ukljuciti-opciju-ne-pratiti" target="_blank">Firefox</a>, 
                        <a href="https://support.microsoft.com/en-us/products/internet-explorer#ie=ie-11" target="_blank">Internet Explorer</a>, 
                        <a href="https://support.google.com/chrome/answer/114836?hl=en&amp;ref_topic=3421433" target="_blank">Chrome</a>, 
                        <a href="https://help.apple.com/safari/mac/9.0/#/sfri40732" target="_blank">Safari</a>, 
                        i <a href="http://help.opera.com/Windows/12.10/en/notrack.html" target="_blank">Opera</a>
                        </p>
                
                        <ul>
                            <li>ako u svojem pregledniku omogućite opciju <em>Nemoj me pratiti</em>, Google Analytics poštovat će vaš izbor;</li>
                            <li>ako ste omogućili opciju Nemoj me pratiti, neće vas se pratiti. To predstavlja dodatak isključivanja prikupljanja i analize podataka za izradu statističkih podataka za našu mrežnu stranicu;</li>
                            <li>ako niste omogućili opciju <em>Nemoj me pratiti</em>, ali odlučite isključiti se, kolačić piwik_ignore &nbsp;bit će pohranjen u vašem pregledniku. Niti jednog posjetitelja s kolačićem piwik_ignore Google Analytics neće pratiti;</li>
                            <li>ako ste na svojem pregledniku onemogućili sve kolačiće, i dalje ćemo prikupljati neke općenite podatke o vašem pretraživanju (npr. broj posjetitelja na našoj stranici), ali oni će biti manje precizni i vaši posjeti neće biti praćeni (ne upotrebljavaju se Piwik kolačići).</li>
                        </ul>
                
                        <p>Želiš znati više o kolačićima? <a href="http://www.ico.org.uk/for_organisations/privacy_and_electronic_communications/the_guide/cookies" target="_blank">Cookies and similar technologies</a> (EN)</p>

                    </b-col>
                </b-row>
            </b-container>
        </div>
        
    </div>
</template>

<script>

    import CaruselPitanja from '@/components/carousel/CaruselPitanja.vue'

    export default {
        name: 'home',
        components: {
            CaruselPitanja,
        },    
        data() {
            return {
            }
        },
        beforeMount() {
              window.scrollTo(0, 0)
        }
    }
</script>

<style scoped lang="scss">

    .pravila {
        text-align: left;
    }

</style>