<template>
    <div class="userBkg">
      <b-col id="userBox" class="mx-auto" lg="8" sm="10">
         <img src="@/assets/logo.svg"/>
         <h1>404</h1>
         <p>Odmorite se, zaslužili ste!</p>
      </b-col>
    </div>
  </template>
  
  <script>
    export default {
    name: 'notFound',
    components: {
        
    },
    data() {
        return {}
    },
    beforeMount() {
        window.scrollTo(0, 0)
    },
    mounted() {
          this.$ga.page({
              path: this.$router.path,
              name: this.$router.name,
              location: window.location.href
            });
    },
    metaInfo: {
        title: 'HTZ - Tjedan Odmora Vrijedan - Odmorite se, zaslužili ste!',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Odmorite se, zaslužili ste!' },
            { name: "keywords", content: "htz, Tjedan odmora vrijedan, turizam, 2020" }
        ]

    },
}
  </script>
  

  <style>

.userBkg {
  padding: 20vh 0;
  background-image: url("~@/assets/slider1-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  margin-top:45px;
  font-size:55px;
}


  </style>