`
<template>
    <div id="userBkg">
        <b-col id="userBox" class="mx-auto" lg="6" sm="8">
            <h2 class="pb-4"><span class="font-light">Dobro došli </span> <span class="color-primary">{{userData.naziv}}</span></h2>
            <b-row>
                <b-col class="text-center px-3 py-4 pointer" lg="4" @click="goTo('ponude')">
                    <img src="@/assets/Ponude_odabir.svg" />
                    <br />
                    <hr />
                    <h5>PONUDE</h5>
                </b-col>
                
                <b-col v-b-modal.modal-multi-4 class="text-center px-3 py-4 pointer" lg="4">
                    <img src="@/assets/Podaci_odabir.svg" />
                    <br />
                    <hr />
                    <h5>PODACI O SUBJEKTU</h5>
                </b-col>
                
                <b-col v-b-modal.modal-multi-5 class="text-center px-3 py-4 pointer" lg="4">
                    <img src="@/assets/Kontakt_odabir.svg" />
                    <br />
                    <hr />
                    <h5>KONTAKT PODACI</h5>
                </b-col>
            </b-row>
        </b-col>

        <!--=====================================
    =      MODAL - Podaci o subjektu        =
    ======================================-->
        <b-modal ok-only no-stacking size="xl" id="modal-multi-4" title="Podaci o subjektu">
            <PodaciOSubjektu @editPosJed="onClickChild" :userData="userData" />
        </b-modal>
        <!--=====================================
        =      MODAL - Kontakt podaci           =
        ======================================-->
        <b-modal ok-only no-stacking size="xl" id="modal-multi-5" title="Kontakt podaci">
            <KontaktPodaci :userData="userData" />
        </b-modal>
        <!--=====================================
          =      MODAL - Poslovna jedinica     =
         ======================================-->
        <b-modal ok-only no-stacking size="xl" id="modal-multi-8" title="Dodaj poslovnu jedinicu">
            <PoslovnaJedinica />
        </b-modal>

        <!--=====================================
          =      MODAL - Poslovna jedinica EDIT    =
         ======================================-->
        <b-modal ok-only no-stacking title="Izmjena Poslovne jedinice" id="modal-posJed" size="lg">
            <PoslovnaJedinicaEdit :posJedforEdit="posJedforEdit" />
        </b-modal>

    </div>
</template>
<script>
    import axios from "axios";
    import PoslovnaJedinica from "@/components/user/PoslovnaJedinica.vue";
    import PoslovnaJedinicaEdit from "@/components/user/PoslovnaJedinicaEdit.vue";
    import PodaciOSubjektu from "@/components/user/PodaciOSubjektu.vue";
    import KontaktPodaci from "@/components/user/KontaktPodaci.vue";

    export default {
        name: "PrijavaLoginUspjeh",
        props: {
            msg: String
        },
        components: {
            PodaciOSubjektu,
            KontaktPodaci,
            PoslovnaJedinica,
            PoslovnaJedinicaEdit
        },

        data() {
            return {
                header: 'initial header',
                posJedforEdit: "", //this.$store.state.posJedforEdit,
                form: {
                    email: "",
                    name: ""
                },
                show: true,
                userData: "",

            };
        },
        methods: {
            goTo(pageName) {
                this.$router.push(pageName);
            },
            checkToken() {
                var token = localStorage.getItem('token');
                if (token.length == 0) {
                    this.$router.push("/prijava");
                }
            },

            getInfo() {
                let token = localStorage.getItem('token');
               
                axios({
                        method: "GET",
                        url: this.$store.state.baseUrl + "/api/ps",
                        headers: {
                            Authorization: "Bearer " + token
                        }
                    })
                    .then(response => {
                       
                        this.userData = response.data;

                    })
                    .catch(error => {

                        console.log(error);
                        this.$bvModal.show("modal-authorization");
                        this.$router.push("/prijava");
                    });
            },
            onClickChild(value) {
                
                this.posJedforEdit = value;

            }

        },
        mounted(){
            
                  this.$ga.page({
              path: this.$router.path,
              name: this.$router.name,
              location: window.location.href
            });
            setTimeout(() => {this.getInfo() }, 1000);

        },
        created() {
            
            
        }
    };
</script>
<style scoped>
    .pointer {
        cursor: pointer;
    }
</style>`