<template>
    <div class="wrapper page--edit m-0">
        <p class="m-0 label">
            Dokaz o nepostojanju poreznog duga <span class="form_small">(Podržani format: PDF, JPG, JPEG, PNG)</span>
        </p>
        <p class="form_hint mt-1">
            Ukoliko želite možete prenijeti novu potvrdu
        </p>

        <div class="input-block">
        	<p class="my-2" v-if="documentMessage"><b>{{documentMessage}}</b></p>
        	<input v-if="!documentMessage" type="file" ref="poreznaPotvrda" @change="fileUpload()">
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "PoreznaPotvrda",
        props: {
            ponudaId: Number
        },
        data() {
            return {
                documentMessage: "",
                isHidden: false,
                poreznaDokument: false
            };
        },
        methods: {
            fileUpload() {
                let token = localStorage.getItem("token");
                let file = this.$refs.poreznaPotvrda.files[0];
                let formData = new FormData();
                const API = this.$store.state.baseUrl + "/api/ponuda/edit/porezna-potvrda/" + this.ponudaId;

                formData.append('poreznaPotvrda', file);
                
                fetch(API, {
                    method: 'POST',
                    headers: {
                            "Authorization": "Bearer " + token,
                            // 'Content-Type': 'multipart/form-data'
                    },
                    body: formData
                })
                .then(response => {
                    console.log(response);
                    this.documentMessage = "Nova potvrda je prihvaćena!";
                })
                .catch(error => {
                    console.error(error);
                    this.documentMessage = "Greška. Pošaljite nam potvrdu na info@tjedanodmoravrijedan.hr";
                }); 
            },
            // getFile() {
            //     let token = localStorage.getItem("token");
            //     let API = this.$store.state.baseUrl + "/api/ponuda/porezna-potvrda/" + this.ponudaId;

            //     axios({
            //             method: "GET",
            //             url: API,
            //             headers: {
            //                 "Authorization": "Bearer " + token
            //             },
            //             responseType: "blob"
            //         })
            //         .then(response => {
            //             let doc = response.data;
            //             let fileType = doc.type.split('/')[1];

            //             let offerId = this.ponudaId;
            //             let fileURL = window.URL.createObjectURL(new Blob([doc]));
            //             let fileLink = document.getElementById('poreznaPotvrdaLink');
                        
            //             fileLink.href = fileURL;
            //             fileLink.setAttribute("download", "porezna-potvrda-" + offerId + '.' + fileType);
            //         })
            //         .catch(error => {
            //             console.log(error);
            //             this.documentMessage = "Greška";
            //         });
            // }
        },
        // mounted() {
        //     this.getFile();
        // }
    };
</script>
