<template>
    <div class="wrapper page--edit m-0">
        <p class="m-0 label">
            Dokument s ponudom
        </p>
        <p class="form_hint">
            Ukoliko želite možete prenijeti novi dokument s ponudom.
        </p>

        <div class="input-block">
            <p class="my-2" v-if="documentMessage">
                <b>{{documentMessage}}</b>
            </p>
    
            <input v-if="!documentMessage" type="file" ref="ponudaDokument" @change="fileUpload" name="" value="Učitaj datoteku">
        </div>


  </div>
</template>

<script>

import axios from "axios";

    export default {
        name: "PonudaDokument",
        props: {
            ponudaId: Number
        },
        data() {
            return {
                documentMessage: "",
                isHidden: false,
                poreznaDokument: false
            };
        },
        methods: {
            fileUpload() {
                let token = localStorage.getItem("token");
                let file = this.$refs.ponudaDokument.files[0];
                let formData = new FormData();
                const API = this.$store.state.baseUrl + "/api/ponuda/edit/dokument/";

                formData.append('ponudaDokument', file);

                let idHeader = new Blob([this.ponudaId], {
                    type: 'application/json'
                })

                formData.append("ponudaId", idHeader );
                
                fetch(API, {
                    method: 'POST',
                    headers: {
                            "Authorization": "Bearer " + token,
                    },
                    body: formData
                })
                .then(response => {
                    console.log(response);
                    this.documentMessage = "Nova ponuda je prihvaćena!";
                })
                .catch(error => {
                    console.error(error);
                    this.documentMessage = "Greška. Pošaljite nam ponudu na info@tjedanodmoravrijedan.hr";
                }); 
            },
        },
    };
</script>
