<template>
    <div class="userBkg">

        <b-container id="userBox" class="content-page content--edit content--text-left">
            <form @submit.prevent="handleSubmit(onSubmit)" class="customForms"></form>
            
                <b-row>
                    <b-col cols="12"><h2 class="text-center">Uređivanje ponude</h2></b-col>
                </b-row>

                <ValidationObserver v-slot="{ handleSubmit }">
                    <b-row class="py-2">
                        <b-col cols="12" md="6" class="py-3"">
                            <ValidationProvider class="inputObj" name="Poslovni subjekt" rules="required" v-slot="{ errors }">
                                <label>Poslovni subjekt</label>
                                <input readonly v-model="offers.ponuda.poslovniSubjekt.naziv" type="text" />
                                <span class="error">{{ errors[0] }}</span>
                            </ValidationProvider>
                        </b-col>
                        <b-col cols="12" md="6" class="py-3"">
                            <ValidationProvider v-if="offers.ponuda.poslovnaJedinica" class="inputObj" name="Poslovna jedinica" rules="required" v-slot="{ errors }">
                                <label>Poslovna jedinica</label>
                                <select v-model="form.ponuda.poslovnaJedinica.id">
                                    <option v-for="item in userData.poslovniSubjekt.poslovneJedinice" :value="item.id" v-bind:key="item.id">{{item.naziv}}</option>
                                </select>
                                <span class="error">{{ errors[0] }}</span>
                            </ValidationProvider>
                        </b-col>
                    </b-row>
                    <b-row class="py-2">
                        <b-col cols="12" md="6" class="py-3"">
                            <ValidationProvider class="inputObj" name="Glavna kategorija" rules="required"
                            v-slot="{ errors }" v-if="form.ponuda.kategorija.id">
                                <label>Odaberite glavnu kategoriju</label>
                                <select v-model="form.ponuda.kategorija.id" @change="getpodkat">
                                    <option disabled value="none">Odaberite glavnu kategoriju</option>
                                    <option v-for="item in userData.kategorija" :value="item.id" v-bind:key="item.id">
                                        {{item.naziv}}</option>
                                </select>
                                <span class="error">{{ errors[0] }}</span>
                            </ValidationProvider>
                        </b-col>
                        <b-col cols="12" md="6" class="py-3"">
                            <ValidationProvider class="inputObj" name="Podkategorija" rules="required" v-slot="{ errors }"
                            v-if="newOffer.showPodKat">
                                <label>Odaberite potkategoriju</label>
                                <select v-model="form.ponuda.podKategorija.id">
                                    <option value="none">Odaberite potkategoriju</option>
                                    <option v-for="item in userData.kategorija[newOffer.mainKatIndex].podKategorija"
                                        :value="item.id" v-bind:key="item.id">{{item.naziv}}</option>
                                </select>
                                <span class="error">{{ errors[0] }}</span>
                            </ValidationProvider>
                        </b-col>
                    </b-row>
                    <b-row class="py-2">
                        <b-col cols="12" md="6" class="py-3"">
                            <ValidationProvider v-if="regije" class="inputObj" name="Regije" rules="required"
                            v-slot="{ errors }">
                                <label>Odaberite regiju</label>
                                <select v-model="form.ponuda.brojRegije">
                                    <option disabled value="none">Odaberite regiju</option>
                                    <option :value="regija.brojRegije" v-bind:key="regija.naziv" v-for="regija in regije">
                                        {{regija.naziv}}</option>
                                </select>
                                <span class="error">{{ errors[0] }}</span>
                            </ValidationProvider>
                        </b-col>
                    </b-row>
                    <b-row class="py-2">
                        <b-col cols="12" class="py-3"">
                            <ValidationProvider name="Opis ponude" rules="required" v-slot="{ errors }">
                                <label>Opis ponude</label>
                                <span class="form_hint">U tekstu ponude jasno navedite popust od 50%, a ako navodite cijenu uz sniženu cijenu navedite i redovnu cijenu.</span>
                                <textarea rows="7" v-model="form.ponuda.opisPonude" type="text" placeholder="Unesite tekst opisa ponude"></textarea>
                                <span class="error">{{ errors[0] }}</span>
                            </ValidationProvider>
                        </b-col>
                    </b-row>
                </ValidationObserver>    
                <b-row class="py-2">
                    <b-col cols="12" class="py-3"">
                        <label>Napomena</label>
                        <textarea rows="3" v-model="form.ponuda.napomena" type="text" placeholder="Unesite napomenu (do 350 znakova)"></textarea>
                    </b-col>
                </b-row>
                <b-row class="py-2">
                    <b-col cols="12" class="py-3">
                        <label>Web poveznica do objavljene ponude</label>
                        <input v-model="form.ponuda.webPoveznicaDoPonude" type="text" name="" />
                    </b-col>
                </b-row>
                <b-row class="py-2">
                    <b-col cols="12" class="py-3"">
                        <PonudaDokument :ponudaId="offers.ponuda.id" @getPonude="getPonude" />
                    </b-col>
                </b-row>
                <b-row class="py-2">
                    <b-col cols="12" class="py-3"">
                        <ImageEdit :glavna="offers.glavna" :slikePonude="offers.slikePonude" :ponudaId="offers.ponuda.id" @getPonude="getPonude" />
                    </b-col>
                </b-row>
                <b-row class="py-2">
                    <b-col cols="12" class="py-3"">
                        <PoreznaPotvrda :ponudaId="offers.ponuda.id" @getPonude="getPonude" />
                    </b-col>
                </b-row>
                <b-row class="py-2 mt-4">
                    <b-col cols="12" md="6">
                        <b-button block class="plavi-gumb-outline" @click="goTo('../ponude')">Povratak</b-button>
                    </b-col>
                    <b-col cols="12" md="6">
                        <b-button v-if="!this.offers.ponuda.poslovnaJedinica" ref="submitButton" block class="button-main" @click="onSubmitPS()">Izmjeni</b-button>

                        <b-button v-else-if="this.offers.ponuda.poslovnaJedinica && !this.offers.ponuda.podKategorija"
                        ref="submitButton" block class="button-main" @click="onSubmitDaPSpodKat()">Izmjeni</b-button>

                        <b-button v-else ref="submitButton" block class="button-main" @click="onSubmit()">Izmjeni</b-button>

                    </b-col>
                </b-row>
            </form>
        </b-container>

    </div>
</template>

<script>
    import axios from "axios";
    import ImageEdit from "./ImageEdit"
    import PoreznaPotvrda from "./DocumentPoreznaPotvrda"
    import PonudaDokument from "./DocumentPonuda"
    export default {
        name: "IzmjenaPonude",
        components: {
            ImageEdit,
            PoreznaPotvrda,
            PonudaDokument
        },

        data() {
            return {
                glavnaSlika: null,
                dodatnaSlika: [],
                cropperMainState: false,
                cropperAdditionalState: false,
                mainPhoto: false,
                additionalPhoto: false,
                newOffer: {
                    kategorija: "none",
                    mainKatIndex: "none",
                    showPodKat: false,
                    podkategorija: "none"
                },
                regije: {},
                ponudaData: {},
                podKategorijaId: null,
                offers: {
                    ponuda: {
                        poslovniSubjekt: {
                            id: "",
                            brojRegije: "",
                            naziv: "",
                            adresa: "",
                            telefon: "",
                            napomena: "",
                            email: "",
                            web: "",
                            kategorija: {

                            }
                        },
                        poslovnaJedinica: {
                            id: ""
                            // kategorija: {

                            // }
                        }
                    },
                    glavna: {
                        putanjaSlike: ""
                    }
                },
                form: {
                    ponuda: {
                        poslovnaJedinica: {
                            id: null
                        },
                        podKategorija: {
                            id: null
                        },
                        kategorija: {
                            id: null
                        }
                    }
                },
                userData: {
                    poslovniSubjekt: {
                        poslovneJedinice: {
                            id: ""
                        }
                    },
                   podKategorija: {
                        id: null 
                   },
                    kategorija: {
                        id: null
                    }
                }

                // show: true
            };
        },
        methods: {
            mountData() {
                //this.form = this.userData;
                this.$ga.page({
                    path: this.$router.path,
                    name: this.$router.name,
                    location: window.location.href
                });
            },
            moveData() {
                //this.$set(this.ponudaData, kategorijaId, this.form.kategorijaId);
                // this.$set(this.ponudaData, napomena, this.form.napomena);
                // this.$set(this.ponudaData, opisPonude, this.form.opisPonude);
                // this.$set(this.ponudaData, web, this.form.web);

                if (this.form.podKategorijaId !== null) {
                    this.$set(this.ponudaData, podKategorijaId, this.form.podKategorijaId);
                }
                if (this.form.poslovnaJedinicaId !== null) {
                    this.$set(
                        this.ponudaData,
                        poslovnaJedinicaId,
                        this.form.poslovnaJedinicaId
                    );
                }
            },
            getpodkat() {

                this.userData.kategorija.forEach((el, index) => {
                    if (el.id === this.form.ponuda.kategorija.id) {
                        this.newOffer.mainKatIndex = index;
                    }
                    //this.form.ponuda.potkategorija.id = null
                });

                if ( this.userData.kategorija[this.newOffer.mainKatIndex].podKategorija.length > 0 ) {
                    this.newOffer.showPodKat = true;
                } else {
                    this.newOffer.showPodKat = false;
                    this.newOffer.podkategorija = "none";
                }

            },
            goTo(pageName) {
                this.$router.push(pageName);
            },
            // mountData() {
            //     this.form = this.offers;
            // },
            getRegija() {
                let token = localStorage.getItem("token");

                axios({
                    method: "GET",
                    url: this.$store.state.baseUrl + "/public/regije",
                    headers: {
                        Authorization: "Bearer " + token
                    }
                }).then(response => {
                    this.regije = response.data;
                    //console.log(this.regije)
                    //this.getPonude();
                });
            },
            getPonude() {
                let token = localStorage.getItem("token");
                let idOffer = this.$route.params.id;

                axios({
                        method: "GET",
                        url: this.$store.state.baseUrl + "/api/ponuda/" + idOffer,
                        headers: {
                            Authorization: "Bearer " + token
                        }
                    })
                    .then(response => {
                        this.offers = response.data;
                        this.form = response.data;
                        this.getpodkat();

                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            getTemplate() {
                let token = localStorage.getItem("token");

                axios({
                    method: "GET",
                    url: this.$store.state.baseUrl + "/api/ponuda/template",
                    headers: {
                        Authorization: "Bearer " + token
                    }
                }).then(response => {
                    this.userData = response.data;
                    this.getPonude();
                });
            },
            onSubmit(evt) {
                let token = localStorage.getItem("token");
                let idOffer = this.$route.params.id;
                //console.log(this.form)

                //     debugger
                //      if (!this.form.ponuda.podKategorija) {
                //  this.form.ponuda.podKategorija =  this.form.ponuda.podKategorija.id 
                // } 

                axios({
                        method: "POST",
                        url: this.$store.state.baseUrl + "/api/ponuda/edit",
                        headers: {
                            Authorization: "Bearer " + token
                        },
                        // this.form.ponuda.brojRegije
                        data: {
                            brojRegije: this.form.ponuda.brojRegije,
                            kategorijaId: this.form.ponuda.kategorija.id,
                            napomena: this.form.ponuda.napomena,
                            opisPonude: this.form.ponuda.opisPonude,
                            podKategorijaId: this.form.ponuda.podKategorija.id,
                            ponudaId: idOffer,
                            poslovnaJedinicaId: this.form.ponuda.poslovnaJedinica.id,
                            poslovniSubjektId: this.form.ponuda.poslovniSubjekt.id,
                            web: this.form.ponuda.webPoveznicaDoPonude

                        }
                    })

                    .then(response => {
                        //console.log(response);
                        this.$bvModal.show("modal-ok");
                        this.$router.push("/dashboard");
                    })
                    .catch(error => {

                        console.log(error);
                        this.$bvModal.show("modal-error");
                    });
            },
            onSubmitPS(evt) {
                let token = localStorage.getItem("token");
                let idOffer = this.$route.params.id;
                //console.log(this.form)

                axios({
                        method: "POST",
                        url: this.$store.state.baseUrl + "/api/ponuda/edit",
                        headers: {
                            Authorization: "Bearer " + token
                        },

                        data: {
                            brojRegije: this.form.ponuda.brojRegije,
                            kategorijaId: this.form.ponuda.kategorija.id,
                            napomena: this.form.ponuda.napomena,
                            opisPonude: this.form.ponuda.opisPonude,
                            podKategorijaId: this.form.ponuda.podKategorija.id,
                            ponudaId: idOffer,
                            poslovnaJedinicaId: this.form.ponuda.poslovnaJedinica,
                            poslovniSubjektId: this.form.ponuda.poslovniSubjekt.id,
                            web: this.form.ponuda.webPoveznicaDoPonude

                        }
                    })

                    .then(response => {
                        //console.log(response);
                        this.$bvModal.show("modal-ok");
                        this.$router.push("/dashboard");
                    })
                    .catch(error => {

                        console.log(error);
                        this.$bvModal.show("modal-error");
                    });
            },
            onSubmitPSpodKat(evt) {
                let token = localStorage.getItem("token");
                let idOffer = this.$route.params.id;
                //console.log(this.form)

                axios({
                        method: "POST",
                        url: this.$store.state.baseUrl + "/api/ponuda/edit",
                        headers: {
                            Authorization: "Bearer " + token
                        },

                        data: {
                            brojRegije: this.form.ponuda.brojRegije,
                            kategorijaId: this.form.ponuda.kategorija.id,
                            napomena: this.form.ponuda.napomena,
                            opisPonude: this.form.ponuda.opisPonude,
                            podKategorijaId: this.form.ponuda.podKategorija,
                            ponudaId: idOffer,
                            poslovnaJedinicaId: this.form.ponuda.poslovnaJedinica,
                            poslovniSubjektId: this.form.ponuda.poslovniSubjekt.id,
                            web: this.form.ponuda.webPoveznicaDoPonude

                        }
                    })

                    .then(response => {
                        //console.log(response);
                        this.$bvModal.show("modal-ok");
                        this.$router.push("/dashboard");
                    })
                    .catch(error => {

                        console.log(error);
                        this.$bvModal.show("modal-error");
                    });
            },
            onSubmitDaPSpodKat() {
                let token = localStorage.getItem("token");
                let idOffer = this.$route.params.id;
                //console.log(this.form)

                axios({
                        method: "POST",
                        url: this.$store.state.baseUrl + "/api/ponuda/edit",
                        headers: {
                            Authorization: "Bearer " + token
                        },

                        data: {
                            brojRegije: this.form.ponuda.brojRegije,
                            kategorijaId: this.form.ponuda.kategorija.id,
                            napomena: this.form.ponuda.napomena,
                            opisPonude: this.form.ponuda.opisPonude,
                            podKategorijaId: 11,
                            ponudaId: idOffer,
                            poslovnaJedinicaId: this.form.ponuda.poslovnaJedinica.id,
                            poslovniSubjektId: this.form.ponuda.poslovniSubjekt.id,
                            web: this.form.ponuda.webPoveznicaDoPonude

                        }
                    })

                    .then(response => {
                        // console.log(response);
                        this.$bvModal.show("modal-ok");
                        this.$router.push("/dashboard");
                    })
                    .catch(error => {

                        console.log(error);
                        this.$bvModal.show("modal-error");
                    });
            }


        },


        beforeMount() {
            window.scrollTo(0, 0);
            //this.moveData()
            this.getPonude()
            //this.mountData();
            this.getTemplate();
            this.getRegija()


            //this.form = this.offers;
            //console.log(this.offers)
        }
    };
</script>


<style lang="scss">

    .button-main {
        background-color: #00386c!important;
        font-size: 17px;
        height: 34px;
        text-transform: uppercase;
    }

    .content-page {
        max-width: 960px!important;
    }
    
    .content--text-left {
        text-align: left;
    }
    
    .content--edit {
    
        label,
        .label {
            display: block;
            line-height: 1;
            font-weight: bold;
        }
    
        select {
            width: 100%;
            background: url("~@/assets/ArrowSvg2.svg") no-repeat right;
            background-size: 35px;
            border: 1px solid #b5b5b5;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.2;
            padding: 0.75rem 1rem;
            border-radius: 0 !important;
            -webkit-appearance: none;
            position: relative;
        }
    
        textarea,
        [type="text"] {
            width: 100%;
            margin-bottom: 0;
            border: 1px solid #b5b5b5;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            font-size: 1rem;
            padding: 0.75rem 1rem;
            line-height: 1;
        }
    
        span.error {
            color: red;
            display: block;
            font-size: 12px;
        }
    
        fieldset {
            min-width: 0;
            padding: 0;
            margin: 0;
            border: 0;
            margin: 0 0 15px;
        }

        .input-block {
            padding: 1rem;
            border: 1px solid #bababa;
        }
    
        .form_small {
            font-size: 0.75rem; font-weight: normal;
        }

        .form_hint {
            font-size: 13px;
            color: #212121;
            margin-top: -4px;
            display: inline-block;
            border-radius: 0.2rem;
            margin-bottom: .5rem;
        }
    }
    </style>