<template>
    <div id="KontaktPodaci">
        <b-container>
            <ValidationObserver v-slot="{ invalid }">
            <form @submit.prevent="onSubmit" class="customForms">
                
    
                <b-row>
                    <b-col lg="6">
                        <ValidationProvider class="inputObj" name="Ime i prezime osobe za kontakt" rules="required"
                            v-slot="{ errors }">
                            <label>Ime i prezime osobe za kontakt</label>
                            <input v-model="form.imePrezimeKontaktOsobe" type="text" />
                            <span class="error">{{ errors[0] }}</span>
                        </ValidationProvider>
                    </b-col>
                    <!-- <b-col lg="6">
                        <ValidationProvider class="inputObj" name="Funkcija" rules="required" v-slot="{ errors }">
                            <label>Funkcija</label>
                            <input v-model="form.funkcija" type="text" />
                            <span class="error">{{ errors[0] }}</span>
                        </ValidationProvider>
                    </b-col> -->
                    <b-col lg="6">
                        <ValidationProvider class="inputObj" name="Telefon" rules="required" v-slot="{ errors }">
                            <label>Telefon</label>
                            <input v-model="form.telefonKontaktOsobe" type="text" />
                            <span class="error">{{ errors[0] }}</span>
                        </ValidationProvider>
                    </b-col>
                    <b-col lg="6">
                        <ValidationProvider class="inputObj" name="E-mail" rules="required" v-slot="{ errors }">
                            <label>E-mail</label>
                            <input v-model="form.emailKontaktOsobe" type="email" />
                            <span class="error">{{ errors[0] }}</span>
                        </ValidationProvider>
                    </b-col>
                </b-row>
                <b-row class="mt-4">
                    <b-col lg="6">
                        <b-button @click="$bvModal.hide('modal-multi-5')" class="plavi-gumb-outline">Odustani</b-button>
                        <b-button :disabled="invalid" class="plavi-gumb" @click="onSubmit()">Izmijeni</b-button>
                    </b-col>
                </b-row>
           
            </form>
             </ValidationObserver>
        </b-container>

    </div>
</template>
<style scoped lang="scss">
    .customForms span.inputObj {
        display: block;
        margin-bottom: 15px;
        width: 100%;
    }

    .customForms {
        width: 100%;
        margin: 60px auto;
    }
</style>
<script>
    import axios from "axios";
    export default {
        name: "KontaktPodaci",
        props: ["userData"],
        components: {},

        data() {
            return {
                form: {}
            };
        },
        methods: {
            onSubmit(evt) {
                let token = localStorage.getItem("token");
                axios({
                        method: "post",
                        url: this.$store.state.baseUrl + "/api/ps/kontakt",
                        headers: {
                            Authorization: "Bearer " + token
                        },
                        data: this.form
                    })
                    .then(response => {
                        console.log(response);
                        this.$bvModal.show("modal-ok");
                        this.$router.push("/dashboard");
                    })
                    .catch(error => {
                        console.log(error);
                        this.$bvModal.show("modal-error");
                    });
            },
            mountData() {

                this.form = this.userData;
            }
        },
        mounted(){
               this.$ga.page({
              path: this.$router.path,
              name: this.$router.name,
              location: window.location.href
            });
        },
        beforeMount() {
            this.mountData();
        }
    };
</script>