<template>
  <div id="PodaciOSubjektu">
    <b-row>
      <b-col lg="6">
        <h5 class="mb-4 color-primary">Uredi podatke o subjektu</h5>
        <ValidationObserver v-slot="{ invalid }">
          <form @submit.prevent="onSubmit" class="customForms">
            <ValidationProvider
              class="inputObj"
              name="Naziv poslovnog subjekta"
              rules="required"
              v-slot="{ errors }"
            >
              <label>Naziv poslovnog subjekta</label>
              <input v-model="form.naziv" type="text" />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
            <ValidationProvider
              class="inputObj"
              name="OIB"
              rules="required|digits:11"
              v-slot="{ errors }"
            >
              <label>OIB</label>
              <input v-model="form.oib" type="number" />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
            <ValidationProvider
              class="inputObj"
              name="Poštanski broj"
              rules="required|digits:5"
              v-slot="{ errors }"
            >
              <label>Poštanski broj</label>
              <input v-model="form.postanskiBroj" type="number" />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
            <ValidationProvider
              class="inputObj"
              name="Adresa poslovnog subjekta"
              rules="required"
              v-slot="{ errors }"
            >
              <label>Adresa poslovnog subjekta</label>
              <input v-model="form.adresa" type="text" />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
            <ValidationProvider class="inputObj" name="Mjesto" rules="required" v-slot="{ errors }">
              <label>Mjesto</label>
              <input v-model="form.mjesto" type="text" />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
            <ValidationProvider
              class="inputObj"
              name="Telefon"
              rules="required"
              v-slot="{ errors }"
            >
              <label>Telefon</label>
              <input v-model="form.telefon" type="text" />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
            <ValidationProvider class="inputObj" name="E-mail" rules="required" v-slot="{ errors }">
              <label>E-mail</label>
              <input v-model="form.email" type="email" />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
            <ValidationProvider
              class="inputObj"
              name="Web adresa"
              rules="required"
              v-slot="{ errors }"
            >
              <label>Web adresa</label>
              <input v-model="form.web" type="web" />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
             <b-row class="mt-4">
      <b-col class="mb-4" lg="9">
        <button @click="$bvModal.hide('modal-multi-4')" class="btn plavi-gumb-outline">Odustani</button>
        <button
          :disabled="invalid"
          ref="submitButton"
          class="btn plavi-gumb"
          @click="onSubmit()"
        >Izmijeni</button>
      </b-col>
    </b-row>
          </form>
        </ValidationObserver>
      </b-col>
      <b-col lg="6">
        <h5 class="mb-4 color-primary">Poslovne jedinice</h5>
        <p v-if="this.poslovneJedinice == 0">Nema unešenih poslovnih jedinica.</p>
        <ul class="list-jedinice" v-if="this.poslovneJedinice != 0">
          <li v-for="item in poslovneJedinice">
            <a @click="editPosJed(item)">{{item.naziv}}</a>
          </li>
        </ul>

        <button @click="showModal" ref="btnShow" class="btn plavi-gumb mali-gumb with-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path
              fill="currentColor"
              d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"
            />
          </svg>
          Dodaj poslovnu jedinicu
        </button>
      </b-col>
    </b-row>
   
  </div>
</template>
<script>
import PoslovnaJedinica from "@/components/user/PoslovnaJedinica.vue";
import axios from "axios";
export default {
  name: "PodaciOSubjektu",
  props: ["userData"],
  components: {
    PoslovnaJedinica
  },

  data() {
    return {
      form: {},
      poslovneJedinice: [],
      show: true,
      posJedforEdit: []
    };
  },
  methods: {
    editPosJed(item) {
      // funkcija za otvaranje modala
      //this.$bvModal.show('modal-posJed')
      this.posJedforEdit = item;

      this.$emit("editPosJed", item);

      this.$root.$emit("bv::show::modal", "modal-posJed", "#btnShow");
    },
    goTo(pageName) {
      this.$router.push(pageName);
    },
    mounted(){
      this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
    },
    hideModal() {
      //console.log("dsfsdf");
      this.$refs["my-modal"].hide();
    },
    showModal() {
      this.$root.$emit("bv::show::modal", "modal-multi-8", "#btnShow");
    },
    mountData() {
      this.form = this.userData;

      this.poslovneJedinice = this.userData.poslovneJedinice;
    },
    
    getLatLong() {
      var key = "AIzaSyDeVawYVUjDO3jXLxu69bkerpTMnYnp-us";
      var adresa = this.form.adresa.replace(" ", "+");
      var grad = this.form.mjesto.replace(" ", "+");
      axios({
        method: "GET",
        url:
          "https://maps.googleapis.com/maps/api/geocode/json?address=" +
          adresa +
          "+" +
          grad +
          "+" +
          this.form.postanskiBroj +
          "+HR&key=" +
          key
      })
        .then(response => {
          //console.log(response);
          //console.log(response.data.results[0].geometry.location.lat);
          //console.log(response.data.results[0].geometry.location.lng);
          this.form.latitude = response.data.results[0].geometry.location.lat;
          this.form.longitude = response.data.results[0].geometry.location.lng;
          this.updatePoslovniSubjekt();
        })
        .catch(error => {
          console.log(error);
        });
    },
    updatePoslovniSubjekt() {
      let token = localStorage.getItem("token");
      //console.log(this.form);
      axios({
        method: "POST",
        url: this.$store.state.baseUrl + "/api/ps",
        headers: {
          Authorization: "Bearer " + token
        },
        data: {
          adresa: this.form.adresa,
          email: this.form.email,
          latitude: String(this.form.latitude),
          longitude: String(this.form.longitude),
          mjesto: this.form.mjesto,
          naziv: this.form.naziv,
          oib: this.form.oib,
          postanskiBroj: String(this.form.postanskiBroj),
          telefon: this.form.telefon,
          web: this.form.web
        }
      })
        .then(response => {
          //console.log(response);

          this.$bvModal.show("modal-ok");
          this.$router.push("/dashboard");
        })
        .catch(error => {
          console.log(error);
          this.$bvModal.show("modal-error");
        });
    },
    onSubmit(evt) {
        this.getLatLong();
    }
  },
  beforeMount() {
    this.mountData();
  }
};
</script>
<style lang="scss" scoped>
$plava: #00386c;

.customForms {
  width: 100%;
  margin: 0;

  span.inputObj {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;

    &.small-2 {
      width: 19%;
      margin-right: 1%;
      float: left;
    }

    &.small-3 {
      width: 30%;
      float: left;
    }
  }

  .flexRow {
    display: flex;
    justify-content: space-between;

    span {
      width: 48%;
    }
  }

  .imgBtn {
    border: 1px solid $plava;
    padding: 0.5rem 1.2rem;
    color: $plava;

    // width: 50%;
    img {
      padding-right: 0.5rem;
    }
  }

  textarea {
    width: 100%;
  }

  span.error {
    color: red;
    display: block;
    font-size: 12px;
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    margin: 0 0 15px;
  }
}

.list-jedinice {
  list-style: none;
  padding: 0;
  counter-reset: section;
}

.list-jedinice li {
  display: block;
  position: relative;
}

.list-jedinice li::before {
  counter-increment: section;
  content: counter(section);
  display: inline-block;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #5a5a5a;
  font-size: 0.8rem;
  background-color: #fff;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all ease-in;
}

.list-jedinice a {
  color: #333333;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem 0.5rem 3.5rem;
  background-color: #efefef;
  border: 1px solid #efefef;
  margin-bottom: 1px;
  transition: 0.2s all ease-in;
}

.list-jedinice a:hover {
  /* border: 1px solid #00386C; */
  background-color: #ffffff;
  color: #00386c;
}

.list-jedinice li:hover::before {
  background-color: #00386c;
  color: #ffffff;
}
</style>