<template>
    <div id="userBkg">
        <b-col id="userBox" class="mx-auto" lg="8" sm="10">
            <h2 style="margin-bottom: 20px">Ponude</h2>
            <div class="mt-1 mb-3 ponudeHolder" v-if="offers.length > 0">
                <a href="/B2B/Static/HTZ_TOV_Plakat.pdf" target="_blank" class="cta-download">
                    <img src="@/assets/document.svg" />
                    Znak sudjelovanja u akciji možete skinuti ovdje
                </a>
            </div>
            <!-- v-bind:class="{ active: isActive }" -->
            <div class="ponudeHolder">
                <div class="ponudaBox" :class="'ponuda' + offer.status"  v-for="(offer,index) in offers" v-bind:key="offer.id">
                    <div class="left">
                        <img :src="offer.slikaGlavna.putanjaSlike" />
                    </div>
                    <div class="right">
                        <span class="tag" :class="offer.kategorija.id">{{offer.kategorija.naziv}}</span>
                        <h2 v-if="offer.poslovnaJedinica">{{offer.poslovnaJedinica.naziv}}</h2>
                        <h2 v-else>{{offer.poslovniSubjekt.naziv}}</h2>
                        <p>{{offer.opisPonude.substring(0,158)+"..."}}</p>
                        <p>
                            Status:
                            <span class="status wait" v-if="offer.status == 'Ceka na odobrenje'">
                                <img src="@/assets/icon-wait.svg" /> Čeka na odobrenje
                            </span>
                            <span class="status active" v-if="offer.status == 'Aktivna'">
                                <img src="@/assets/icon-check.svg" /> Objavljeno
                            </span>
                            <span class="status stop" v-if="offer.status == 'Zatrazena dorada'">
                                <img src="@/assets/fail.svg" style="height: 1em" /> Zatražene izmjene
                            </span>
                            <span class="status stop" v-if="offer.status == 'Neaktivna'">
                                <img src="@/assets/icon-stop.svg" /> Neaktivna
                            </span>
                        </p>
                        <p>
                          <!-- :class="{ activeOffer: isActive } v-bind:class="{ active: index === isActive }"-->
                             <div class="buttonHolder">  
                                 <button class="red" v-if="offer.status == 'Aktivna' || offer.status == 'Ceka na odobrenje' || offer.status == 'Zatrazena dorada'" @click="isActiveFunc(index, offer)" :key="index">
                                <span>Označi prodanom</span> 
                              </button>
                            </div>
                        </p>
  
                        <div class="buttonHolder">
                            <button @click="goTo({name: 'pregled-ponude', params: { id: offer.id }})" class="light">
                                <img src="@/assets/icon-eye.svg" style="width: 22px" />
                                pregledaj
                            </button>
                            <button @click="goTo({name: 'izmjena-ponude', params: { id: offer.id }})" class="dark">
                                <img src="@/assets/icon-edit.svg" />
                                  <span v-if="offer.status == 'Neaktivna'">Aktiviraj</span> <span v-else>uredi</span>
                            </button>
                            
                        </div>



                    </div>
                </div>
            </div>
            <div class="mainBtnHolder">
                <button class="light" @click="goTo('dashboard')">POVRATAK</button>
                <button class="dark" v-b-modal.modal-offerNew>KREIRAJ PONUDU</button>
            </div>
        </b-col>
        <!--=====================================
        =             MODAL - newOffer
    ======================================-->
        <b-modal id="modal-offerNew" size="lg">
            <div class="offerModal">
                <div v-if="currentStep <= 2" class="offerHeadline">
                    <h1>Kreiranje ponude</h1>
                    <p>
                        Unesite detalje o vašoj ponudi. Podaci koje ćete unijeti na ovoj stranici nakon verifikacije bit
                        će javno dostupni i vidljivi na stranici
                        <b>
                            tjedan
                            <b>odmora</b>vrijedan.hr
                        </b>
                    </p>
                </div>
                <div v-else class="offerHeadline">
                    <h1>Provjera podataka</h1>
                    <p>Molimo provjerite točnost svih unešenih podataka.</p>
                </div>
                <ValidationObserver v-slot="{ handleSubmit, invalid }">
                    <div class="stepViewer">
                        <div v-bind:class="{ active: step1 }">
                            <span v-bind:class="{ active: step1 }">1</span>
                        </div>
                        <div v-bind:class="{ active: step2 }">
                            <span v-bind:class="{ active: step2 }">2</span>
                        </div>
                        <div v-bind:class="{ active: step3 }">
                            <span v-bind:class="{ active: step3 }">3</span>
                        </div>
                    </div>
                    <form @submit.prevent="handleSubmit(onSubmit)" class="customForms">
                        <!--=====================================
                                    STEP1
            ======================================-->
                        <fieldset v-if="currentStep === 1">
                            <!-- <h4 class="mb-4">Detalji o ponudi</h4> -->
                            <div class="flexRow">
                                <ValidationProvider class="inputObj" name="Poslovni subjekt" rules="required"
                                    v-slot="{ errors }">
                                    <label>Poslovni subjekt</label>
                                    <input v-model="userData.poslovniSubjekt.naziv" type="text" readonly />
                                    <span class="error">{{ errors[0] }}</span>
                                </ValidationProvider>
                                <ValidationProvider class="inputObj" name="Poslovna jedinica" v-slot="{ errors }"
                                    v-if="userData.poslovniSubjekt.poslovneJedinice.length > 0">
                                    <label>Poslovna jedinica</label>
                                    <select v-model="form.poslovnaJedinicaId" @change="getpodkat">
                                        <option value="null">Odaberite poslovnu jedinicu</option>
                                        <option v-for="item in userData.poslovniSubjekt.poslovneJedinice"
                                            :value="item.id" v-bind:key="item.id">{{item.naziv}}</option>
                                    </select>
                                    <span class="error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </div>
                            <div class="flexRow">
                                <ValidationProvider class="inputObj" name="Glavna kategorija" rules="required"
                                    v-slot="{ errors }">
                                    <label>Odaberite glavnu kategoriju</label>
                                    <select v-model="form.kategorijaId" @change="getpodkat">
                                        <option disabled value="none">Odaberite glavnu kategoriju</option>
                                        <option v-for="item in userData.kategorija" :value="item.id"
                                            v-bind:key="item.id">{{item.naziv}}</option>
                                    </select>
                                    <span class="error">{{ errors[0] }}</span>
                                </ValidationProvider>
                                <ValidationProvider v-if="newOffer.showPodKat == true" class="inputObj"
                                    name="Podkategorija" rules="required" v-slot="{ errors }">
                                    <label>Odaberite potkategoriju</label>
                                    <select v-model="form.podKategorijaId">
                                        <option value="none">Odaberite potkategoriju</option>
                                        <option v-for="item in userData.kategorija[newOffer.mainKatIndex].podKategorija"
                                            :value="item.id" v-bind:key="item.id">{{item.naziv}}</option>
                                    </select>
                                    <span class="error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </div>
                            <div class="flexRow">
                                <ValidationProvider class="inputObj" name="Regija ponude" rules="required"
                                    v-slot="{ errors }">
                                    <label>Odaberite regiju</label>
                                    <!-- @change="getpodkat" -->
                                    <select v-model="form.brojRegije">
                                        <option disabled value="none">Odaberite regiju</option>
                                        <option value="1">Istra</option>
                                        <option value="2">Kvarner</option>
                                        <option value="3">Dalmacija - Zadar</option>
                                        <option value="4">Dalmacija - Šibenik</option>
                                        <option value="5">Dalmacija - Split</option>
                                        <option value="6">Dalmacija - Dubrovnik</option>
                                        <option value="7">Lika - Karlovac</option>
                                        <option value="8">Središnja Hrvatska</option>
                                        <option value="9">Grad Zagreb</option>
                                        <option value="10">Slavonija</option>
                                    </select>
                                    <span class="error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </div>
                            <ValidationProvider name="Opis ponude" rules="required" v-slot="{ errors }">
                                <label>Opis ponude</label>
                                <p
                                    style="font-size: 13px; color: #5a5a5a; margin-top: -4px; display: inline-block; background-color: #efefef; padding: 0.25rem 0.6rem; border-radius: 0.2rem">
                                    U tekstu ponude jasno navedite popust od 50%, a ako navodite cijenu uz sniženu
                                    cijenu navedite i redovnu cijenu.</p>
                                <textarea rows="7" v-model="form.opisPonude" type="text"
                                    placeholder="Unesite tekst opisa ponude" />
                                <span class="error">{{ errors[0] }}</span>
              </ValidationProvider>

              <!-- Upload POREZ PDFref="provider" ext:jpg,pdf,jpeg,png -->
              <div class="mt-4">
                <keep-alive>
                  <ValidationProvider ref="provider" name="Porezni dug" rules="required|ext:jpg,png,pdf,jpeg" v-slot="{ errors }">
                    <label>
                      Dokaz o nepostojanju poreznog duga
                      <span
                        style="font-size: 0.75rem; font-weight: normal;"
                      >(Podržani format: PDF, JPG, JPEG, PNG)</span><br>
                      
                    </label>
                    <p style="font-size: 13px; color: #5a5a5a; margin-top: -4px; display: inline-block; background-color: #efefef; padding: 0.25rem 0.6rem; border-radius: 0.2rem">
                                    Poreznim dugom ne smatra se onaj dug za koji je gospodarski subjekt s Poreznom upravom zaključio odgovarajući ugovor o obročnoj otplati takvog duga, uz uvjet da gospodarski subjekt uredno podmiruje obveze iz navedenog ugovora.</p>

                    <input type="file" @change="changePoreznaPotvrda" name />

                    <span class="error">{{ errors[0] }}</span>
                  </ValidationProvider>
                </keep-alive>
              </div>
            </fieldset>

            <!--=====================================
                                    STEP2
            ======================================-->
            <fieldset v-else-if="currentStep === 2">
              <!-- <h4 class="mb-4">Detalji o ponudi</h4> -->

              <div class="mt-2">
                <label>Napomena</label>
                <textarea
                  rows="1"
                  cols="100%"
                  v-model="form.napomena"
                  type="text"
                  placeholder="Unesite tekst napomene (do 100 znakova)"
                />
              </div>

              <!-- <h4>Detalji o ponudi</h4> -->
              <!--  @change="getpodkat"  v-model="form.ponuda.kategorija.id" -->
              <!-- <div class="mt-2">
                
              </div> -->


              <b-row class="mt-4">
                <b-col lg="12">
                    <strong style="font-size: 14px; color: #212121; margin-bottom: 0.5rem; display: block;">Vaša ponuda</strong>
                    <p style="font-size: 0.8rem; padding: 0.5rem; background-color: #efefef;">Da bi Vaša ponuda mogla biti odobrena morate upisati javno objavljenu poveznicu (npr. na vašoj web stranici) na kojoj se vide svi detalji formirane ponude ili prikačiti PDF dokument na vašem memorandumu i potpisom ovlaštene osobe.</p>
                </b-col>
                <b-col lg="6" class="mb-1">
                  <!-- <label>
                    Odaberite dokument ili poveznicu na ponudu
                  </label> -->
                  <select v-model="selected">
                    <option value="1">Web poveznica do objavljene ponude</option>
                    <option value="2">Datoteka s ponudom (PDF)</option>
                  </select>
                </b-col>
                <b-col lg="6">
                  <keep-alive v-if="selected == 1">
                    <ValidationProvider
                      name="Web poveznica"
                      rules="required"
                      v-slot="{errors }"
                    >
                      <div>
                        <!-- <label>Adresa poveznice</label> -->
                        <input
                          v-model="form.web"
                          type="text"
                          placeholder="www.adriacamping.hr/ponuda_tjedan"
                        />
                      </div>
                      <span class="error">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </keep-alive>
                  <keep-alive v-if="selected == 2">
                    <ValidationProvider ref="provider" name="Datoteka ponude" rules="required|ext:jpg,png,pdf,jpeg" v-slot="{ errors }">
                      <div>
                        <!-- <label>
                          Priložite datoteku ponude
                        </label> -->
    
                        <input type="file" @change="changeDokument" name style="font-size: 0.8rem!important;" />
                      </div>
                      <span class="error">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </keep-alive>
                </b-col>
              </b-row>

              <div style="margin-top: 2rem; padding-top: 2rem; border-top: 1px solid #eee">
                <label>Glavna fotografija <span style="font-weight: normal; color: #9a9a9a">(<span style="color: #cc0000">obavezno</span> - min. rezolucija 1920x1080 px)</span></label>

                <button type="button" v-if="glavnaSlika == null" class="plavi-gumb-outline mt-2" @click="cropperMainState = true" >+ Dodaj fotografiju</button>
                
                <div v-if="glavnaSlika != null" style="position: relative; padding: 1rem;">
                  <span class="removePhoto" @click="removeMainPhoto">x</span>
                  <img class="imagePreview" v-bind:src="glavnaSlika" />
                </div>

              </div>

              <div style="margin-top: 2rem">
                <label style="margin-top: 20px;" >Dodatne fotografije <span style="font-weight: normal; color: #9a9a9a">(najviše 5, min rezolucija 800x450 px)</span></label>
                <div v-if="dodatnaSlika != ''" style="display: flex; flex-wrap: wrap; justify-content: flex-start; width: 100%;" >
                    <div v-for="(slika, index) in dodatnaSlika" :key="index" style="flex: 1 1 20%; max-width: 200px; min-width: 150px; padding: 1rem; position: relative;" >
                        <span class="removePhoto" @click="removePhoto(index)">x</span>
                        <img class="imagePreview" v-bind:key="index" v-bind:src="slika" />
                  </div>
                </div>

                <button
                  type="button"
                  v-if="dodatnaSlika == '' || dodatnaSlika.length < 5"
                  class="plavi-gumb-outline mt-2"
                  @click="cropperAdditionalState = true"
                >+ Dodaj fotografiju</button>
              </div>

                   
                <div class="form-checks" style="margin-top: 2rem; border-top: 1px solid #eee; padding-top: 2rem">
                    <ValidationProvider name="Izjava o istinitosti i točnosti podataka" :rules="{ required: { allowFalse: false } }" v-slot="{ errors }">
                        
    
                        <div style="display: flex; flex-wrap: nowrap; justify-content: flex-start">
                            <input v-model="checked" name="terms1" type="checkbox" style="flex: 0 0 25px; width: 25px" />
                            <div style="flex: 1 1 auto">
                                <label style="font-size: 1rem">Izjava o istinitosti i točnosti podataka</label>
                                <p style="font-size: 13px; margin-bottom: 0.5rem">U svoje osobno ime kao osoba koja unosi tražene podatke, kao i uime osobe koja je u prijavi navedena kao ponuditelj, izjavljujem da su svi navedeni podaci istiniti i točni.</p>
                                <span class="error">{{ errors[0] }}</span>
                            </div>
                        </div>
                        
                        

                    </ValidationProvider>
                    
                    <ValidationProvider name="Izjava o autorskom i srodnom pravu" :rules="{ required: { allowFalse: false } }" v-slot="{ errors }" >


                        <div style="display: flex; flex-wrap: nowrap; justify-content: flex-start; margin-top: 2rem">
                            <input v-model="checked2" name="terms2" type="checkbox" style="flex: 0 0 25px; width: 25px" />
                            <div style="flex: 1 1 auto">
                                <label style="font-size: 1rem">Izjava o autorskom i srodnom pravu</label>
                                <p style="font-size: 13px; margin-bottom: 0.5rem">U svoje osobno ime kao osoba koja unosi tražene podatke, kao i uime osobe koja je u prijavi navedena kao ponuditelj, izjavljujem da za vizualni identitet, fotografije te ostali sadržaj koji može biti predmet autorskih ili drugih prava intelektualnog vlasništva ponuditelj posjeduje odgovarajuća prava koja mu omogućuju neometanu upotrebu takvih materijala na način potreban za provedbu projekta „Tjedan odmora vrijedan”.</p>
                                <span class="error">{{ errors[0] }}</span>
                            </div>
                        </div>
    
                        
                    </ValidationProvider>
                </div>

            </fieldset>
            <!--=====================================
                                    STEP3
            ======================================-->
            <fieldset class="step3" v-else-if="currentStep === 3">
              <!-- <h5 class="mb-4">Podaci za objavu</h5> -->

              <div class="flexRow">
                <p class="flexColumn">
                  <strong>Poslovni subjekt:</strong>
                </p>
                <p>{{ userData.poslovniSubjekt.naziv }}</p>
              </div>
              <div class="flexRow">
                <p class="flexColumn">
                  <strong>Adresa:</strong>
                </p>
                <p>{{ userData.poslovniSubjekt.adresa }}</p>
              </div>
              <div class="flexRow">
                <p class="flexColumn">
                  <strong>Mjesto:</strong>
                </p>
                <p>{{ userData.poslovniSubjekt.mjesto }}</p>
              </div>
              <div class="flexRow">
                <p class="flexColumn">
                  <strong>Telefon:</strong>
                </p>
                <p>{{ userData.poslovniSubjekt.telefon }}</p>
              </div>
              <div class="flexRow">
                <p class="flexColumn">
                  <strong>E-mail:</strong>
                </p>
                <p>{{ userData.poslovniSubjekt.email }}</p>
              </div>
              <div class="flexRow">
                <p class="flexColumn">
                  <strong>Web adresa:</strong>
                </p>
                <p>{{ userData.poslovniSubjekt.web}}</p>
              </div>
              <hr />
              <div v-if="userData.poslovniSubjekt.poslovneJedinice != null" class="flexRow">
                <p class="flexColumn">
                  <strong>Poslovna jedinica</strong>
                </p>
                <p>{{ PosJed.posJedNaziv}}</p>
              </div>
              <div class="flexRow">
                <p class="flexColumn">
                  <strong>Glavna kategorija:</strong>
                </p>
                <p value="getKatName()">{{ displayStep3.kategorija }}</p>
              </div>
              <div v-if="displayStep3.podkategorija" class="flexRow">
                <p class="flexColumn">
                  <strong>Potkategorija:</strong>
                </p>
                <p>{{ displayStep3.podkategorija }}</p>
              </div>
              <div class="flexRow" style="text-align: left;">
                <p class="flexColumn">
                  <strong>Regija:</strong>
                </p>
                <!-- Regije -->
                <p class="flexColumn">
                    <span v-if="form.brojRegije === '1'">Istra</span>
                    <span v-else-if="form.brojRegije === '2'">Kvarner</span>
                    <span v-else-if="form.brojRegije === '3'">Dalmacija - Zadar</span>
                    <span v-else-if="form.brojRegije === '4'">Dalmacija - Šibenik</span>
                    <span v-else-if="form.brojRegije === '5'">Dalmacija - Split</span>
                    <span v-else-if="form.brojRegije === '6'">Dalmacija - Dubrovnik</span>
                    <span v-else-if="form.brojRegije === '7'">Lika - Karlovac</span>
                    <span v-else-if="form.brojRegije === '8'">Središnja Hrvatska</span>
                    <span v-else-if="form.brojRegije === '9'">Grad Zagreb</span>
                    <span v-else-if="form.brojRegije === '10'">Slavonija</span>
                </p>
                <!-- <p>{{ form.brojRegije}}</p> -->
              </div>
              <div class="flexRow mt-4">
                <p class="flexColumn">
                  <strong>Opis ponude:</strong>
                </p>
                <p style="white-space: pre-line;">{{ form.opisPonude}}</p>
              </div>
              <div class="flexRow mt-4 mb-4">
                <p class="flexColumn">
                  <strong>Napomena:</strong>
                </p>
                <p style="white-space: pre-line;">{{ form.napomena}}</p>
              </div>
              <div v-if="selected == 1" class="flexRow">
                <p class="flexColumn">
                  <strong>Web poveznica do ponude:</strong>
                </p>
                <p class="">{{ form.web}}</p>
              </div>
              <div v-if="selected == 2" class="flexRow">
                <p class="flexColumn">
                  <strong>Datoteka ponude:</strong>
                </p>
                <p class=""> {{ ponudaDokumentname}} </p>
              </div>
              <!-- GLAVNA FOTOGRAFIJA -->
              <p class="flexColumn mt-4">
                <strong>Glavna fotografija:</strong>
              </p>
              <div class="flexRow">
                <img class="width100" v-bind:src="glavnaSlika" />
              </div>
              <!-- DODATNE FOTOGRAFIJE-->
              <p class="flexColumn mt-4">
                <strong>Dodatne fotografije:</strong>
              </p>
              <div class="dodatne-fotke mb-4">
                <div style="margin: 4px">
                  <img v-for="(slika, index) in dodatnaSlika" v-bind:src="slika" :key="index" />
                </div>
              </div>

            </fieldset>

            <div class="mainBtnHolder" style="width:100%; justify-content: flex-start">
              <!--  <a class="light" @click="goBack()">POVRATAK</a> @click="onSubmit()" -->
              
              <button v-if="currentStep > 1" @click="prevStep()" class="light" type="button" >{{ stepButtonTextPrev }}</button>

              <button  v-if="currentStep === 1" class="dark" type="submit">{{ stepButtonText }}</button>
              <button  v-if="currentStep === 2 && glavnaSlika != null" class="dark" type="submit">{{ stepButtonText }}</button>
              <button @click="uploadFormData()" :disabled="invalid" v-if="currentStep === 3" class="dark" type="submit" >{{ stepButtonTextSubmit }}</button>
              
              
            </div>
          </form>
        </ValidationObserver>
      </div>
    </b-modal>
    <div v-b-modal.modal-crop class="imageUpload" v-if="cropperMainState">
        <button @click="cropperMainState = false" class="cropper-close">&times;</button>
      <Croppit @applyMainImage="applyMainImage"></Croppit>
    </div>
    <div class="imageUpload" v-if="cropperAdditionalState">
        <button @click="cropperAdditionalState = false" class="cropper-close">&times;</button>
      <CroppitAdditional @applyAdditionalImage="applyAdditionalImage"></CroppitAdditional>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import Croppit from "@/components/Cropper.vue";
import CroppitAdditional from "@/components/CropperAdditional.vue";
import IzmjenaPonude from "@/components/user/IzmjenaPonude.vue";

export default {
  name: "Ponude",
  props: {
    msg: String
  },
  components: {
    Croppit,
    CroppitAdditional,
    IzmjenaPonude
  },
  data() {
    return {
      isActive: false,
      // selected: 1,
      checked: "",
      checked2: "",
      glavnaSlika: null,
      dodatnaSlika: [],
      cropperMainState: false,
      cropperAdditionalState: false,
      mainPhoto: false,
      additionalPhoto: false,
      currentStep: 1,
      step1: true,
      step2: false,
      step3: false,
      stepButtonText: "SLJEDEĆI KORAK",
      stepButtonTextSubmit: "PREDAJ PONUDU",
      stepButtonTextPrev: "POVRATAK",
      displayStep3: {
        kategorija: "",
        podkategorija: ""
      },
      PosJed: {
        posJedNaziv: ""
      },
      userData: {
        poslovniSubjekt: [],
        kategorija: []
      },
      ponudaDokument: {},
      ponudaDokumentname: "",
      poreznaPotvrda: {},
      form: {},
      offers: "",
      ponudaData: {},
      newOffer: {
        kategorija: "none",
        mainKatIndex: "none",
        showPodKat: false,
        podkategorija: "none"
      },
      poslovniSubjekt: {}
    
    };
  },

  methods: {
    isActiveFunc(index, offer){
      console.log(index)
      console.log(event)  
      console.log(offer.id)
      
      let token = localStorage.getItem("token");
      axios({
        method: "POST",
        url: this.$store.state.baseUrl + "/api/ponuda/deactivate",
        headers: {
          Authorization: "Bearer " + token
        },
         data: {
            "ponudaId": offer.id,     
          }
         }).then(response => {
            this.$bvModal.show("modal-ok-refresh");
          // this.$router.push("/ponude");
         }).then(response => {          
           setTimeout(function(){
             window.location.reload()
             }, 2000);
            
         }).catch(error => {
          console.log(error);     
        });
   
    },
    getKatName() {
      var katId = this.form.kategorijaId;
      var podKatId = this.form.podKategorijaId;
      var posJed = this.form.poslovnaJedinicaId;

      this.userData.kategorija.forEach(element => {
        if (element.id === katId) {
          this.displayStep3.kategorija = element.naziv;
          element.podKategorija.forEach(i => {
            if (i.id === podKatId) {
              this.displayStep3.podkategorija = i.naziv;
            }
          });
        }
      }),
        this.userData.poslovniSubjekt.poslovneJedinice.forEach(element => {
          if (element.id === posJed) {
            this.PosJed.posJedNaziv = element.naziv;
          }
        });
    },
    moveData() {
      this.$set(this.ponudaData, kategorijaId, this.form.kategorijaId);
      this.$set(this.ponudaData, napomena, this.form.napomena);
      this.$set(this.ponudaData, opisPonude, this.form.opisPonude);
      this.$set(this.ponudaData, web, this.form.web);

      if (this.form.podKategorijaId !== null) {
        this.$set(this.ponudaData, podKategorijaId, this.form.podKategorijaId);
      }
      if (this.form.poslovnaJedinicaId !== null) {
        this.$set(
          this.ponudaData,
          poslovnaJedinicaId,
          this.form.poslovnaJedinicaId
        );
      }
    },

    removeMainPhoto() {
      this.glavnaSlika = null;
    },
    removePhoto(index) {
      this.dodatnaSlika.splice(index, 1);
    },
    getpodkat() {
      this.userData.kategorija.forEach((el, index) => {
        if (el.id === this.form.kategorijaId)
          this.newOffer.mainKatIndex = index;
      });
      if (
        this.userData.kategorija[this.newOffer.mainKatIndex].podKategorija
          .length > 0
      ) {
        this.newOffer.showPodKat = true;
      } else {
        this.newOffer.showPodKat = false;
        this.newOffer.podkategorija = null;
      }
    },
    dataURItoBlob(dataURI) {
      // convert base64/URLEncoded data component to raw binary data held in a string
      var byteString;
      if (dataURI.split(",")[0].indexOf("base64") >= 0)
        byteString = atob(dataURI.split(",")[1]);
      else byteString = unescape(dataURI.split(",")[1]);
      // separate out the mime component
      var mimeString = dataURI
        .split(",")[0]
        .split(":")[1]
        .split(";")[0];
      // write the bytes of the string to a typed array
      var ia = new Uint8Array(byteString.length);
      for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
      }
      return new Blob([ia], { type: mimeString });
    },
    async changeDokument(event) {
        //console.log(event.target.files[0]);
        this.ponudaDokumentname = event.target.files[0].name;
       // console.log(valid)
        const { valid } = await  this.$refs.provider.validate(event);
      if (valid) {
        // TODO: Upload the file
        this.ponudaDokument = event.target.files[0];
       // console.log(this.ponudaDokument);
       // console.log('Uploaded the file...ponudaDokument');
      }
     
    },
    async changePoreznaPotvrda(event) {
        //console.log(this.$refs.provider.flags.valid)
         //console.log(event.target.files[0]);
        const { valid } = await this.$refs.provider.validate(event);
        console.log(valid)
        if (valid) {
        // TODO: Upload the file
            this.poreznaPotvrda = event.target.files[0];
           // console.log(this.poreznaPotvrda);
           // console.log('Uploaded the file...poreznaPotvrda');
      }
     
    },

    applyMainImage(image) {
      //debugger;
      this.glavnaSlika = image;
      this.cropperMainState = false;
    },
    applyAdditionalImage(image) {
      //debugger;
      this.dodatnaSlika.push(image);
      this.cropperAdditionalState = false;
    },
    onSubmit() {
      if (this.currentStep < 3) {
        this.currentStep++;
        if (this.currentStep == 1) {
          this.step1 = true;
        } else if (this.currentStep == 2) {
          this.step2 = true;
        } else if (this.currentStep == 3) {
            //console.log(this.form)
            //console.log(this.ponudaDokument)
          this.step3 = true;
          this.getKatName();
        }
      }
    },
    prevStep(event) {
      if (this.currentStep > 1) {
        this.currentStep = this.currentStep - 1;

        if (this.currentStep == 1) {
          this.step1 = true;
          this.step2 = false;
          this.step3 = false;
        } else if (this.currentStep == 2) {
          this.step2 = true;
          this.step1 = true;
          this.step3 = false;
        } else if (this.currentStep == 3) {
           // console.log(event.target.files)
          this.step3 = true;
          this.step1 = false;
          this.step2 = false;
        }
      }
    },
    uploadFormData() {
      let token = localStorage.getItem("token");
      const fd = new FormData();

      let count = 1;
      let mainImgBlob = this.dataURItoBlob(this.glavnaSlika);
      let fileGlavna = new File(
        [mainImgBlob],
        this.poslovniSubjekt.naziv + ".jpeg"
      );
      // Dokument
      //let formData = new FormData();
      fd.append("poreznaPotvrda", this.poreznaPotvrda);
      fd.append("ponudaDokument", this.ponudaDokument);
      fd.append("glavna", fileGlavna);
   
      let slikeBlob = [];
      this.dodatnaSlika.forEach(element => {
        count++;
        //slikeBlob.push(this.dataURItoBlob(element));
        fd.append(
          "slike",
          new File(
            [this.dataURItoBlob(element)],
            this.poslovniSubjekt.naziv + count + ".jpeg"
          )
        );
      });
      fd.append(
        "ponudaModel",
        new Blob(
          [
            JSON.stringify({
              brojRegije: Number(this.form.brojRegije),
              napomena: this.form.napomena,
              poslovniSubjektId: this.userData.poslovniSubjekt.id,
              kategorijaId: this.form.kategorijaId,
              opisPonude: this.form.opisPonude,
              podKategorijaId: this.form.podKategorijaId,
              poslovnaJedinicaId: this.form.poslovnaJedinicaId,
              web: this.form.web
            })
          ],
          {
            type: "application/json"
          }
        )
      );

      const API_URL =
        this.$store.state.baseUrl + "/api/ponuda/create";
        
      fetch(API_URL, {
        method: "POST",
        headers: {
          Authorization: "Bearer " + token
        },
        body: fd
      })
        .then(response => {
          //console.log(response);

          this.$bvModal.hide("modal-offerNew");
        })
        .then(response => {
          //console.log(response);

          this.$bvModal.show("modal-ok-refresh");
          
          this.getPonude();
        })
        .catch(error => {
          console.log(error);
        });
    },
    goTo(pageName) {
      this.$router.push(pageName);
    },
    getPonude() {
      let token = localStorage.getItem("token");
 
      axios({
        method: "GET",
        url: this.$store.state.baseUrl + "/api/ponuda/all",
        headers: {
          Authorization: "Bearer " + token
        }
      })
        .then(response => {
          //console.log("PONUDA ALL RESPONSE:");
          //console.log(response);
          this.offers = response.data;
          //console.log(this.offers[0].id);
          
        })
        .catch(error => {
          console.log(error);
          this.$router.push("/prijava");
        });
    },
    getTemplate() {
      let token = localStorage.getItem("token");
    
      axios({
        method: "GET",
        url: this.$store.state.baseUrl + "/api/ponuda/template",
        headers: {
          Authorization: "Bearer " + token
        }
      }).then(response => {
        this.userData.kategorija = response.data.kategorija;
       // console.log(this.userData.kategorija);
      });
    },
    getSubjekti() {
      let token = localStorage.getItem("token");
 
      axios({
        method: "GET",
        url: this.$store.state.baseUrl + "/api/ps",
        headers: {
          Authorization: "Bearer " + token
        }
      }).then(response => {
        this.userData.poslovniSubjekt = response.data;
       // console.log(response);
      });
    }
  },
  beforeMount() {
    
    this.getPonude();
    this.getTemplate();
    this.getSubjekti();
  },
  mounted() {
    
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
    
  },
  metaInfo: {
    title: "HTZ - Tjedan Odmora Vrijedan - Ponude",
    meta: [
      // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
      // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
      { name: "description", content: "Znak sudjelovanja u akciji možete skinuti ovdje" },
      {
        name: "keywords",
        content: "htz, Tjedan odmora vrijedan, turizam, 2020"
      }
    ]
  }
};
</script>
<style lang="scss" scoped>
.red{
  background: #CF2025;
  color: white;
  border: 1px solid #000 !important;
  width: 100% !important;
  transition: 0.1s ease-in;
}
.red:hover {
  font-size: 14px !important;
}
.modal-body label {
  padding-left: 0rem;
}
span.removePhoto {
  position: absolute;
  background-color: #00386c;
  right: 0;
  z-index: 2;
  width: 29px;
  height: 29px;
  text-align: center;
  padding: 2px 0;
  border-radius: 25px;
  top: 0;
  color: #f8f9fa;
  cursor: pointer;
}

select {
  width: 100%;
  background: url("~@/assets/ArrowSvg2.svg") no-repeat right;
  background-size: 35px;
  border: 1px solid #b5b5b5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding: 10px 15px;
  -webkit-appearance: none;
  border-radius: 0;
}

.imagePreview {
  /* width: 240px;
    height: 150px; */
  max-width: 100%;
}

.imageUploadBtn {
  width: 240px;
  height: 150px;
  border: 1px dashed #494949;
  transition: 0.3s;
  background-color: #f1f1f1;
  // margin: 10px 0;

  &:hover {
    background-color: #f9f9f9;
  }
}

.pointer {
  cursor: pointer;
}

.ponudeHolder {
  width: 95%;
  margin: auto;
  height: auto;
  .ponudaNeaktivna{
    //Inactive offer
    filter: grayscale(100%);
  }
  //  .ponudaAktivna{
  //   //Inactive offer
  //   filter: grayscale(0%);
  // }
  .ponudaBox {
    width: 100%;
    height: 18rem;
    margin-bottom: 15px;
    border: 2px solid #00386c;
    display: flex;
    position: relative;

    .left {
      width: 35%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .right {
      width: 65%;
      text-align: left;
      padding: 3% 5%;

      .tag {
        background-color: #00386c;
        padding: 4px 10px;
        border-radius: 20px;
        color: white;

        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 10px;
        align-items: center;
        text-transform: uppercase;

        color: #ffffff;
      }

      h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;

        color: #494949;
        margin-top: 5px;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;

        color: #9c9c9c;
        margin: 0px 0 15px 0;

        .status {
          &.active {
            color: #2aa615;
          }

          &.wait {
            color: #e1941f;
          }

          &.stop {
            color: #e41917;
          }
        }
      }

      .buttonHolder {
        display: flex;
        //width: 80%;
        // background-color: yellow;
        max-width: 600px;

        button {
          width: 50%;
          height: 33px;
          border: 1px solid #00386c;

          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 13px;
          align-items: center;
          text-align: center;
          text-transform: uppercase;
          outline: none;

          img {
            width: 14px;
            vertical-align: text-bottom;
            margin-right: 9px;
          }

          &.dark {
            background-color: #00386c;
            color: white;
            transition: 0.1s ease-in;
          }

          &.dark:hover {
            font-size: 14px;
          }

          &.light {
            background-color: white;
            color: #00386c;
            transition: 0.1s ease-in;
          }

          &.light:hover {
            font-size: 14px;
          }
        }
      }
    }

    .statusBar {
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: #00386c;
      padding: 7px 15px;
      border-bottom-left-radius: 10px;
      color: white;

      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 11px;
      align-items: center;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;

      img {
        vertical-align: middle;
        width: 11px;
        margin-right: 5px;
      }
    }
  }
}

.mainBtnHolder {
  display: flex;
  width: 95%;
  margin: 20px auto 0;

  button {
    width: 50%;
    height: 45px;
    border: 1px solid #00386c;

    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    text-transform: uppercase;
    outline: none;

    img {
      width: 17px;
      vertical-align: text-bottom;
      margin-right: 3px;
    }

    &.dark {
      background-color: #00386c;
      color: white;
      transition: 0.1s ease-in;
    }

    &.dark:hover {
      font-size: 17px;
    }

    &.light {
      background-color: white;
      color: #00386c;
      transition: 0.1s ease-in;
    }

    &.light:hover {
      font-size: 17px;
    }
  }
}

.mainBtnHolder {
  display: flex;
  width: 95%;
  margin: 35px auto 0;

  button {
    width: 50%;
    height: 45px;
    border: 1px solid #00386c;

    font-style: normal;
    font-weight: 900;
    font-size: 16x;
    line-height: 21px;
  }
}

.offerHeadline {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.imageUpload {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url();

  background: url("~@/assets/cropper-bg.jpg") no-repeat;
  background-size: cover;
  top: 0px;
  left: 0px;
  z-index: 10000;

}

.dodatne-fotke {
  img {
    width: 20%;
  }
}

.flexRow {
  flex-wrap: wrap;
  img {
    width: 100%;
  }
}

p.flexColumn:first-of-type {
  flex: 0 0 25%;
}

p.flexColumn:last-of-type {
    flex: 1 1 auto;
}

.checkbox {
  padding-top: 1rem;
}

.step3 .flexRow input {
  width: auto;
}

.step3 .customForms .flexRow {
  justify-content: flex-start;
}



// RESPONZIVA

@media only screen and (max-width: 768px) {
  div.ponudeHolder {
    .ponudaBox {
      flex-direction: column;
      height: auto;

      .left {
        width: 100%;
      }

      .right {
        width: 100%;
      }
    }
  }

  .customForms .flexRow span {
    width: 100%;
  }
}

.cta-download {
  color: #00386C;
  padding: 0.5rem 2rem;
  /* border: 2px solid #00386c; */
  display: block;
  text-decoration: none;
  

  &:hover {
    color: #212121;

    img {
      transform: scale(1.1);
    }
  }

  img {
    width: 24px;
    height: auto;
    transition: 0.4s all ease-in-out;
  }

}

.error {
    margin-top: 0.25rem;
}

.cropper-close {
    font-size: 4rem;
    color: #ffffff;
    background: transparent;
    border: 0;
    position: absolute;
    right: 2rem;
    top: 2rem;
    line-height: 1;
    
}

.step3 .flexRow {
    justify-content: flex-start;
    flex-wrap: nowrap
}

.step3 .flexRow p {
    margin-bottom: 0.25rem;
}
</style>