<template>
  <div id="PoslovnaJedinica">
    <ValidationObserver v-slot="{ invalid  }">
      <form @submit.prevent="onSubmit" class="customForms">
        <h5 class="color-primary mb-4 ml-3">{{form.naziv}}</h5>

        <b-row>
          <b-col lg="12">
            <ValidationProvider
              class="inputObj"
              name="Naziv poslovne jedinice"
              rules="required"
              v-slot="{ errors }"
            >
              <label>Naziv poslovne jedinice</label>
              <input v-model="form.naziv" type="text" placeholder />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
          </b-col>
          <b-col lg="6">
            <ValidationProvider
              class="inputObj"
              name="Adresa poslovne jedinice"
              rules="required"
              v-slot="{ errors }"
            >
              <label>Adresa poslovne jedinice</label>
              <input v-model="form.adresa" type="text" placeholder />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
          </b-col>
          <b-col lg="6">
            <ValidationProvider
              class="inputObj"
              name="Adresa poslovnog subjekta"
              rules="required"
              v-slot="{ errors }"
            >
              <label>Mjesto poslovnog subjekta</label>
              <input v-model="form.mjesto" type="text" placeholder />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
          </b-col>
          <b-col lg="6">
            <ValidationProvider
              class="inputObj"
              name="Poštanski broj"
              rules="required|min:5"
              v-slot="{ errors }"
            >
              <label>Poštanski broj</label>
              <input v-model="form.postanskiBroj" type="text" placeholder />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
          </b-col>
          <b-col lg="6">
            <ValidationProvider
              class="inputObj"
              name="Telefon"
              rules="required"
              v-slot="{ errors }"
            >
              <label>Telefon</label>
              <input v-model="form.telefon" type="text" placeholder />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
          </b-col>
          <b-col lg="6">
            <ValidationProvider class="inputObj" name="E-mail" rules="required" v-slot="{ errors }">
              <label>E-mail</label>
              <input v-model="form.email" type="email" placeholder />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
          </b-col>
          <b-col lg="6">
            <ValidationProvider
              class="inputObj"
              name="Web adresa"
              rules="required"
              v-slot="{ errors }"
            >
              <label>Web adresa</label>
              <input v-model="form.web" type="web" placeholder />
              <span class="error">{{ errors[0] }}</span>
            </ValidationProvider>
          </b-col>
          <!-- <b-col lg="6">
                        <ValidationProvider class="inputObj" name="Latitude" rules="required" v-slot="{ errors }">
                            <label>Latitude</label>
                            <input v-model="form.latitude" type="number" placeholder />
                            <span class="error">{{ errors[0] }}</span>
                        </ValidationProvider>
                    </b-col>
                    <b-col lg="6">
                        <ValidationProvider class="inputObj" name="Longitude" rules="required" v-slot="{ errors }">
                            <label>Longitude</label>
                            <input v-model="form.longitude" type="number" placeholder />
                            <span class="error">{{ errors[0] }}</span>
                        </ValidationProvider>
          </b-col>-->
        </b-row>

        <b-row class="mt-4">
          <b-col lg="6">
            <b-button class="plavi-gumb-outline" v-b-modal.modal-multi-4>Povratak</b-button>
            <b-button :disabled="invalid" class="plavi-gumb" @click="onSubmit()">Izmijeni</b-button>
          </b-col>
        </b-row>
      </form>
    </ValidationObserver>
  </div>
</template>
<style scoped lang="scss">
.customForms span.inputObj {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}
</style>

<script>
import axios from "axios";

export default {
  name: "PoslovnaJedinicaEdit",
  props: ["posJedforEdit"],
  components: {
    // PlavaOlovkaSvg
  },

  data() {
    return {
      form: {}
    };
  },
  methods: {
    getLatLong() {
      var key = "AIzaSyDeVawYVUjDO3jXLxu69bkerpTMnYnp-us";
      var adresa = this.form.adresa.replace(" ", "+");
      var grad = this.form.mjesto.replace(" ", "+");
      axios({
        method: "GET",
        url:
          "https://maps.googleapis.com/maps/api/geocode/json?address=" +
          adresa +
          "+" +
          grad +
          "+" +
          this.form.postanskiBroj +
          "+HR&key=" +
          key
      })
        .then(response => {
          console.log(response);
          console.log(response.data.results[0].geometry.location.lat);
          console.log(response.data.results[0].geometry.location.lng);
          this.form.latitude = response.data.results[0].geometry.location.lat;
          this.form.longitude = response.data.results[0].geometry.location.lng;
          this.updatePoslovnaJedinica();
        })
        .catch(error => {
          console.log(error);
        });
    },
    updatePoslovnaJedinica() {
      let token = localStorage.getItem("token");
        
      axios({
        method: "post",
        url:
          this.$store.state.baseUrl + "/api/ps/edit-poslovna-jedinica",
        headers: {
          Authorization: "Bearer " + token
        },
        data: {
          adresa: this.form.adresa,
          email: this.form.email,
          id: this.posJedforEdit.id,
          latitude: String(this.form.latitude),
          longitude: String(this.form.longitude),
          mjesto: this.form.mjesto,
          naziv: this.form.naziv,
          oib: this.form.oib,
          postanskiBroj: String(this.form.postanskiBroj),
          telefon: this.form.telefon,
          web: this.form.web
        }
      })
        .then(response => {
          console.log(response);

          this.$bvModal.hide("modal-posJed");
          this.$bvModal.show("modal-ok");
        })
        .catch(error => {
          console.log(error);
          this.$bvModal.show("modal-error");
        });
    },
    onSubmit() {
      this.getLatLong();
    },
    mountData() {
      this.form = this.posJedforEdit;
    }
  },
  beforeMount: function() {
    this.mountData();
  }
};
</script>