<template>
  <div id="pregledPonude">
    <div>
      <!-- <SlikaPregledPonude :slika="offer.glavna.putanjaSlike" /> -->
      <div class="mainPhoto">
        <img :src="offer.glavna.putanjaSlike" />
      </div>
      <b-container class="content">
        <h2
          v-if="this.offer.ponuda.poslovnaJedinica !== null"
          class="text-left pb-3"
        >{{this.offer.ponuda.poslovnaJedinica.naziv}}</h2>
        <h2 v-else class="text-left pb-3">{{this.offer.ponuda.poslovniSubjekt.naziv}}</h2>
        <!-- POREZNA -->
        <p class="offerDoc" v-if="this.porezniDokument">
          <a :href="this.porezniDokument">Dokument</a>
        </p>
        <b-row>
          <!--  <div>User {{ $route.params.id }}</div>  v-for="singleOffer in singleoffers" -->
          <b-col class="pr-" lg="8">
            <hr />
            <p style="white-space: pre-line;">{{this.offer.ponuda.opisPonude}}</p>
            <p class="lijevoSivi">{{this.offer.ponuda.napomena}}</p>
          </b-col>
          <b-col lg="4">
            <div v-if="this.offer.ponuda.poslovnaJedinica !== null" class="siviKvadrat">
              <p>{{this.offer.ponuda.poslovnaJedinica.adresa}}, {{this.offer.ponuda.poslovnaJedinica.mjesto}}</p>
              <p>{{this.offer.ponuda.poslovnaJedinica.telefon}}</p>
              <p><a :href="'mailto:' + this.offer.ponuda.poslovnaJedinica.email">{{this.offer.ponuda.poslovnaJedinica.email}}</a></p>

              <a v-if="this.offer.ponuda.poslovnaJedinica.web" :href="this.offer.ponuda.poslovnaJedinica.web | cleanURL" target="_new">{{this.offer.ponuda.poslovnaJedinica.web}}</a>
            </div>
            <div v-else class="siviKvadrat">
              <p>{{this.offer.ponuda.poslovniSubjekt.adresa}}, {{this.offer.ponuda.poslovniSubjekt.mjesto}}</p>
              <p>{{this.offer.ponuda.poslovniSubjekt.telefon}}</p>
              <p><a :href="'mailto:' + this.offer.ponuda.poslovniSubjekt.email">{{this.offer.ponuda.poslovniSubjekt.email}}</a></p>
              <a v-if="this.offer.ponuda.poslovniSubjekt.web" :href="this.offer.ponuda.poslovniSubjekt.web | cleanURL" target="_new">{{this.offer.ponuda.poslovniSubjekt.web}}</a>
            </div>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <!-- GOOGLE MAP -->
            <GmapMap :center="center" :zoom="15" style="width: 100%; height: 500px">
              <GmapMarker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.position"
                :clickable="true"
                :draggable="true"
                @click="center=m.position"
              />
            </GmapMap>
          </b-col>
        </b-row>

        <b-row class="py-4">
          <b-col sm="6" md="3" lg="2" v-for="image in offer.slikePonude" class="dodatne-fotke">
            <img :src="image.putanjaSlike" :key="image.id" v-b-modal.photo-modal @click="photoModal(image.putanjaSlike)" />
          </b-col>

          <b-modal no-stacking id="photo-modal" size="lg">
            <div class="photo-modal-content">
              <img :src="this.getPhotoSrc()">
            </div>
          </b-modal>
        </b-row>

        <b-row class="py-4 gumbi" v-if="this.offer.ponuda.status == 'AKTIVNA'">
          <b-col>
            <!-- <p class="pb-0">Podijeli ovu ponudu na društvenim mrežama:</p> -->
          <!--   media=baseUrl + "/uploads/e7a5e0e7-4699-4a88-9200-fe51eb1cfd9e_undefined.jpeg" -->
            <social-sharing
              class="gumbi"
    
              :url="'http://tjedanodmoravrijedan.hr/HTZ-B2B/pregled-ponude/' + this.offer.ponuda.id"
              :title="this.offer.ponuda.poslovniSubjekt.naziv"
              :description="this.offer.ponuda.napomena"
              :quote="this.offer.ponuda.opisPonude"
              hashtags="htz, tjedanodmoravrijedan"
              twitter-user="vuejs"
              inline-template
            >
              <div>
                <network network="facebook">
                  <b-button id="cta-facebook" class="mr-3">
                    <img class="face" src="@/assets/fb_logo2.svg" />
                    Podijeli na Facebooku
                  </b-button>
                </network>

                <network network="twitter">
                  <b-button id="cta-twitter">
                    <img class="tw" src="@/assets/tw_logo.svg" />
                    Podijeli na Twitteru
                  </b-button>
                </network>
              </div>
            </social-sharing>
          </b-col>
        </b-row>
        <!-- <b-row>
          <button type="button" @click="getDoc()">Skini dokument porezne potvrde</button>
        </b-row> -->
        <b-row>
          <b-col>
            <b-button @click="goTo('../ponude')" block class="plavi-gumb m-0 mt-3">Povratak</b-button>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>
<script>
// @ is an alias to /src
import axios from "axios";
import SlikaPregledPonude from "@/components/carousel/SlikaPregledPonude.vue";

export default {
  name: "home",
  components: {
    SlikaPregledPonude
  },
  data() {
    return {
      photoModalSrc: '',
      center: {
        lat: 45.814464,
        lng: 15.98286
      },
      markers: [
        {
          position: {
            lat: 45.814464,
            lng: 15.98286
          }
        }
      ],
      loadMap: false,
      porezniDokument: null,
      offer: {
        ponuda: {
          poslovniSubjekt: {
            naziv: "",
            naziv: "",
            adresa: "",
            telefon: "",
            email: "",
            web: "",
            latitude: "",
            longitude: ""
          },
          poslovnaJedinica: {
            naziv: "",
            latitude: "",
            longitude: ""
          },
          status: ""
        },
        glavna: {
          putanjaSlike: ""
        }
      },
      slikePonude: {}
    };
  },
  filters: {
    cleanURL(url = "") {
      let newUrl = window.decodeURIComponent(url);
      newUrl = newUrl.trim().replace(/\s/g, "");

      if(/^(:\/\/)/.test(newUrl)){
          return `https${newUrl}`;
      }
      
      if(!/^(f|ht)tps?:\/\//i.test(newUrl)){
          return `https://${newUrl}`;
      }

      return newUrl;
    }
  },
  methods: {
    goTo(pageName) {
      this.$router.push(pageName);
    },
    //  getPorezniDok() {
    //   let token = localStorage.getItem("token");
    //   let idOffer = this.$route.params.id;
    //   debugger
    //   axios({
    //     method: "GET",
    //     url: baseUrl + "/api/ponuda/porezna-potvrda/" + idOffer,
    //     headers: {
    //       Authorization: "Bearer " + token
    //     }
    //   })
    //     .then(response => {
    //       this.porezniDokument = response.data;
    //       console.log(this.porezniDokument)
    //     })
    //     .catch(error => {
    //       console.log(error);
    //       this.$router.push("/prijava");
    //     });
    // },
    photoModal(imgURL) {
      //this.photoModalState = true;
      this.photoModalSrc = imgURL;

    },
    getPhotoSrc() {
      return this.photoModalSrc;
    },
    getPonude() {
      let token = localStorage.getItem("token");
      let idOffer = this.$route.params.id;
      
      axios({
        method: "GET",
        url: this.$store.state.baseUrl + "/api/ponuda/" + idOffer,
        headers: {
          Authorization: "Bearer " + token
        }
      })
        .then(response => {
          this.offer = response.data;
          if (response.data.ponuda.poslovnaJedinica) {
            this.center.lat = Number(
              response.data.ponuda.poslovnaJedinica.latitude
            );
            this.center.lng = Number(
              response.data.ponuda.poslovnaJedinica.longitude
            );
            this.markers[0].position.lat = Number(
              response.data.ponuda.poslovnaJedinica.latitude
            );
            this.markers[0].position.lng = Number(
              response.data.ponuda.poslovnaJedinica.longitude
            );
            this.loadMap = true;
          } else {
            this.center.lat = Number(
              response.data.ponuda.poslovniSubjekt.latitude
            );
            this.center.lng = Number(
              response.data.ponuda.poslovniSubjekt.longitude
            );
            this.markers[0].position.lat = Number(
              response.data.ponuda.poslovniSubjekt.latitude
            );
            this.markers[0].position.lng = Number(
              response.data.ponuda.poslovniSubjekt.longitude
            );
            this.loadMap = true;
          }
          
        })
        .catch(error => {
          console.log(error);
          this.$router.push("/prijava");
        });
    },
    getDoc() {
      let token = localStorage.getItem("token");
      let idOffer = this.$route.params.id;
    
      axios({
        method: "GET",
        url:
          this.$store.state.baseUrl + "/api/ponuda/porezna-potvrda/" +
          idOffer,
        responseType: "blob",
        headers: {
          Authorization: "Bearer " + token
        }
      })
        .then(response => {
          console.log("Document porezna:");
          console.log(response);
          var fileURL = window.URL.createObjectURL(new Blob([response.data]));

          var fileLink = document.createElement("a");

          fileLink.href = fileURL;

          fileLink.setAttribute("download", "file.pdf");

          document.body.appendChild(fileLink);

          fileLink.click();
        })
        .catch(error => {
          console.log(error);
        });
    },
    googleMaps() {
      this.map = new window.google.maps.Map(this.$refs["map"], {
        center: { lat: this.lat, lng: this.lng },
        zoom: 15
      });
      new window.google.maps.Marker({
        position: { lat: this.lat, lng: this.lng },
        map: this.map
      });
    }
  },
  created() {
    window.scrollTo(0, 0);
    this.getPonude();
  },
  metaInfo: {
    title: "HTZ - Tjedan Odmora Vrijedan - Pregled ponude",
    meta: [
      // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
      // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
      {
        name: "description",
        content: "Tu je pregled ponuda za HTZ - Tjedan Odmora Vrijedan"
      },
      {
        name: "keywords",
        content: "htz, Tjedan odmora vrijedan, turizam, 2020"
      },
      { name: "og:description", content: "sfsdfsdf sdfsd" }
    ]
  }
};
</script>
<style lang="scss" scoped>
$siva: #e5e5e5;
$sivatext: #9c9c9c;
$plava: #00386c;
$svjetlo-plava: #1da1f2;

.mainPhoto {
  width: 100%;
  height: 600px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
//MAPA
#map {
  height: 600px;
  background: gray;
}
.content {
  text-align: left;
  font-size: 1.1rem;

  .siviKvadrat {
    font-size: 14px;
    background: $siva;
    padding: 2rem;

    p {
      margin-bottom: 0;
      padding-bottom: 0.6rem;
    }
  }

  .lijevoSivi {
    color: $sivatext;
    font-size: 0.8rem;
  }

  hr {
    border-top: 10px solid #00386c;
    margin-top: 0;
  }

  .dodatne-fotke {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .dodatne-fotke img {
    margin: 2px;
    flex: 1 1 20%;
    max-width: 200px;
    min-width: 150px;
    max-height: 139px;
    cursor: pointer;
    border: 2px solid #fff;
  }

  .dodatne-fotke img:hover {
    border-color: #00386C
  }


  .gumbi {
    .btn {
      border-color: none;
    }

    .face {
      height: 16px;
      padding-right: 0.3rem;
    }

    .tw {
      height: 13px;
      padding-right: 0.3rem;
    }
  }

  #face_bg {
    background: $plava;
  }

  #tw_bg {
    background: $svjetlo-plava;
  }
}

@media only screen and (max-width: 500px) {
  .dodatne-fotke img[data-v-422af4c2] {
    height: 100px;
    margin-left: 2px;
  }
}


</style>