<template>
    <div id="userBkg">
        <b-col id="userBox" class="mx-auto" lg="6" sm="8">
            <h2>Dobro došli Adria camping!</h2>
            <p class="text-center">Odabir opcija</p>
            <b-row>
                <b-col class="text-center px-3 py-4 pointer" lg="4" v-b-modal.modal-multi-3>
                    <img src="@/assets/Ponude_odabir.svg" />
                    <br>
                    <hr>
                    <h5>PONUDE</h5>
                </b-col>
                <b-col class="text-center px-3 py-4 pointer" lg="4" v-b-modal.modal-multi-4>
                    <img src="@/assets/Podaci_odabir.svg" />
                    <br>
                    <hr>
                    <h5>PODACI O SUBJEKTU</h5>
                </b-col>
                <b-col class="text-center px-3 py-4 pointer" lg="4" v-b-modal.modal-multi-5>
                    <img src="@/assets/Kontakt_odabir.svg" />
                    <br>
                    <hr>
                    <h5>KONTAKT PODACI</h5>
                </b-col>
            </b-row>
       
        </b-col>
    </div>
</template>
<script>
export default {
    name: 'PrijavaLoginUspjeh',
    props: {
        msg: String
    },
    components: {},

    data() {
        return {
            form: {
                email: '',
                name: '',
            },
            show: true
        }
    },
    methods: {
       
     
    }
}
</script>
<style scoped>
.pointer {
    cursor: pointer;
}
</style>