<template>
    <div id="userBkg">
        <b-col class="mx-auto" sm="12" md="10" lg="6">
            <div id="userBox" class="unprotected" v-if="error == true">
                <h4 class="danger">
                    Neuspjela prijava
                </h4>
                <h5 class="neuspjela">Molimo provjerite jeste li aktivirali svoj račun klikom na poveznicu POTVRDI E-MAIL ADRESU u poslanoj potvrdi registracije. Ako je vaš račun aktiviran, provjerite jeste li ispravno unijeli svoj e-mail i zaporku.</h5>
                <div>
                    <b-button class="crveni-gumb w-50 mb-10" type="submit" @click="error = false">Pokušajte ponovo
                    </b-button>
                    <br>
                    <br>
                    <a class="zaboravili-sifru" @click="passwordReset = true, error = false">Zaboravili ste lozinku?</a>
                </div>
            </div>
            <!--=====================================
      =            OBNOVITE LOZINKU          =
      ======================================-->
            <div id="userBox" class="unprotected" v-else-if="passwordReset == true">
                <h4>Zaboravljena zaporka</h4>
                <p>Ovdje možete zatražiti novu zaporku. Na vašu email adresu poslat ćemo poveznicu za obnavljanje zaporke. Potrebno je par minuta da poveznica stigne u vaš pretinac.</p>
                <p>Ukoliko niste dobili email s poveznicom provjerite folder "Neželjena pošta" (en. spam) ili nam se javite na našu email adresu info@tjedanodmoravrijedan.hr.</p>
                <br>
                <b-form @submit.prevent="passReset()">
                    <b-form-group id="input-group-1" label="E-mail" label-for="input-1">
                        <b-form-input id="input-1" v-model="email" type="email" required
                                      placeholder="Upišite svoju email adresu"></b-form-input>
                    </b-form-group>
                    <b-button class="button-secondary" type="submit">Zatraži zaporku</b-button>
                    <b-button class="button-default" type="submit" @click="passwordReset = false">Povratak</b-button>
                </b-form>
            </div>
            <!--=====================================
      =            RESET PASSWORD            =
      ======================================-->
            <div id="userBox" class="unprotected" style="text-align: left;" v-else>
                <h4 class="mb-4">Prijava</h4>
                <b-form @submit.prevent="userLogin()">
                    <b-form-group id="input-group-1" label="E-mail" label-for="input-1">
                        <b-form-input id="input-1" v-model="email" type="email" required
                                      placeholder="Upišite svoju e-mail adresu"
                                      oninvalid="this.setCustomValidity('Molimo unesite svoj e-mail')"></b-form-input>
                    </b-form-group>
                    <b-form-group id="input-group-2" label="Zaporka" label-for="input-2">
                        <b-form-input id="input-2" v-model="password" type="password" required
                                      placeholder="Upišite svoju zaporku"
                                      oninvalid="this.setCustomValidity('Molimo unesite svoju zaporku')"></b-form-input>
                    </b-form-group>
                    <b-button class="button-secondary w-100" type="submit" variant="primary" style="margin-top: 1rem">Prijava</b-button>
                </b-form>
                <hr style="height: 1px; border-color: #bababa; margin-top: 3rem">
                <p style="text-align: center; margin-top: 2rem;">
                    <a v-b-modal.modal-multi-11 href="#">
                        <strong>Kreiraj korisnički račun</strong>
                    </a>
                    &nbsp; &nbsp;
                    <a href="#" class="zaboravili-sifru" @click="passwordReset = true">
                        <strong>Zaboravili ste zaporku?</strong>
                    </a>
                </p>

            </div>
        </b-col>
    </div>
</template>
<script>
    import axios from 'axios'

    export default {
        name: "Prijava",
        props: {
            msg: String
        },
        data() {
            return {
                email: "",
                password: "",
                error: false,
                passwordReset: false

            };
        },
        mounted() {
            //debugger;
            let token = this.$route.query.token
            let id = this.$route.query.id
            console.log(this.$route.query.token)

            if (token && id) {
                this.passwordConfirm(id,token)
            }

            if (token && (id == undefined || id == null)) {
                this.userRegister(token)
            }

                   this.$ga.page({
              path: this.$router.path,
              name: this.$router.name,
              location: window.location.href
            });
        },
        methods: {
            userRegister(token) {
                axios({
                    method: 'GET',
                    url: this.$store.state.baseUrl + '/registration-confirm?token=' + token
                })
                    .then(response => {
                        console.log(response);
                        this.$bvModal.show('modal-confirmation');
                        this.$router.push("/prijava");
                    })
                    .catch(error => {
                        //TODO error handling
                        console.log(error);
                        this.error = true;
                    })

            },
            userLogin() {
                axios({
                    method: 'post',
                    url: this.$store.state.baseUrl + '/authenticate',
                    data: {
                        "email": this.email,
                        "password": this.password
                    }
                })
                    .then(response => {
                        console.log(response);
                        this.$store.commit('setToken', response.data.token);
                        localStorage.setItem('token', response.data.token);

                        this.$router.push("/dashboard");
                        location.reload()

                    })
                    .catch(error => {
                        console.log(error);
                        this.error = true;
                    })

            },

            passReset() {
                const dataForm = new FormData();
                dataForm.append('email', this.email);
                axios({
                    method: 'post',
                    url: this.$store.state.baseUrl + '/password-reset',
                    data: {
                        email: this.email,
                    }
                }).then(response => {
                    alert(response.data)
                    this.$router.push("/prijava");
                    location.reload();

                }).catch(error => {
                    alert(error.response.data.message)
                    })
            },

            passwordConfirm(id,token) {
                //debugger;
                axios({
                    method: 'GET',
                    url: this.$store.state.baseUrl + '/password-confirm?id=' + id + '&token=' + token
                })
                    .then(response => {
                        console.log(response);
                        this.$bvModal.show('modal-pass');
                        this.$router.push("/prijava");
                    })
                    .catch(error => {
                        alert(error.response.data.message)
                        this.$router.push("/prijava");
                    })
            },
        }
    };
</script>
<style>
    .danger {
        color: #CF1F25;
        padding: 5px;
        width: 60%;
        margin: auto;

    }


    .neuspjela {
        width: 50%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .button-secondary {
        background-color: #00386c;
        color: white;
        transition: 0.1s ease-in;
        font-weight: 900;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        outline: none;
        max-width: 200px;
        padding: 0.75rem;
    }

    .button-secondary:hover {
        background-color: #CF1F25;
        border-color: #CF1F25;
    }

    .button-default {
        background-color: #eaeaea;
        border-color: #eaeaea;
        color: #212121;
        transition: 0.1s ease-in;
        font-weight: 900;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        outline: none;
        max-width: 200px;
        padding: 0.75rem;
    }

    .button-default:hover {
        background-color: #dadada;
        border-color: #dadada;
        color: #212121;
    }


    #userBkg {
       padding: 30vh 0;
        background-image: url("~@/assets/slider1-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
       /* height: 100%;*/
    }

    #userBox {
        background-color: white;
        padding: 40px;
        border-radius: 5px;
        text-align: left;
    }

    #userBox input {
        padding: .75rem;
        height: auto;
        font-size: 1.2rem;
        color: #212121;
        border-color: #b5b5b5;
        border-radius: 0;
    }

    .zaboravili-sifru {
        cursor: pointer;

    }

</style>