<template>
  <div id="app">
    <Header/>

    <router-view/>
    <Footer/>
  </div>

</template>

<script>
  import Header from '@/components/Header.vue'
  import Footer from '@/components/Footer.vue'

  export default {
    name: 'app',
    components: {
      Header,
      Footer
    }
  }

</script>
<style lang="scss">
  @import "/styles/_variables.scss";
  @import "@/styles/htz-style-form.scss";

  #app {
    // font-family: 'Avenir', Helvetica, Arial, sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    text-align: center;

    // color: $primary;
  }
  #nav {
    padding: 30px;
    a {
      font-weight: bold;
      color: #2c3e50;
      &.router-link-exact-active {
        color: #fff;
      }
    }
  }

</style>