<template>
  <div class="waitingHolder">
    <div class="catHolder">
      <!--  @click="loadOffers(category)" -->
      <a
        @click="GetCat(index, category)"
        v-for="(category, index) in categories"
        v-bind:key="index++"
        class="catSingle"
        :id="'cat' + category.catID"
        :class="{ isActive: active_category === category.catID }"
      >
        <img
          :class="'catBorder cat' + category.catID"
          :src="category.imageName"
        />
        <span>{{ category.categoryName }}</span>
      </a>
    </div>
    <!--      <div class="filter-location">
          
            <div class="filter-location__search">
                <input v-on:keyup.enter="search" v-model="searchKey" type="text" placeholder="Pretraži ..." />
                <button @click="search" v-if="searchIsActive === false">
                    <svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6666 18.0857L11.6666 17.1593L11.9862 16.8373C13.3127 17.9748 15.0324 18.6667 16.9166 18.6667C21.1049 18.6667 24.4999 15.2717 24.4999 11.0833C24.4999 6.895 21.1049 3.5 16.9166 3.5C12.7282 3.5 9.33325 6.895 9.33325 11.0833C9.33325 12.9675 10.0239 14.686 11.1602 16.0125L10.8406 16.3345L9.91658 16.3345L4.09375 22.1655L5.83325 23.905L11.6666 18.0857ZM11.6666 11.0833C11.6666 8.183 14.0162 5.83333 16.9166 5.83333C19.8157 5.83333 22.1666 8.183 22.1666 11.0833C22.1666 13.9825 19.8157 16.3333 16.9166 16.3333C14.0162 16.3333 11.6666 13.9825 11.6666 11.0833Z" fill="currentColor" />
                    </svg>
                </button>
                <button @click="resetSearch" v-if="searchIsActive === true">
                    <svg width="22" height="21" viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.11308 16H13.5939C15.4215 16 16.3535 15.0771 16.3535 13.2678V2.72302C16.3535 0.922901 15.4215 0 13.5939 0H3.11308C1.28555 0 0.353516 0.913764 0.353516 2.72302V13.2678C0.353516 15.0771 1.28555 16 3.11308 16ZM3.16791 14.4923C2.32724 14.4923 1.86123 14.0445 1.86123 13.1673V2.82353C1.86123 1.94632 2.32724 1.50771 3.16791 1.50771H13.5391C14.3706 1.50771 14.8458 1.94632 14.8458 2.82353V13.1673C14.8458 14.0445 14.3706 14.4923 13.5391 14.4923H3.16791ZM5.44318 11.6413C5.64421 11.6413 5.82696 11.5682 5.95489 11.422L8.34895 9.01885L10.7521 11.422C10.8892 11.5591 11.0628 11.6413 11.273 11.6413C11.675 11.6413 12.004 11.3124 12.004 10.9103C12.004 10.7093 11.9218 10.5357 11.7847 10.3986L9.3815 7.99543L11.7938 5.5831C11.94 5.42776 12.0131 5.27242 12.0131 5.07139C12.0131 4.66933 11.6842 4.34951 11.2821 4.34951C11.0902 4.34951 10.9349 4.42262 10.7796 4.57796L8.34895 6.98115L5.94575 4.57796C5.80868 4.44089 5.64421 4.36779 5.44318 4.36779C5.03198 4.36779 4.71217 4.67847 4.71217 5.08053C4.71217 5.28155 4.79441 5.45517 4.93147 5.59223L7.33467 7.99543L4.93147 10.4078C4.79441 10.5357 4.71217 10.7184 4.71217 10.9103C4.71217 11.3124 5.03198 11.6413 5.44318 11.6413Z" fill="currentColor" />
                    </svg>
                </button>
            </div>
           
        </div> -->
    <div v-if="offers.length > 0" class="offerHolder">
      <form id="searchOffers" @submit.prevent="submitSearchField">
        <input
          style="margin-top: 30px"
          class="form-control sreach-input-field"
          type="text"
          placeholder="Upišite pojam za pretraživanje ponuda.... "
          v-model="searchString"
        />
        <input
          style="margin-top: 30px"
          class="form-control search-submit-button"
          type="submit"
          value="Pretraži"
        />
      </form>
      <div class="offer" v-for="offer in offers" v-bind:key="offer.id">
        <div class="imageHolder">
          <img
            :src="'/B2B/images/icons/icon-c-cat' + offer.kategorija.id + '.svg'"
          />
          <img :src="offer.slikaGlavna.putanjaSlike" />
          <p v-if="offer.podKategorija">{{ offer.podKategorija.naziv }}</p>
        </div>
        <div class="txtHolder">
          <h4 v-if="offer.poslovnaJedinica">
            {{ offer.poslovnaJedinica.naziv }}
          </h4>
          <h4 v-else>{{ offer.poslovniSubjekt.naziv }}</h4>
          <p>{{ offer.opisPonude }}</p>
        </div>
        <div class="buttonHolder">
          <a
            @click="
              goTo({ name: 'admin-pregled-ponude', params: { id: offer.id } })
            "
            class="offerBtn blue"
            >POGLEDAJ ONLINE</a
          >
          <a @click="unpublish(offer.id)" class="offerBtn lightBlue"
            >UKLONI PONUDU</a
          >
        </div>
      </div>
      <!-- paginacija -->
      <div v-if="pagesTotal.length > 1" class="pagination py-5">
        <!--  <a href="#">&laquo;</a> -->
        <div class="flexRow">
          <a
            :class="{ active: activeIndex === index }"
            :key="index++"
            @click="pagination($event, index)"
            v-for="(page, index) in pagesTotal"
            >{{ page }}</a
          >
        </div>
      </div>
    </div>
    <div v-else class="offerHolder">
      <h2 style="margin: 40px 0; height: 50vh">Nema ponuda</h2>
    </div>
  </div>
</template>
<script>
import PregledPonudeAdmin from "@/components/admin/PregledPonudeAdmin.vue";
import axios from "axios";
export default {
  name: "AdminOffers",
  components: {
    PregledPonudeAdmin,
  },
  props: {},
  data() {
    return {
      searchString: "",
      searchKey: "",
      searchIsActive: false,
      trueKey: false,
      trueOffers: false,
      pagesTotal: "",
      activeIndex: 1,
      isActive: true,
      pagesTotal: "",
      offers: [],
      posJedName: "",
      active_category: 0,
      categories: [
        {
          categoryName: "Smještaj",
          imageName: require("@/assets/smjestaj.svg"),
          catID: 1,
        },
        {
          categoryName: "Hrana i piće",
          imageName: require("@/assets/hrana.svg"),
          catID: 2,
        },
        {
          categoryName: "Kulturne atrakcije",
          imageName: require("@/assets/kultura.svg"),
          catID: 3,
        },
        {
          categoryName: "Aktivni odmor",
          imageName: require("@/assets/aktivni.svg"),
          catID: 4,
        },
        {
          categoryName: "Prirodne atrakcije",
          imageName: require("@/assets/priroda.svg"),
          catID: 5,
        },
        {
          categoryName: "Wellness i zdravlje",
          imageName: require("@/assets/zdravlje.svg"),
          catID: 6,
        },
        {
          categoryName: "Nautika",
          imageName: require("@/assets/nautika.svg"),
          catID: 7,
          subCat: [],
        },
        {
          categoryName: "Izleti",
          imageName: require("@/assets/izleti.svg"),
          catID: 8,
          subCat: [],
        },
        {
          categoryName: "Prijevoz",
          imageName: require("@/assets/prijevoz.svg"),
          catID: 9,
        },
        {
          categoryName: "Paket aranžmani",
          imageName: require("@/assets/paket.svg"),
          catID: 10,
          subCat: [],
        },
        {
          categoryName: "Ruralni turizam",
          imageName: require("@/assets/ruralni.svg"),
          catID: 11,
        },
        {
          categoryName: "Ostale Ponude",
          imageName: require("@/assets/ostala.svg"),
          catID: 12,
          subCat: [],
        },
      ],
    };
  },
  created() {
    this.loadAllOffers();
  },
  methods: {
    // resetSearch() {
    //     this.searchKey = "";
    //     this.search();
    //     this.searchIsActive = false;
    // },
    // search() {

    //     this.trueKey = true;
    //     this.searchIsActive = true;
    //     this.loadAllOffers();
    // },
    pagination(event, index) {
      this.activeIndex = index;
      this.loadAllOffers();
    },
    GetCat(index, category) {
      if (this.active_category === category.catID) {
        this.active_category = 0;
        this.trueOffers = false;
        this.indexCat = "";
      } else {
        this.active_category = category.catID;
        this.trueOffers = true;
        this.indexCat = index;
        this.loadAllOffers();
      }

      this.loadAllOffers();
    },
    loadAllOffers(category) {
      let params = new URLSearchParams();

      if (this.trueOffers) {
        params.append("kategorija", this.indexCat);
      }

      if (this.searchString) {
        params.append("searchKey", this.searchString);
      }

      if (this.activeIndex) {
        params.append("page", this.activeIndex);
      }

      let token = localStorage.getItem("token");
      axios({
        method: "GET",
        url: this.$store.state.baseUrl + "/admin/api/ponuda/odobrene?" + params,
        headers: {
          Authorization: "Bearer " + token,
        },
      })
        .then((response) => {
          console.log(response);
          this.offers = response.data.content;
          this.pagesTotal = Array.from(Array(response.data.totalPages)).map(
            (e, i) => i + 1
          );
        })
        .catch((error) => {
          console.log(error);
          this.$bvModal.show("modal-error");
        });
    },
    goTo(pageName) {
      this.$router.push(pageName);
    },
    unpublish(id) {
      if (confirm("Jeste li sigurni da želite obrisati ponudu?")) {
        let token = localStorage.getItem("token");

        axios({
          method: "POST",
          url: this.$store.state.baseUrl + "/admin/api/ponuda/unpublish",
          data: {
            ponudaId: id,
          },
          headers: {
            Authorization: "Bearer " + token,
          },
        })
          .then((response) => {
            console.log(response);

            this.$bvModal.show("modal-deleted");
            //location.reload();
            this.offers = response.data.content;
            this.loadAllOffers();
          })
          .catch((error) => {
            console.log(error);
            this.$bvModal.show("modal-error");
            this.login = false;
          });
      }
    },
    submitSearchField() {
      this.loadAllOffers();
    },
  },
};
</script>
<style lang="scss" scoped>
//CLIENT FILTER LOCATION
$plava: #00386c;

.filter-location {
  // background-color: $plava;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  // padding: 1rem;
  margin: 0;
  width: 100%;
}

.filter-location__region {
  flex: 0 0 100%;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
}

.filter-location__search {
  flex: 0 0 100%;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .filter-location {
    flex-wrap: nowrap;
  }

  .filter-location__region,
  .filter-location__search {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0.5rem 1rem;
  }
}

.filter-location__region select {
  width: 100%;
  max-width: 100%;
  background: #fff url("~@/assets/ArrowSvg2.svg") no-repeat right;
  background-size: 35px;
  //   border: 1px solid #b5b5b5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  padding: 10px 15px;
  -webkit-appearance: none;
  border-radius: 3px;
  color: #35495e;
  border-radius: 0;
  border: 0;
}

.filter-location__search input {
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 16px;
  width: 100%;
  border: 0;
}

.filter-location__search button {
  border: 0;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: none;
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #00386c;
  outline: none;
  transition: 0.4s color ease-in;
  background: none;
}

.filter-location__search button:hover {
  color: #cf1f25;
}

.filter-location__search button svg {
  fill: currentColor;
}

.filter-location__search ::placeholder {
  color: #35495e;
  font-weight: 400;
}

/*PAGINACIJA*/

.pagination {
  width: 100%;
}

.flexRow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a.active {
  background-color: #00386c;
  color: white;
}

/**/

.offerBtn {
  display: block;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.offerBtn.green {
  background-color: #05a701;
  color: white !important;
}

.offerBtn.orange {
  background-color: rgba(255, 122, 0, 0.3);
  color: #ff7a00 !important;
  border: 2px solid #ff7a00;
  box-sizing: border-box;
}

.offerBtn.blue {
  background-color: #00386c;
  color: white !important;
}

.offerBtn.lightBlue {
  color: #00386c !important;
  border: 2px solid #00386c;
  box-sizing: border-box;
}

.offerBtn:hover {
  opacity: 0.8;
}

.txtHolder {
  width: 58%;
  text-align: left;
}

.txtHolder.big {
  width: 78%;
  text-align: left;
}

.txtHolder h4 {
  font-size: 16px;
}

.txtHolder p {
  font-size: 12px;
  line-height: 1.2;
}

.imgHolder {
  width: 20%;
}

.buttonHolder {
  width: 20%;
}

.imageHolder p {
  font-size: 0.7rem;
  text-align: left;
  background: #00386c;
  color: #fff;
  padding: 0.4rem;
}

.imageHolder img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.offer {
  width: 100%;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-top: 10px;
}

.offer:first-of-type {
  margin-top: 25px;
}

.offer:last-of-type {
  margin-bottom: 50px;
}

.catHolder {
  display: flex;
  flex-wrap: wrap;
}

.catSingle {
  display: inline-block;
  width: 8.333%;
  min-width: 60px;
  cursor: pointer;
  padding: 0 0.2rem;
  text-transform: uppercase;
  transition: 0.4s ease-in;
}

.catSingle img {
  width: 100%;
}

.catSingle span {
  display: block;
  font-size: 11px !important;
  padding: 10px;
  line-height: 1.2;
}

.catBorder {
  border-bottom: 5px solid;
  box-sizing: border-box;
}

.cat1 {
  border-color: #cb2422;
}

.cat2 {
  border-color: #d26b13;
}

.cat3 {
  border-color: #fac401;
}

.cat4 {
  border-color: #afc624;
}

.cat5 {
  border-color: #829427;
}

.cat6 {
  border-color: #43b17a;
}

.cat7 {
  border-color: #419cd6;
}

.cat8 {
  border-color: #283476;
}

.cat9 {
  border-color: #55d6ff;
}

.cat10 {
  border-color: #a8529a;
}

.cat11 {
  border-color: #e84490;
}

.cat12 {
  border-color: #dcdcdc;
}

.isActive span {
  color: #ffffff;
}

.isActive img {
  filter: brightness(5) grayscale(1) contrast(2);
  transition: 0.14s;
}

#cat1.isActive {
  background-color: #cb2422;
}

#cat2.isActive {
  background-color: #d26b13;
}

#cat3.isActive {
  background-color: #fac401;
}

#cat4.isActive {
  background-color: #afc624;
}

#cat5.isActive {
  background-color: #829427;
}

#cat6.isActive {
  background-color: #43b17a;
}

#cat7.isActive {
  background-color: #419cd6;
}

#cat8.isActive {
  background-color: #283476;
}

#cat9.isActive {
  background-color: #55d6ff;
}

#cat10.isActive {
  background-color: #a8529a;
}

#cat11.isActive {
  background-color: #e84490;
}

#cat12.isActive {
  background-color: #aaa;
}

@media (min-width: 767px) and (max-width: 1100px) {
  .catSingle {
    width: 16%;
  }
}

@media (max-width: 767px) {
  .catSingle {
    width: 25%;
  }
}
</style>