<template>
  <div class="waitingHolder">
    <!-- class="catBorder" -->
    <div class="catHolder">
      <a
        @click="GetCat(index, category)"
        v-for="(category, index) in categories"
        v-bind:key="index++"
        class="catSingle"
        :id="'cat' + category.catID"
        :class="{ isActive: active_category === category.catID }"
      >
        <img
          :class="'catBorder cat' + category.catID"
          :src="category.imageName"
        />
        <span>{{ category.categoryName }}</span>
      </a>
    </div>
    <div v-if="offers" class="offerHolder">
      <form id="searchOffers" @submit.prevent="submitSearchField">
        <input
          style="margin-top: 30px"
          class="form-control sreach-input-field"
          type="text"
          placeholder="Upišite pojam za pretraživanje ponuda.... "
          v-model="searchString"
        />
        <input
          style="margin-top: 30px"
          class="form-control search-submit-button"
          type="submit"
          value="Pretraži"
        />
      </form>
      <div v-for="offer in offers" v-bind:key="offer.id" class="offer">
        <div class="imageHolder">
          <img
            :src="'/B2B/images/icons/icon-c-cat' + offer.kategorija.id + '.svg'"
          />
          <img :src="offer.slikaGlavna.putanjaSlike" />
          <p v-if="offer.podKategorija">{{ offer.podKategorija.naziv }}</p>
        </div>
        <div class="txtHolder">
          <h4 v-if="offer.poslovnaJedinica">
            {{ offer.poslovnaJedinica.naziv }}
          </h4>
          <h4 v-else>{{ offer.poslovniSubjekt.naziv }}</h4>
          <p>{{ offer.opisPonude }}</p>
        </div>
        <div class="buttonHolder">
          <a @click="objaviPonudu(offer.id)" class="offerBtn green"
            >OBJAVI PONUDU</a
          >
          <a
            v-b-modal.modal-offer-dorada
            @click="doradaInfo.offerId = offer.id"
            class="offerBtn orange"
            >ZATRAŽI DORADE</a
          >
          <a @click="unpublish(offer.id)" class="offerBtn lightBlue"
            >UKLONI PONUDU</a
          >
          <a
            @click="
              goTo({ name: 'admin-pregled-ponude', params: { id: offer.id } })
            "
            class="offerBtn blue"
            >POGLEDAJ ONLINE</a
          >
        </div>
      </div>
      <!-- paginacija -->

      <div v-if="pagesTotal.length > 1" class="pagination py-5">
        <!--  <a href="#">&laquo;</a> -->
        <div class="flexRow">
          <a
            :class="{ active: activeIndex === index }"
            :key="index++"
            @click="pagination($event, index)"
            v-for="(page, index) in pagesTotal"
            >{{ page }}</a
          >
        </div>
      </div>
    </div>
    <div v-else class="offerHolder">
      <h2 style="margin: 40px 0">Nema ponuda na čekanju!</h2>
    </div>
    <b-modal no-stacking id="modal-offer-dorada" size="lg">
      <div class="zatraziDorade">
        <label>Upute za doradu ponude</label>
        <textarea rows="4" cols="50" v-model="doradaInfo.text"></textarea>
        <button @click="setOfferToDorada">Zatraži dorade</button>
        <button @click="$bvModal.hide('modal-offer-dorada')">Natrag</button>
      </div>
    </b-modal>
  </div>
</template>
<script>
import axios from "axios";
import IzmjenaPonude from "@/components/user/IzmjenaPonude.vue";
import PregledPonudeAdmin from "@/components/admin/PregledPonudeAdmin.vue";
export default {
  name: "AdminWaiting",
  components: {
    IzmjenaPonude,
    PregledPonudeAdmin,
  },
  props: {},
  data() {
    return {
      searchString: "",
      pagesTotal: "",
      activeIndex: 1,
      isActive: true,
      pages: ["1", "2"],
      offers: [],
      stats: {},
      active_category: 0,
      doradaInfo: {
        offerId: 0,
        text: "",
      },
      categories: [
        {
          categoryName: "Smještaj",
          imageName: require("@/assets/smjestaj.svg"),
          catID: 1,
        },
        {
          categoryName: "Hrana i piće",
          imageName: require("@/assets/hrana.svg"),
          catID: 2,
        },
        {
          categoryName: "Kulturne atrakcije",
          imageName: require("@/assets/kultura.svg"),
          catID: 3,
        },
        {
          categoryName: "Aktivni odmor",
          imageName: require("@/assets/aktivni.svg"),
          catID: 4,
        },
        {
          categoryName: "Prirodne atrakcije",
          imageName: require("@/assets/priroda.svg"),
          catID: 5,
        },
        {
          categoryName: "Wellness i zdravlje",
          imageName: require("@/assets/zdravlje.svg"),
          catID: 6,
        },
        {
          categoryName: "Nautika",
          imageName: require("@/assets/nautika.svg"),
          catID: 7,
          subCat: [],
        },
        {
          categoryName: "Izleti",
          imageName: require("@/assets/izleti.svg"),
          catID: 8,
          subCat: [],
        },
        {
          categoryName: "Prijevoz",
          imageName: require("@/assets/prijevoz.svg"),
          catID: 9,
        },
        {
          categoryName: "Paket aranžmani",
          imageName: require("@/assets/paket.svg"),
          catID: 10,
          subCat: [],
        },
        {
          categoryName: "Ruralni turizam",
          imageName: require("@/assets/ruralni.svg"),
          catID: 11,
        },
        {
          categoryName: "Ostale Ponude",
          imageName: require("@/assets/ostala.svg"),
          catID: 12,
          subCat: [],
        },
      ],
    };
  },
  beforeMount() {
    this.loadAllOffers();
  },
  methods: {
    pagination(event, index) {
      this.activeIndex = index;
      this.loadAllOffers();
    },
    objaviPonudu(id) {
      if (confirm("Jeste li sigurni da želite objaviti ponudu?")) {
        let token = localStorage.getItem("token");
        axios({
          method: "POST",
          url: this.$store.state.baseUrl + "/admin/api/ponuda/publish",
          data: {
            ponudaId: id,
          },
          headers: {
            Authorization: "Bearer " + token,
          },
        })
          .then((response) => {
            location.reload();
            this.$bvModal.show("modal-ok");
            this.loadAllOffers();
          })
          .catch((error) => {
            //console.log(error);
            this.$bvModal.show("modal-error");
          });
      }
    },
    GetCat(index, category) {
      if (this.active_category === category.catID) {
        this.active_category = 0;
        this.trueOffers = false;
        this.indexCat = "";
      } else {
        this.active_category = category.catID;
        this.trueOffers = true;
        this.indexCat = index;
        this.loadAllOffers();
      }

      this.loadAllOffers();
    },
    loadAllOffers(category) {
      let params = new URLSearchParams();

      if (this.trueOffers) {
        params.append("kategorija", this.indexCat);
      }

      if (this.searchString) {
        params.append("searchKey", this.searchString);
      }

      if (this.activeIndex) {
        params.append("page", this.activeIndex);
      }

      let token = localStorage.getItem("token");
      axios({
        method: "GET",
        url:
          this.$store.state.baseUrl +
          "/admin/api/ponuda/ceka-na-odobrenje?" +
          params,
        headers: {
          Authorization: "Bearer " + token,
        },
      })
        .then((response) => {
          console.log(response);
          this.offers = response.data.content;
          this.pagesTotal = Array.from(Array(response.data.totalPages)).map(
            (e, i) => i + 1
          );
        })
        .catch((error) => {
          console.log(error);
          this.$bvModal.show("modal-error");
        });
    },
    unpublish(id) {
      if (confirm("Jeste li sigurni da želite obrisati ponudu?")) {
        let token = localStorage.getItem("token");

        axios({
          method: "POST",
          url: this.$store.state.baseUrl + "/admin/api/ponuda/unpublish",
          data: {
            ponudaId: id,
          },
          headers: {
            Authorization: "Bearer " + token,
          },
        })
          .then((response) => {
            console.log(response);

            this.$bvModal.show("modal-deleted");
            //location.reload();
            this.offers = response.data.content;
            this.loadAllOffers();
          })
          .catch((error) => {
            console.log(error);
            this.$bvModal.show("modal-error");
            this.login = false;
          });
      }
    },
    setOfferToDorada() {
      let token = localStorage.getItem("token");
      if (this.doradaInfo.text != "") {
        axios({
          method: "POST",
          url: this.$store.state.baseUrl + "/admin/api/ponuda/zatrazi-dorade",
          data: {
            opis: this.doradaInfo.text,
            ponudaId: this.doradaInfo.offerId,
          },
          headers: {
            Authorization: "Bearer " + token,
          },
        })
          .then((response) => {
            this.offers = response.data.content;
            //debugger
            location.reload();
            this.$bvModal.show("modal-correction");
          })
          .catch((error) => {
            this.$bvModal.show("modal-error");
            this.login = false;
          });
      } else {
        this.$bvModal.show("modal-comment");
      }
    },
    goTo(pageName) {
      this.$router.push(pageName);
    },
    submitSearchField() {
      this.loadAllOffers();
    },
  },
};
</script>
<style lang="scss" scoped>
/*PAGINACIJA*/

.pagination {
  /* display: inline-block;
      margin: auto;*/
  width: 100%;
}
.flexRow {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.pagination a.active {
  background-color: #00386c;
  color: white;
}

.zatraziDorade {
  text-align: center;
  padding: 40px 0;

  label {
    text-align: left;
    width: 80%;
    color: #00386c;
    font-weight: bold;
  }

  textarea {
    display: block;
    width: 80%;
    margin-left: 10%;
  }

  button {
    margin-top: 40px;
    border: 1px solid #00386c;
    padding: 10px 20px;
    background-color: white;
    color: #00386c;
    width: 30%;
    text-transform: uppercase;
    font-weight: bold;

    &:first-of-type {
      background-color: #00386c;
      color: white;
    }
  }
}

.offerBtn {
  display: block;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.offerBtn.green {
  background-color: #05a701;
  color: white !important;
}

.offerBtn.orange {
  background-color: rgba(255, 122, 0, 0.3);
  color: #ff7a00 !important;
  border: 2px solid #ff7a00;
  box-sizing: border-box;
}

.offerBtn.blue {
  background-color: #00386c;
  color: white !important;
}

.offerBtn.lightBlue {
  color: #00386c !important;
  border: 2px solid #00386c;
  box-sizing: border-box;
}

.offerBtn:hover {
  opacity: 0.8;
}

.txtHolder {
  width: 58%;
  text-align: left;
}

.txtHolder.big {
  width: 78%;
  text-align: left;
}

.txtHolder h4 {
  font-size: 16px;
}

.txtHolder p {
  font-size: 12px;
  line-height: 1.2;
}

.imgHolder {
  width: 20%;
}

.buttonHolder {
  width: 20%;
}

.imageHolder p {
  font-size: 0.7rem;
  text-align: left;
  background: #00386c;
  color: #fff;
  padding: 0.4rem;
}

.imageHolder img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.offer {
  width: 100%;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-top: 10px;
}

.offer:first-of-type {
  margin-top: 25px;
}

.offer:last-of-type {
  margin-bottom: 50px;
}

.catHolder {
  display: flex;
  flex-wrap: wrap;
}

.catSingle {
  display: inline-block;
  width: 8.333%;
  min-width: 60px;
  cursor: pointer;
  padding: 0 0.2rem;
  text-transform: uppercase;
  transition: 0.4s ease-in;
}

.catSingle:hover {
  background-color: #eaeaea;
}

.catSingle img {
  width: 100%;
}

.catSingle span {
  display: block;
  font-size: 11px !important;
  padding: 10px;
  line-height: 1.2;
}

.catBorder {
  border-bottom: 5px solid;
  box-sizing: border-box;
}

.cat1 {
  border-color: #cb2422;
}

.cat2 {
  border-color: #d26b13;
}

.cat3 {
  border-color: #fac401;
}

.cat4 {
  border-color: #afc624;
}

.cat5 {
  border-color: #829427;
}

.cat6 {
  border-color: #43b17a;
}

.cat7 {
  border-color: #419cd6;
}

.cat8 {
  border-color: #283476;
}

.cat9 {
  border-color: #55d6ff;
}

.cat10 {
  border-color: #a8529a;
}

.cat11 {
  border-color: #e84490;
}

.cat12 {
  border-color: #dcdcdc;
}

.isActive span {
  color: #ffffff;
}

.isActive img {
  filter: brightness(5) grayscale(1) contrast(2);
  transition: 0.14s;
}

#cat1.isActive {
  background-color: #cb2422;
}

#cat2.isActive {
  background-color: #d26b13;
}

#cat3.isActive {
  background-color: #fac401;
}

#cat4.isActive {
  background-color: #afc624;
}

#cat5.isActive {
  background-color: #829427;
}

#cat6.isActive {
  background-color: #43b17a;
}

#cat7.isActive {
  background-color: #419cd6;
}

#cat8.isActive {
  background-color: #283476;
}

#cat9.isActive {
  background-color: #55d6ff;
}

#cat10.isActive {
  background-color: #a8529a;
}

#cat11.isActive {
  background-color: #e84490;
}

#cat12.isActive {
  background-color: #aaa;
}

@media (min-width: 767px) and (max-width: 1100px) {
  .catSingle {
    width: 16%;
  }

  /*  div.card { 
    padding-top: 3rem;
  }
 */
}

@media (max-width: 767px) {
  .catSingle {
    width: 25%;
  }

  /* div.card  {
    padding-top: 3rem;
  }*/
  /* div.nav-tabs .nav-item {
    width: 100%;
  }*/
}
</style>