<template>

  <b-jumbotron class="adminJumbo">
  
    <div class="infoHolder">
      <div>
        <img src="@/assets/icon-doc1.png" />
        <p>
          {{stats.cekaNaOdobrenje + stats.zatrazeneDorade + stats.odobrene }}
          <span>UKUPAN BROJ PRIJAVA</span>
        </p>
      </div>
      <div>
        <img src="@/assets/icon-doc2.png" />
        <p>
          {{stats.cekaNaOdobrenje}}
          <span>NOVE PRIJAVE</span>
        </p>
      </div>
      <div>
        <img src="@/assets/icon-doc3.png" />
        <p>
          {{stats.zatrazeneDorade}}
          <span>ZATRAŽENE DORADE</span>
        </p>
      </div>
      <div>
        <img src="@/assets/icon-doc4.png" />
        <p>
          {{stats.odobrene}}
          <span>ODOBRENE PRIJAVE</span>
        </p>
      </div>
    </div>
  </b-jumbotron>
</template>

<script>
import axios from 'axios'
export default {
  name: "AdminHeader",
  components: {},
  props: ["tabIndex"],
  data() {
    return {
      stats: []
    };
  },
  mounted(){
    this.loadStat();
    
  },

  methods: {
    loadStat(){
      let token = localStorage.getItem("token");
      axios({
        method: "GET",
        url: this.$store.state.baseUrl + '/admin/api/ponuda/statistic',
        headers: {
          Authorization: "Bearer " + token
        }
      })
      .then(response => {
        console.log(response);
        this.stats = response.data;
      })
      .catch(error => {
        console.log(error)
      })
    }
  }
};
</script>

<style>


.adminJumbo {
  height: 22rem;
  margin: 0px;
  background-image: url("~@/assets/slider1-image.jpg");
  background-position: center;
  position: relative;
  padding: 12vh 0px;
}

.adminJumbo:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-radial-gradient(
    top center,
    rgba(0, 56, 108, 0.6) 0%,
    rgba(0, 56, 108, 0.6) 100%
  );
}

.adminJumbo .infoHolder {
  position: relative;
  z-index: 100;
  color: white;
  display: flex;
  padding: 20px;
  width: 85%;
  background-color: #00386c;
  margin: auto;
      justify-content: space-around;
}

.adminJumbo img {
  max-width: 50px;
  object-fit: contain;
  vertical-align: text-bottom;
}

.adminJumbo p {
  display: inline-block;
  text-align: left;
  margin-left: 15px;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.2;
}

.adminJumbo p span {
  text-align: left;
  font-size: 10px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  display: block;
}
</style>


