<template>
  <div class="waitingHolder">
    <div
      @click="GetCat(index, category)"
      v-if="offers.length > 0"
      class="offerHolder"
    >
      <form id="searchOffers" @submit.prevent="submitSearchField">
        <input
          style="margin-top: 30px"
          class="form-control sreach-input-field"
          type="text"
          placeholder="Upišite pojam za pretraživanje ponuda.... "
          v-model="searchString"
        />
        <input
          style="margin-top: 30px"
          class="form-control search-submit-button"
          type="submit"
          value="Pretraži"
        />
      </form>
      <div class="offer" v-for="offer in offers" :key="offer.id">
        <div class="imageHolder">
          <img
            :src="'/B2B/images/icons/icon-c-cat' + offer.kategorija.id + '.svg'"
          />
          <img :src="offer.slikaGlavna.putanjaSlike" />
          <p v-if="offer.podKategorija">{{ offer.podKategorija.naziv }}</p>
        </div>
        <div class="txtHolder">
          <h4>{{ offer.poslovniSubjekt.naziv }}</h4>
          <p>{{ offer.opisPonude }}</p>
        </div>
        <div class="buttonHolder">
          <a
            @click="
              goTo({ name: 'admin-pregled-ponude', params: { id: offer.id } })
            "
            class="offerBtn blue"
            >POGLEDAJ ONLINE</a
          >
          <a @click="vratiPonudu(offer.id)" class="offerBtn green"
            >REAKTIVIRAJ PONUDU</a
          >
        </div>
      </div>
      <!-- paginacija -->

      <div v-if="pagesTotal.length > 1" class="pagination py-5">
        <!--  <a href="#">&laquo;</a> -->
        <div class="flexRow">
          <a
            :class="{ active: activeIndex === index }"
            :key="index++"
            @click="pagination($event, index)"
            v-for="(page, index) in pagesTotal"
            >{{ page }}</a
          >
        </div>
      </div>
    </div>
    <div v-else class="offerHolder">
      <h2 style="margin: 40px 0">Nema uklonjenih ponuda!</h2>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "AdminNeaktivni",
  components: {},
  props: {},
  data() {
    return {
      searchString: "",
      pagesTotal: "",
      activeIndex: 1,
      isActive: true,
      offers: [],
    };
  },
  mounted() {
    this.loadAllOffers();
  },
  methods: {
    pagination(event, index) {
      this.activeIndex = index;
      this.loadAllOffers();
    },
    vratiPonudu(id) {
      if (confirm("Ste sigurni da želite reaktivirati ponudu?")) {
        let token = localStorage.getItem("token");
        axios({
          method: "POST",
          url: this.$store.state.baseUrl + "/admin/api/ponuda/activate",
          data: {
            ponudaId: id,
          },
          headers: {
            Authorization: "Bearer " + token,
          },
        })
          .then((response) => {
            //location.reload();
            this.$bvModal.show("modal-ok");
            this.loadAllOffers();
          })
          .catch((error) => {
            //console.log(error);
            this.$bvModal.show("modal-error");
          });
      }
    },
    GetCat(index, category) {
      if (this.active_category === category.catID) {
        this.active_category = 0;
        this.trueOffers = false;
        this.indexCat = "";
      } else {
        this.active_category = category.catID;
        this.trueOffers = true;
        this.indexCat = index;
        this.loadAllOffers();
      }

      this.loadAllOffers();
    },
    loadAllOffers(category) {
      let params = new URLSearchParams();

      if (this.trueOffers) {
        params.append("kategorija", this.indexCat);
      }

      if (this.searchString) {
          params.append("searchKey", this.searchString);
      }

      if (this.activeIndex) {
        params.append("page", this.activeIndex);
      }

      let token = localStorage.getItem("token");
      axios({
        method: "GET",
        url:
          this.$store.state.baseUrl + "/admin/api/ponuda/neaktivne?" + params,
        headers: {
          Authorization: "Bearer " + token,
        },
      })
        .then((response) => {
          console.log(response);
          this.offers = response.data.content;
          this.pagesTotal = Array.from(Array(response.data.totalPages)).map(
            (e, i) => i + 1
          );
        })
        .catch((error) => {
          console.log(error);
          this.$bvModal.show("modal-error");
        });
    },
    goTo(pageName) {
      this.$router.push(pageName);
    },
    submitSearchField() {
      this.loadAllOffers();
    },
  },
};
</script>
<style lang="scss" scoped>
/*PAGINACIJA*/

.pagination {
  /* display: inline-block;
      margin: auto;*/
  width: 100%;
}
.flexRow {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.pagination a.active {
  background-color: #00386c;
  color: white;
}

.offerBtn {
  display: block;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.offerBtn.green {
  background-color: #05a701;
  color: white !important;
}

.offerBtn.orange {
  background-color: rgba(255, 122, 0, 0.3);
  color: #ff7a00 !important;
  border: 2px solid #ff7a00;
  box-sizing: border-box;
}

.offerBtn.blue {
  background-color: #00386c;
  color: white !important;
}

.offerBtn.lightBlue {
  color: #00386c !important;
  border: 2px solid #00386c;
  box-sizing: border-box;
}

.offerBtn:hover {
  opacity: 0.8;
}

.txtHolder {
  width: 58%;
  text-align: left;
}

.txtHolder.big {
  width: 78%;
  text-align: left;
}

.txtHolder h4 {
  font-size: 16px;
}

.txtHolder p {
  font-size: 12px;
  line-height: 1.2;
}

.imgHolder {
  width: 20%;
}

.buttonHolder {
  width: 20%;
}

.imageHolder p {
  font-size: 0.7rem;
  text-align: left;
  background: #00386c;
  color: #fff;
  padding: 0.4rem;
}

.imageHolder img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.offer {
  width: 100%;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-top: 10px;
}

.offer:first-of-type {
  margin-top: 25px;
}

.offer:last-of-type {
  margin-bottom: 50px;
}

.catHolder {
  display: flex;
  flex-wrap: wrap;
}

.catSingle {
  display: inline-block;
  width: 8.333%;
  min-width: 60px;
  cursor: pointer;
  padding: 0 0.2rem;
}

.catSingle img {
  width: 100%;
}

.catSingle span {
  display: block;
  font-size: 11px !important;
  padding: 10px;
  line-height: 1.2;
}

.catBorder {
  border-bottom: 5px solid;
  box-sizing: border-box;
}

.cat1 {
  border-color: #cb2422;
}

.cat2 {
  border-color: #d26b13;
}

.cat3 {
  border-color: #fac401;
}

.cat4 {
  border-color: #afc624;
}

.cat5 {
  border-color: #829427;
}

.cat6 {
  border-color: #43b17a;
}

.cat7 {
  border-color: #419cd6;
}

.cat8 {
  border-color: #283476;
}

.cat9 {
  border-color: #55d6ff;
}

.cat10 {
  border-color: #a8529a;
}

.cat11 {
  border-color: #e84490;
}

.cat12 {
  border-color: #dcdcdc;
}

.cat1.active {
  background-color: #cb2422;
}

.cat2.active {
  background-color: #d26b13;
}

.cat3.active {
  background-color: #fac401;
}

.cat4.active {
  background-color: #afc624;
}

.cat5.active {
  background-color: #829427;
}

.cat6.active {
  background-color: #43b17a;
}

.cat7.active {
  background-color: #419cd6;
}

.cat8.active {
  background-color: #283476;
}

.cat9.active {
  background-color: #55d6ff;
}

.cat10.active {
  background-color: #a8529a;
}

.cat11.active {
  background-color: #e84490;
}

.cat12.active {
  background-color: #dcdcdc;
}
</style>