<template>
  <div id="pregledPonude">
    <!-- <div>User {{ $route.params.id }}</div> -->

    <div>
      <!-- <SlikaPregledPonude :slika="offer.slikaGlavna.putanjaSlike" /> -->
      <div class="mainPhoto">
        <img :src="offer.slikaGlavna.putanjaSlike" >
      </div>

      <b-container class="content">
        <h4 v-if="offer.poslovnaJedinica.naziv">{{this.offer.poslovnaJedinica.naziv}}</h4>
        <h4 v-else>{{this.offer.poslovniSubjekt.naziv}}</h4>

        <b-row>
          <b-col class="pr-" lg="8">
            <hr />
            <p style="white-space: pre-line;">{{this.offer.opisPonude}}</p>
            <p class="lijevoSivi">{{this.offer.napomena}}</p>
            <p class="offerLinks">
              <a v-if="this.offer.webPoveznicaDoPonude" :href="this.offer.webPoveznicaDoPonude | cleanURL" target="_new">Ponuda poveznica</a>
              <a v-if="this.offer.dokumentPonudaUrl" :href="this.offer.dokumentPonudaUrl" target="_new">Ponuda dokument</a>
              <a href="" id="poreznaPotvrda">Potvrda</a>
            </p> 
          </b-col>
          <b-col lg="4">
            <div class="aside">
              <h5 class="aside-title">Poslovni subjekt</h5>
              <p><strong>{{this.offer.poslovniSubjekt.naziv}}</strong></p>
              <p>OIB {{this.offer.poslovniSubjekt.oib}}</p>
              <p>{{this.offer.poslovniSubjekt.adresa}}, {{this.offer.poslovniSubjekt.mjesto}}</p>
              <p>T: {{this.offer.poslovniSubjekt.telefon}}</p>
              <p>E: <a :href="'mailto:' + this.offer.poslovniSubjekt.email">{{this.offer.poslovniSubjekt.email}}</a></p>
              <p>W: <a :href="this.offer.poslovniSubjekt.web | cleanURL" target="_new">{{this.offer.poslovniSubjekt.web}}</a></p>
              <h6 class="aside-subtitle">Kontakt osoba</h6>
              <p>{{this.offer.poslovniSubjekt.imePrezimeKontaktOsobe}}</p>
              <p>T: {{this.offer.poslovniSubjekt.telefonKontaktOsobe}}</p>
              <p>E: <a :href="'mailto:' + this.offer.poslovniSubjekt.emailKontaktOsobe">{{this.offer.poslovniSubjekt.emailKontaktOsobe}}</a></p>

            </div>
            <div v-if="offer.poslovnaJedinica.naziv" class="aside">
              <h5 class="aside-title">Poslovna jedinica</h5>
              <p><strong>{{this.offer.poslovnaJedinica.naziv}}</strong></p>
              <p>{{this.offer.poslovnaJedinica.adresa}}, {{this.offer.poslovnaJedinica.mjesto}}</p>
              <p>{{this.offer.poslovnaJedinica.telefon}}</p>
              <p>E: <a :href="'mailto:' + this.offer.poslovnaJedinica.email">{{this.offer.poslovnaJedinica.email}}</a></p>
              <p>W: <a :href="this.offer.poslovnaJedinica.web" target="_new">{{this.offer.poslovnaJedinica.web | cleanURL}}</a></p>
            </div>
          </b-col>

        </b-row>


        <b-row class="py-4">
          <b-col sm="6" md="3" lg="2" v-for="image in offer.slikaSporedne" class="dodatne-fotke">
            <img :src="image.putanjaSlike" :key="image.id" v-b-modal.photo-modal @click="photoModal(image.putanjaSlike)" />
          </b-col>

          <b-modal no-stacking id="photo-modal" size="lg">
            <div class="photo-modal-content">
              <img :src="this.getPhotoSrc()">
            </div>
          </b-modal>
        </b-row>

        <!-- <b-row class="py-4">
          <b-col sm="6" md="3" lg="2" v-for="image in offer.slikaSporedne" class="dodatne-fotke">
            
            <img :src="image.putanjaSlike" :key="image.id" />
          
          </b-col>
        </b-row>-->
        <b-row> 
          <b-col>
            <!-- GOOGLE MAP -->
            <GmapMap :center="center" :zoom="15" style="width: 100%; height: 500px">
              <GmapMarker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.position"
                :clickable="true"
                :draggable="true"
                @click="center=m.position"
              />
            </GmapMap>
          </b-col>
        </b-row>
        <b-row class="py-4 gumbi">
          <b-col >
            <!--   href="/Dashboard" -->
            <b-button @click="goTo('../admin')" block class="plavi-gumb m-0 mt-3">Povratak</b-button>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>
<script>
// @ is an alias to /src
import axios from "axios";
import SlikaPregledPonude from "@/components/carousel/SlikaPregledPonude.vue";

export default {
  name: "home",
  components: {
    SlikaPregledPonude
  },
  data() {
    return {
      photoModalSrc: '',
      center: {
        lat: 45.814464,
        lng: 15.98286
      },
      markers: [
        {
          position: {
            lat: 45.814464,
            lng: 15.98286
          }
        }
      ],
      poreznaDokument: false,
      loadMap: false,
      offer: {
        webPoveznicaDoPonude: '',
        dokumentPonudaUrl: '',
        poslovniSubjekt: {
          oib: "",
          naziv: "",
          adresa: "",
          telefon: "",
          email: "",
          web: "",
          imePrezimeKontaktOsobe: "",
          telefonKontaktOsob: "",
          emailKontaktOsobe: "",
          latitude: "",
          ongitude: ""
        },
        poslovnaJedinica: {
          naziv: "",
          latitude: "",
          longitude: ""
        },
        slikaGlavna: {
          putanjaSlike: ""
        }
      },
      slikaSporedne: {}
    };
  },
  filters: {
    cleanURL(url = "") {
      let newUrl = window.decodeURIComponent(url);
      newUrl = newUrl.trim().replace(/\s/g, "");

      if(/^(:\/\/)/.test(newUrl)){
          return `https${newUrl}`;
      }

      if(!/^(f|ht)tps?:\/\//i.test(newUrl)){
          return `https://${newUrl}`;
      }

      return newUrl;
    }
  },
  methods: {
    goTo(pageName) {
      this.$router.push(pageName);
    },
    getDoc() {
      let token = localStorage.getItem("token");
      let idOffer = this.$route.params.id;
      axios({
        method: "GET",
        url:
          this.$store.state.baseUrl + "/admin/api/ponuda/porezna-potvrda/" + idOffer,
        responseType: "blob",
        headers: {
          Authorization: "Bearer " + token
        }
      })
        .then(response => {
          this.doc = response.data;
        
          let fileType = this.doc.type.split('/')[1];
          let offerId = this.offer.id;
          let fileURL = window.URL.createObjectURL(new Blob([response.data]));
          let fileLink = document.getElementById('poreznaPotvrda');
          
          fileLink.href = fileURL;
          fileLink.setAttribute("download", "porezna-potvrda-" + offerId + '.' + fileType);


        })
        .catch(error => {
          console.log(error);
          let fileLink = document.getElementById('poreznaPotvrda');
          fileLink.removeAttribute("href");
          fileLink.innerHTML = "Nema poreznu potvrdu"
        });
    },
    photoModal(imgURL) {
      //this.photoModalState = true;
      this.photoModalSrc = imgURL;

    },
    getPhotoSrc() {
      return this.photoModalSrc;
    },
    getPonude() {
      let token = localStorage.getItem("token");
      let idOffer2 = this.$route.params.id;
      axios({
        method: "GET",
        url:
          this.$store.state.baseUrl + "/admin/api/ponuda/details/" +
          idOffer2,
        headers: {
          Authorization: "Bearer " + token
        }
      })
        .then(response => {
          this.offer = response.data;
          
          if (response.data.poslovnaJedinica.latitude) {
            this.center.lat = Number(response.data.poslovnaJedinica.latitude);
            this.center.lng = Number(response.data.poslovnaJedinica.longitude);
            this.markers[0].position.lat = Number(
              response.data.poslovnaJedinica.latitude
            );
            this.markers[0].position.lng = Number(
              response.data.poslovnaJedinica.longitude
            );
            this.loadMap = true;
          } else {
            this.center.lat = Number(response.data.poslovniSubjekt.latitude);
            this.center.lng = Number(response.data.poslovniSubjekt.longitude);
            this.markers[0].position.lat = Number(
              response.data.poslovniSubjekt.latitude
            );
            this.markers[0].position.lng = Number(
              response.data.poslovniSubjekt.longitude
            );
            this.loadMap = true;
          }

          if (this.offer.webPoveznicaDoPonude) {
            console.log('imamo poveznicu');
          } else {
            console.log('nemamo poveznicu');
          }

          let dokumentPonuda = this.offer.dokumentPonudaUrl;

          if ( dokumentPonuda && ! dokumentPonuda.includes('https') ) {
            dokumentPonuda = this.$store.state.baseUrl + '/uploads/ponuda/' + dokumentPonuda;
            this.offer.dokumentPonudaUrl = dokumentPonuda;
          }

        })
        .catch(error => {
          this.$bvModal.show("modal-error");
        });
    }
  },
  beforeMount() {

    window.scrollTo(0, 0);
    this.getPonude();
    //this.getDoc();
    // console.log(this.offers.slikePonude);
  },
  mounted() {
    this.getDoc();
  }
};
</script>
<style lang="scss" scoped>
$siva: #e5e5e5;
$sivatext: #9c9c9c;
$plava: #00386c;
$svjetlo-plava: #1da1f2;


.mainPhoto{
  width: 100%;
  height: 600px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }  
}

.content {
  text-align: left;
  font-size: 1.1rem;

  .aside {
    font-size: 14px;
    background: $siva;
    padding: 2rem;

    .aside-title {
      text-transform: uppercase;
      font-size: 0.85rem;
      color: #9a9a9a;
      font-weight: normal;
    }

    .aside-subtitle {
      text-transform: uppercase;
      font-size: 0.75rem;
      color: #aaa;
      margin-top: 1rem;
    }

    + .aside {
      margin-top: -2rem
    }

    p {
      margin-bottom: 0;
      padding-bottom: 0.6rem;
    }
  }

  .offerLink,
  .offerDoc {
    font-size: 0.8rem;
  }

  .lijevoSivi {
    color: $sivatext;
    font-size: 0.8rem;
  }

  hr {
    border-top: 10px solid #00386c;
    margin-top: 0;
  }

  .dodatne-fotke {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
  }

  .dodatne-fotke img {
    margin: 0.25rem;
    flex: 1 1 20%;
    max-width: 200px;
    min-width: 150px;
    max-height: 139px;
    cursor: pointer;
    border: 2px solid #fff;
  }

  .dodatne-fotke img:hover {
    border-color: #00386C
  }

  .gumbi {
    .btn {
      border-color: none;
    }

    .face {
      height: 16px;
      padding-right: 0.3rem;
    }

    .tw {
      height: 13px;
      padding-right: 0.3rem;
    }
  }

  .face_bg {
    background: $plava;
  }

  .tw_bg {
    background: $svjetlo-plava;
  }
}

@media only screen and (max-width: 500px) {
  .dodatne-fotke img[data-v-422af4c2] {
    height: 100px;
    margin-left: 2px;
  }
}

.offerLinks a {
  font-size: 0.8rem;
  display: inline-block;
  margin-right: 0.5rem;
}

</style>
