<template>
  <div class="waitingHolder">
    <div
      v-if="users.length > 0"
      class="offerHolder"
    >
    <input style="margin-top: 30px;" class="form-control" type="text" v-model="searchQuery" placeholder="Search" />
      <div class="offer" v-for="(user, index) in resultQuery" v-bind:key="index">
        <div class="txtHolder">
          <h4>{{ user.email }}</h4>
          <p>{{ user.naziv }}</p>
        </div>
        <div class="buttonHolder">
          <a @click="aktivirajKorisnika(user.userId)" class="offerBtn green"
            >AKTIVIRAJ KORISNIKA</a
          >
        </div>
      </div>
      <!-- paginacija -->

      <div v-if="pagesTotal.length > 1" class="pagination py-5">
        <!--  <a href="#">&laquo;</a> -->
        <div class="flexRow">
          <a
            :class="{ active: activeIndex === index }"
            :key="index++"
            @click="pagination($event, index)"
            v-for="(page, index) in pagesTotal"
            >{{ page }}</a
          >
        </div>
      </div>
    </div>
    <div v-else class="offerHolder">
      <h2 style="margin: 40px 0">Nema neaktivnih korisnika!</h2>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "UserList",
  components: {},
  props: {},
  data() {
    return {
      pagesTotal: "",
      activeIndex: 1,
      isActive: true,
      users: [],
      searchQuery: null,
    };
  },
  mounted() {
    this.loadAllInactiveUsers();
  },
  methods: {
    pagination(event, index) {
      this.activeIndex = index;
      this.loadAllInactiveUsers();
    },
    aktivirajKorisnika(id) {
      if (confirm("Ste sigurni da želite aktivirati korisnika?")) {
        let token = localStorage.getItem("token");
        axios({
          method: "POST",
          url: this.$store.state.baseUrl + "/admin/api/users/activate",
          data: {
            userId: id,
          },
          headers: {
            Authorization: "Bearer " + token,
          },
        })
          .then((response) => {
            //location.reload();
            this.$bvModal.show("modal-ok");
            this.loadAllInactiveUsers();
          })
          .catch((error) => {
            //console.log(error);
            this.$bvModal.show("modal-error");
          });
      }
    },
    loadAllInactiveUsers() {
      let params = new URLSearchParams();

      if (this.trueOffers) {
        params.append("kategorija", this.indexCat);
      }

      if (this.activeIndex) {
        params.append("page", this.activeIndex);
      }

      let token = localStorage.getItem("token");
      axios({
        method: "GET",
        url:
          this.$store.state.baseUrl + "/admin/api/users/inactive?" + params,
        headers: {
          Authorization: "Bearer " + token,
        },
      })
        .then((response) => {
          console.log(response);
          this.users = response.data;
          this.pagesTotal = Array.from(Array(response.data.totalPages)).map(
            (e, i) => i + 1
          );
        })
        .catch((error) => {
          console.log(error);
          this.$bvModal.show("modal-error");
        });
    },
    goTo(pageName) {
      this.$router.push(pageName);
    },
  },
  computed: {
    resultQuery(){
      if(this.searchQuery){
      return this.users.filter((item)=>{
        return this.searchQuery.toLowerCase().split(' ').every(v => item.email.toLowerCase().includes(v) || item.naziv.toLowerCase().includes(v))
      })
      }else{
        return this.users;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
/*PAGINACIJA*/

.pagination {
  /* display: inline-block;
      margin: auto;*/
  width: 100%;
}
.flexRow {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.pagination a.active {
  background-color: #00386c;
  color: white;
}

.offerBtn {
  display: block;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.offerBtn.green {
  background-color: #05a701;
  color: white !important;
}

.offerBtn.orange {
  background-color: rgba(255, 122, 0, 0.3);
  color: #ff7a00 !important;
  border: 2px solid #ff7a00;
  box-sizing: border-box;
}

.offerBtn.blue {
  background-color: #00386c;
  color: white !important;
}

.offerBtn.lightBlue {
  color: #00386c !important;
  border: 2px solid #00386c;
  box-sizing: border-box;
}

.offerBtn:hover {
  opacity: 0.8;
}

.txtHolder {
  width: 58%;
  text-align: left;
}

.txtHolder.big {
  width: 78%;
  text-align: left;
}

.txtHolder h4 {
  font-size: 16px;
}

.txtHolder p {
  font-size: 12px;
  line-height: 1.2;
}

.imgHolder {
  width: 20%;
}

.buttonHolder {
  width: 20%;
}

.imageHolder p {
  font-size: 0.7rem;
  text-align: left;
  background: #00386c;
  color: #fff;
  padding: 0.4rem;
}

.imageHolder img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.offer {
  width: 100%;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-top: 10px;
}

.offer:first-of-type {
  margin-top: 25px;
}

.offer:last-of-type {
  margin-bottom: 50px;
}

.catHolder {
  display: flex;
  flex-wrap: wrap;
}

.catSingle {
  display: inline-block;
  width: 8.333%;
  min-width: 60px;
  cursor: pointer;
  padding: 0 0.2rem;
}

.catSingle img {
  width: 100%;
}

.catSingle span {
  display: block;
  font-size: 11px !important;
  padding: 10px;
  line-height: 1.2;
}

.catBorder {
  border-bottom: 5px solid;
  box-sizing: border-box;
}
</style>